.headerContainer {
  background: transparent;
  position: relative;
  min-height: 85px;
}

.iconDiv {
  position: absolute;
  top: 0;
  left: 0;
}

.iconDiv img {
  width: 70px;
  height: 70px;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.nameDiv {
  position: absolute;
  top: 0px;
  left: 88px;
  font-size: 20px;
  color: ~colors.black;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 500;
}

.rankDiv {
  position: absolute;
  top: 55px;
  left: 88px;
  font-size: 16px;
  color: ~colors.black;
}

.membersDiv {
  position: absolute;
  top: 24px;
  left: 88px;
  font-size: 15px;
  color: ~colors.black;
}

.membersDiv span {
  font-size: 14px;
  font-weight: normal;
}

.rankDiv:hover {
  cursor: pointer;
}

.rankDiv span {
  font-size: 16px;
  color: ~colors.black;
  font-weight: 500;
  vertical-align: top;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: ~colors.black;
  text-transform: uppercase;
  max-width: 90%;
  position: absolute;
  top: 55px;
  left: 88px;
}

.link:hover {
  cursor: pointer;
}

.link span {
  font-weight: normal;
}