.appDialogContent {
  text-align: center;
  font-size: 18px;
  color: ~colors.black;
  margin: 20px 0 0 0;
}

.appDialogContent a {
  color: ~colors.white;
  height: 44px;
  background: ~colors.melon;
  padding: 4% 0px 0px 0px;
  width: 60%;
  margin: 30px 20% 0 20%;
  font-weight: 500;
  display: block;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  {
    .appDialogContent a {
      padding: 3% 0px 0px 0px;
    }
}