.listening {
    fill:red;
}

.passive{
    fill:white;
}

.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.textContainer{
    min-width: 200px;
    min-height: 50px;
    right: 64px;
    bottom: 6px;
    position: absolute;
    border-radius: 25px;
    background: #bbb;
}

.text{
    top:50%;
    position: absolute;
    transform: translateY(-50%);
    padding: 0 20px;
}

.container{
    width: 60px;
    height: 60px;
    background-color: #4e8cff;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 100px;
    bottom: 25px;
    border-radius: 50%;
    box-shadow: none;
    z-index:35;
    transition: box-shadow 0.2s ease-in-out;
}