.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.modelHeader {
    text-align: center;
    margin-top: 10%;

    font-weight: 500;
    font-size: 24px;
    color: #282c3f;
}

.container a {
    cursor: pointer;
}

.image {
    width: 130px;
    height: 170px;
    margin: 24px 12px;
    vertical-align: top;
    object-fit: cover;
}
