.sc-chat-window {
    width: 370px;
    height: calc(100% - 120px);
    max-height: 590px;
    position: fixed;
    right: 25px;
    bottom: 100px;
    box-sizing: border-box;
    box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    z-index:10;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .sc-chat-window.closed {
    opacity: 0;
    visibility: hidden;
    bottom: 90px;
  }

.option{
  margin:0 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 25px;
  color: #333;
}

.optionList{
  display: flex;
  margin: 10px 0;
  align-content: flex-end;
}

@media (max-width: 450px) {
    .sc-chat-window {
      width: 100%;
      height: 100%;
      max-height: 100%;
      right: 0px;
      bottom: 0px;
      border-radius: 0px;
    }
    .sc-chat-window {
      transition: 0.1s ease-in-out;
    }
    .sc-chat-window.closed {
      bottom: 0px;
    }
  }