.progress-wrapper {
  position: relative;
  text-align: left;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.fillText{
  position: absolute;
  z-index: 1;

	font-size: 11px;
	font-weight: 500;
	color: #282c3f;
  padding: 5px;
}

.legendSeperatorLabel {
  color: ~colors.white !important;
  box-sizing: border-box;
  height: 20px;
  width: 56px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  padding: 2px 0 3px 0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}
