.leftCardContainer {

}

.leftCardContainer .leftCardOverlay {
    background-color: #000000;
	opacity: 0.4;
	z-index: 10039;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
    height: 100%;
    display: none;
    right: 0;
}

.leftCardContainer .leftCard {
    position: fixed;
	z-index: 10040;
	top: 0;
    right: -28%;
	background: #fff;
	overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    transition: right 200ms ease-in;
    will-change: right;
	> div.actualContent {
        width: 100%;
        overflow-y : scroll;
        position: relative;
        outline: none;
	}
}

.paddedContent {
    padding: 0 24px 24px;
}

.paddedHeader {
    padding: 24px 24px 0;
}

.narrowLeftCard {
    width: 34%;
    max-width: 500px;
}

.wideLeftCard {
    width: 45%;
    max-width: 600px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    padding: 16px;
    font-size: 18px;
}

.footerGap {
    height: ~"calc(100% - 70px)";
}

.noFooterGap {
    height: 100%;
}

@media screen and (max-height: 1000px) {
    .footer {
        font-size: 16px;
    }
}

.leftCardContainer .closeLeftCard {
    position: absolute;
    top: 37px;
    right: 23px;
    z-index: 10;
	width: 14px !important;
	height: 15px;
	display: flex;
	background: #fff;
	justify-content: center;
	cursor: pointer;
    transition: right 400ms linear;
    > span {
        font-size: 18px;
        cursor: pointer;
    }
}

.leftCardContainer .closeRightCard {
    position: absolute;
    top: 37px;
    left: 23px;
    z-index: 10;
	width: 14px !important;
	height: 15px;
	display: flex;
	background: #fff;
	justify-content: center;
	cursor: pointer;
    transition: right 400ms linear;
    > span {
        font-size: 18px;
        cursor: pointer;
    }
}

.actualContent .actualHeader {
  margin: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #282c3f;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
}

.removeMark {
  margin-top: 9px;
  margin-left: -1px;
  zoom: 0.7;
  transform: scale(2);
  transform-origin: 9px -9px;
  composes: remove from '../../resources/sprites.css';
}

.subtitledHeader {
    width: 100%;
    height: 72px;
    /* grid-template-columns: 15% 70% 15%;
    grid-template-rows: 60% 40%; */
    margin-bottom: 16px;
    border-bottom: solid 1px #d4d5d9;
}

.gridHeaderLeft {
    display: inline-block;
    height: 100%;
    width: 15%;
    font-size: 32px;
    color: #535665;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.gridHeader {
    display: inline-block;
    height: 100%;
    width: 70%;
    text-align: center;
}

.gridHeaderTitle {
    font-family: Whitney;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    height: 60%;
    color: #3e4152;
    vertical-align: middle;
}

.gridHeaderSubTitle {
    font-family: Whitney;
    font-size: 14px;
    line-height: 24px;
    height: 40%;
    vertical-align: middle;
    color: #94969f;
}

@media screen and (max-height: 700px) {
    .subtitledHeader {
        height: 56px;
        margin-bottom: 14px;
    }
    
    .gridHeaderTitle {
        font-size: 22px;
        line-height: 36px;
    }
    
    .gridHeaderSubTitle {
        font-size: 13px;
        line-height: 22px;
    }
    
    .gridHeaderLeft {
        font-size: 24px;
    }
}