.container {
  position: relative;
}

.list {
  margin-bottom: 0;
}

.scrollableList {
  max-height: 205px;
  padding-bottom: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: inset 0 -9px 4px -8px rgba(0,0,0,0.1);
  transition: max-height .5s;
  box-sizing: border-box;
}

.expanded {
  max-height: 307.5px;
}

.list label {
  cursor: pointer;
}

.num {
  color: #94969f;
  font-size: 11px;
  margin-left: 4px;
}

.categorySearch {
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.categorySearch:focus {
  border: 1px solid #526cd0;
}

.more {
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;
  color: #ff3f6c;
  margin-left: 27px;
}
