.imageThumbWrapper {
  .headline {
    color: #282C3F;
    line-height: 1.4;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.container {
  display: flex;
  margin: 0 -5px;

  .thumb {
    cursor: pointer;
    width: 75px;
    height: 75px;
    margin: 5px;
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
    }
  }

  .thumbLast {
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      content: '';
      opacity: 0.8;
      background-color: #282c3f;
      z-index: 3;
    }
  }

  .imageCount {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 21px;
    z-index: 4;
    text-align: center;
  }
}