.addNameDialogContent {
  font-size: 18px;
  color: ~colors.black;
  margin: 20px 0 0 0;

}

.heading {
  font-weight: 500;
  margin: 0 0 30px 0;
}

.addNameDialogContent a {
  color: ~colors.white;
  height: 44px;
  background: ~colors.melon;
  padding: 4% 0px 0px 0px;
  width: 60%;
  margin: 30px 20% 0 20%;
  font-weight: 500;
  display: block;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
}

.row {
  position: relative;
}


.label {
  position: absolute;
  bottom: 22px;
  left: 0px;
  pointer-events: none;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  font-size: 15px;
  color: ~colors.dark;
}

.labelFloat {
  composes: label;
  bottom: auto;
  top: 7px;
  opacity: 1;
  font-size: 10px;
  color: ~colors.medium_60;
}

.input {
  display: block;
  padding: 25px 0 8px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid ~colors.light;
  outline: none;

  font-weight: 500;
  line-height: 17px;
  box-shadow: none;
}

.input:focus {
  border-color: ~colors.black;
}

.input:focus + .label{
  color: ~colors.black;
  opacity: 0.4;
}

.error{
  color: ~colors.red;
  visibility: hidden;
  height: 18px;
  padding: 3px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}

.errorShow {
  composes: error;
  visibility: visible;
  height: auto;
}

.action {
  width: 100%;
  border-radius: 3px;
  background-color: ~colors.melon;
  border: 1px solid ~colors.white;
  margin: 20px 0 38px 0;
  height: 44px;
  text-align: center;
}

.action:hover {
  cursor: pointer;
}

.action button {
  color: ~colors.white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 4% 0 0 0;
  background: ~colors.melon;
  border: none;
  outline: none;
}

.cancellink {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: ~colors.melon;
  font-weight: 500;
  margin: 0 0 32px 0;
}

.cancellink:hover {
  cursor: pointer;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
   {
    .action button {
      padding: 3% 0 0 0;
    }
}
