.groupsContainer {
  padding: 0 0 5px 0;

  background: ~colors.white;
}

.baseContainer {
  outline: none;
}

.loaderDiv {
  min-height: 400px;
  position: relative;
}

.spinner {
  height: 16px;
  width: 16px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid ~colors.melon;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 8;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.errorDiv {
  min-height: 150px;
  position: relative;
}

.errorDiv span {
  position: absolute;
  top: ~"calc(50% - 20px)";
  left: ~"calc(50% - 150px)";
  color: ~colors.red;
}



/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
   {
    .baseContainer {
      background: #feedf6;
      background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
      background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
      background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
      min-height: 600px;
      padding: 80px 0;
      margin-top: -5px !important;
    }
    .groupsContainer {
      box-shadow: 0 2px 15px rgba(0,0,0,.1);
      max-width: 480px;
      margin: auto;

      background: ~colors.black_5;
      min-height: 600px;
    }
    .loaderDiv, .errorDiv {
      min-height: 350px;
    }
}

@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .baseContainer {
      margin-top: -85px !important;
    }
  }
