.base {
  vertical-align: top;
  padding: 20px 0px 0px 0px;
}

.list {
  font-size: 14px;
  overflow: hidden;
  display: inline-block;
  margin: 0 0 0 25px;
  vertical-align: top;

}

.item {
  font-size: 14px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  text-transform: capitalize;
  line-height: 1;
}

.item:after {
  font-size: 14px;
  content: '/';
  margin-left: 5px;
  color: #282C3F;
}

.crumb {
  text-decoration: none;
  color: #282C3F;
  text-transform: capitalize;
}

.item:last-child {
  font-weight: 500;
}
.item:last-child:after {
  content: '';
  display: none;
}
