.container {
  text-align: center;
}

.subcontainer {
  border-bottom: 1px solid ~colors.red;
  padding: 15px 5px 15px 5px;
  margin: 0 0 20px 0;
}

.text {
  font-size: 14px;

  line-height: 20px;
}

.text span {
  font-weight: 600;
  padding: 0 30px 0 0;
}

.changeLink {
  display: inline-block;
  font-weight: 600;
  color: ~colors.melon;
}

.changeLink:hover {
  cursor: pointer;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  {
  	.container {
	  text-align: center;
	  padding: 20px 0 0 0;
	}
	.subcontainer {
	  max-width: 360px;
	  border: 1px solid ~colors.red;
	  padding: 15px;
	  margin: 0 auto;
	}
}
