.userReviewWrapper {
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaec;
  padding: 18px 0;
  margin: 0;

  .main {
    position: relative;
    padding-left: 35px;

    .starWrapper {
      position: absolute;
      top: 3px;
      left: 0;

      .starRating {
        color: #ffffff;
        font-size: 10px;
        font-weight: 600;
        position: relative;
        height: 14px;
        width: 22px;
        line-height: 14px;
        display: block;
        padding-left: 4px;
        border-radius: 1px;
        box-sizing: border-box;

        &.oneStar {
          background-color: #f16565;
        }
        &.twoStars {
          background-color: #fcb301;
        }
        &.threeStars {
          background-color: #72bfbc;
        }
        &.fourStars {
          background-color: #72bfbc;
        }
        &.fiveStars {
          background-color: #14958f;
        }
      }
    }

    .reviewTextWrapper {
      font-size: 16px;
      color: #282c3f;
      line-height: 20px;
    }
  }

  .footer {
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
    color: #565a63;
    font-size: 14px;
    margin-top: 14px;

    .left span:first-child:after {
      content: '|';
      width: 15px;
      display: inline-block;
      text-align: center;
    }
  }

  .votes {
    font-size: 12px;

    .thumb {
      display: inline-block;
      margin-left: 30px;
    }
  }

  &.fromModal {
    border: 0;
    .main {
      .reviewTextWrapper {
        font-size: 14px;
      }
    }
    .footer {
      font-size: 10px;
    }
    .votes {
      .thumb {
        margin-left: 15px;
      }
    }
  }
}

.rotate180 {
  transform: rotate(180deg);
}

.thumbsDown {
  position: relative;
  top:-3px;
}

.thumbsUp {
  position: relative;
  top: 3px;
}

.thumbIcon {
  margin: 0 8px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.starIcon {
  position: absolute;
  top: 1px;
  left: 10px;
}
