.container {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 5px;
  border-radius: 20px;
  transform: translate(-50%);
  z-index: 6;
  background-color: ~colors.white;
  box-shadow: 0px 0px 3px 2px #00000017;
}
