.reviewsContainer {
  width: 100%;
  position: relative;
  z-index: 8;
  background: white;

  .headline {
    display: flex;
    justify-content: space-between;
    color: #282C3F;
    line-height: 1.4;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
  }
  
  .noReview {
    margin-top: 20px;
  }
  
  .userReviewsContainer {
    margin-bottom: 15px;
  } 

  .allReviews {
    font-size: 14px;
    font-weight: 600;
    color: #ff3f6c;

    &:hover, &:active, &:visited {
      font-size: 14px;
      font-weight: 600;
      color: #ff3f6c;
    }
  }

  &.ownPage {
    margin: 0 auto;
    width: auto;
    max-width: 1600px;
    padding: 0 30px;
    box-sizing: border-box;
  }

  &.zIndexMagic{
    z-index: 10;;
  }

  .flexContainer {
    display: flex;

    .flexProduct {
      margin-right: 40px;
    }
    
    .flexReviews {
      flex: 1;
    }
  }

  .infiniteScroll {
    height: 80px;
  }
}

.noReviewDetailedRating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  flex-direction: column;

  .noReviewsAvailable {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #ff3f6c;
  }
}