.base{
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
}
.border{
  border: solid 1px ~colors.black_10;
  padding: 1px;
}
.borderTop{
  border-top: solid 1px ~colors.black_10;
  padding-top: 1px;
}
.borderBottom{
  border-bottom: solid 1px ~colors.black_10;
  padding-bottom: 1px;
}
.borderRight{
  border-right: solid 1px ~colors.black_10;
  padding-right: 1px;
}
.borderLeft{
  border-left: solid 1px ~colors.black_10;
  padding-left: 1px;
}
.aspectContainer {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
.container{
  margin: 0 auto;
}

.base_3_5 {
  min-width: 20% !important;
}

.base_3_4 {
  min-width: 25% !important;
}

.base_3_3 {
  min-width: 33% !important;
}

.base_3_2 {
  min-width: 50% !important;
}

.base_3_1 {
  min-width: 100% !important;
}

@media (max-width: 700px) {
  .base_2_5 {
    min-width: 20% !important;
  }

  .base_2_4 {
    min-width: 25% !important;
  }

  .base_2_3 {
    min-width: 33% !important;
  }

  .base_2_2 {
    min-width: 50% !important;
  }

  .base_2_1 {
    min-width: 100% !important;
  }
}
@media (max-width: 400px) {
  .base_1_5 {
    min-width: 20% !important;
  }

  .base_1_4 {
    min-width: 25% !important;
  }

  .base_1_3 {
    min-width: 33% !important;
  }

  .base_1_2 {
    min-width: 50% !important;
  }

  .base_1_1 {
    min-width: 100% !important;
  }
}
