.container {
  width: 380px;
  margin-bottom: 50px;

  .brand {
    color: #282C3F;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px 0px 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }
  .name {
    color: #535665;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 20px 14px 0px;
    font-size: 20px;
    opacity: 0.8;
    font-weight: 400;
  }
  .discountContainer {
    color: ~colors.dark;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .discount {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: ~colors.orange_new;
  }

  .selling-price {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
  }

  .price {
    font-weight: 500;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: ~colors.ultra_dark;
    margin-right: 12px;
    cursor: pointer;
  }

  .mrp {
    height: 22px;
    opacity: 0.8;
    font-size: 20px;
    line-height: 1.2;
    color: #282C3F;
    margin-right: 12px;
  }

  .imageWrapper {
    width: 378px;
    height: 504px;
    border: solid 1px #eaeaec;
    margin-bottom: 15px;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 2;
    }
  }
}
