.amnContainer{
  width: 360px;
  padding: 36px;
  background-color: white;
  color: #525669;
  text-align: left;

}
.amnHeading{
  font-weight: 500;
  font-size: 18px;
  margin-top: 32px;
}
.amnDescription{
  font-size: 14px;
  margin: 16px 0 20px;
}
.amnButton{
  font-size: 14px;
  background-color: #ff3f6c;
  padding: 12px 0;
  color: white;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
}