.productRatingsLowIcon {
  composes: productRatingsLowIcon from '../../../resources/sprites.css';
}

.productRatingsAverageIcon {
  composes: productRatingsAverageIcon from '../../../resources/sprites.css';
}

.productRatingsGoodIcon {
  composes: productRatingsGoodIcon from '../../../resources/sprites.css';
}

.productRatingsExcellentIcon {
  composes: productRatingsExcellentIcon from '../../../resources/sprites.css';
}
