.timer {
  color: #ff3e6c;
  font-size: 18px;
  display: inline-block;

  line-height: 21px;
  padding: 10px 0 0 0;
  min-width: 22px;
  font-weight: normal;
}

.timerUnit {
  padding: 0 5px 0 0;
  color: ~colors.black_50;
}
