.seoContainer {
  padding: 20px 0 60px;
  color: ~colors.black_80;
  width: 100%;
  text-align: justify;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: ~colors.black_70;
  font-size: 16px;
}

.descContainer {
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 0;
  color: ~colors.black_60;
  width: 61%;

  p:first-child {
    margin-top: 0px;
  }
  
  strong {
    color: ~colors.black_70;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }
}

.descContainer a {
  font-weight: 500;
  color: ~colors.black_60;
}

.priceContainer {
  font-size: 12px;
  float: right;
  padding-left: 30px;
  max-width: 380px;

  td:last-child {
    white-space: nowrap;
  }
}

.priceContainer table {
  border-collapse: collapse;
}

.priceContainer td, th {
  text-align: left;
  padding: 8px;
}

.dateTitle {
  font-style: italic;
  padding: 10px 0 0 6px;
  font-weight: bold;
}

.toggleRead {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: ~colors.blue;
}

