.skeletonLoader {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 99.99%;
  height: 99.99%;
  background: #eaeaec linear-gradient(
    left,
    #eaeaec 0,
    #dad9d9 35%,
    #eaeaec 70%,
    #eaeaec 100%
  ) no-repeat;
  background-size: 800px 100%;
  animation: loading-skeleton 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
  forwards;
}

@keyframes loading-skeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}