.overallRatingContainer {
  width: auto;
  border-bottom: 1px solid ~colors.black_20;
}

.overallRating {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 29px;
  padding: 8px;
  border: 1px solid #EAEAEC;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #282c3f;

  .starIcon {
    margin: 0px -8px 0px -2px;
    transform: scale(0.6);
  }

  .separator {
    margin-left: 8px;
    margin-top: -2px;
    color: #d4d5d9;
    width: 1px;
  }

  .ratingsCount {
    margin-left: 8px;
    font-weight: 400;
    color: #535766;
    width: fit-content;
  }
}

.overallRating:hover {
  border: 1px solid #535766;
}

.detailedRatingContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  padding-bottom: 20px;
  border-bottom: 1px solid #D4D5D9;

  &.inPdp {
    margin-top: 40px;
  }

  .header {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 7px;
    color: #282C3F;
  }

  .flexColumn {
    display: flex;
    flex-direction: column;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
  }

  .margin22 {
    margin-top: 22px;
  }

  .averageRating {
    height: 58px;
    font-size: 48px;
    color: #282c3f;
  }

  .starIcon {
    margin: 25px 0 0 10px
  }

  .countDesc {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #282c3f;
  }

  .separator {
    margin-left: 34px;
    height: 96px;
    border-left: 1.2px solid #eaeaec;
  }

}

.productRatingsIcon {
  vertical-align : middle;
  margin-left: 5px;
  composes: productRatingsIcon from '../../resources/sprites.css';
}
