.base{
	width: 100%;
	margin: 0px auto;
	display: block;
	position: relative;
	text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.container{
  position: relative;
}
.imageContainer{
	position: relative;
	width: 100%;
}
.hideOverflow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.image {
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
	width: 100%;
  transition: all .3s ease-in-out;
}
.container:hover .image{
  transform: scale(1.05);
  overflow: hidden;
}
.text{
	padding-top: 15px;
  width: 100%;
}
.title{
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  text-overflow: ellipsis;
	display: block;
	color: ~colors.black_80;
	font-weight: 500;
}
.subtitle{
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  text-overflow: ellipsis;
  padding-top: 5px;
  display: block;
  color: ~colors.black_60;
  font-weight: 100;
}
.shop{
  font-weight: 500;
  color: #6B6A79;
  padding: 8px;
  border-radius: 4px;
  border-color: #6B6A79;
  box-sizing: border-box;
  border-width: 1px;
  width: 35%;
  margin: 0 auto;
  border-style: solid;
}
/* remove animation */
/*.animated{
	animation: appear 0.2s 1 ease-in-out;
}
@keyframes appear {
	from { transform: scale(0.9); opacity: 0.2; }
	to { transform: scale(1); opacity: 1; }

.container:hover {
  transform: scale(1.05);
}
}*/
