.container {
  position: fixed;
  top: 122px;
  color: ~colors.white;
  width: 100%;
  padding: 0 52px;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  min-height: 50px;
  z-index: 10;
  text-align: center;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce-in-down;
  -moz-animation-name: bounce-in-down;
  animation-name: bounce-in-down;
}

.content {
  max-width: 380px;
  width: 80%;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(40, 44, 64, 0.2);
  margin: 0 auto;
}

.default {
  composes: content;
  background-color: ~colors.dark;
}

.info {
  composes: default;
  background-color: ~colors.ultra_dark;
  position: relative;
  text-align: center;
}


.success {
  composes: content;
  background-color: ~colors.green;
}

.error {
  composes: content;
  background-color: ~colors.orange;
}

.error-message {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.icon {
  border: 2px solid ~colors.white;
  padding: 0px 7px;
  border-radius: 21px;
  position: absolute;
  top: 12px;
  left: 0px;
  margin-top: -10px;
}

.info-message {
  font-size: 14px;
  font-weight: 500;
}

.thumbnail {
  position: absolute;
  width: 28px;
  height: 38px;
  top: 5px;
  left: 4px;
}

.text {
  margin-left: 15px;
}

.icon-text {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.thumbnail-text {
  margin: 6px 0px 6px 25px;
  text-align: left;
  display: inline-block;
}

.button {
  border-radius: 3px;
  outline: 0px;
  padding: 3px 12px;
  min-height: 22px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 30px;
  float: right;
}

.text-left {
  text-align: left;
}

.action {
  composes: button;
  background-color: ~colors.green;
  border: 1px solid ~colors.green;
  color: ~colors.white;
}

@media all and (min-width: 992px) {

  .content {
    width: auto;
    margin: 0 auto;
  }

  .error {
    text-align: left;
  }

  .container {
    z-index: 100;
    -webkit-animation-name: bounce-in-down-desktop;
    -moz-animation-name: bounce-in-down-desktop;
    animation-name: bounce-in-down-desktop;
  }

  .thumbnail {
    width: 30px;
    height: 39px;
    top: 6px;
    left: 5px;
  }

  .info-message {
    font-size: 16px;
  }

  .pull-right {
    float: right;
  }
}

@-webkit-keyframes bounce-in-down {
  0% {
     opacity: 0;
     top: -1000px;
  }
  60% {
    opacity: 1;
    top: 90px;
  }
  80% {
    top: 50px;
  }
  100% {
    top: 70px;
  }
}

@-moz-keyframes bounce-in-down {
  0% {
     opacity: 0;
     top: -1000px;
  }
  60% {
    opacity: 1;
    top: 90px;
  }
  80% {
    top: 50px;
  }
  100% {
    top: 70px;
  }
}

@keyframes bounce-in-down {
  0% {
     opacity: 0;
     top: -1000px;
  }
  60% {
    opacity: 1;
    top: 90px;
  }
  80% {
     top: 50px;
  }
  100% {
     top: 70px;
  }
}

@-webkit-keyframes bounce-in-down-desktop {
  0% {
     opacity: 0;
     top: -1000px;
  }
  60% {
    opacity: 1;
    top: 130px;
  }
  80% {
     top: 90px;
  }
  100% {
     top: 122px;
  }
}

@-moz-keyframes bounce-in-down-desktop {
  0% {
     opacity: 0;
     top: -1000px;
  }
  60% {
    opacity: 1;
    top: 130px;
  }
  80% {
     top: 90px;
  }
  100% {
     top: 122px;
  }
}

@keyframes bounce-in-down-desktop {
  0% {
     opacity: 0;
     z-index: -1;
     top: -1000px;
  }
  60% {
    opacity: 1;
    top: 130px;
  }
  80% {
     top: 90px;
  }
  100% {
     top: 122px;
  }
}
