.membersContainer {
  padding: 5px 0 0 0;
  background: ~colors.black_5;
}

.membersListItem {
  margin: 5px 0 0 0;
}

.membersListItem:first-child {
  margin: 0 0 0 0;
}

.headerDiv {
  height: 64px;
  background: ~colors.white;
  box-shadow: 0 -8px 23px 0 rgba(41, 48, 63, 0.07);
}

.headerDiv div {
  padding: 22.5px 0 22.5px 16px;
  font-size: 14px;
  color: ~colors.black_70;
}

.headerDiv span:first-child {
  font-weight: 500;
}

.headerDiv span {
  font-size: 16px;
  color: ~colors.black_80;
  padding: 0 8px 0 0;
}

.shareBlock{
  display: inline-block;
  margin: 24px 0 0 10px;
}

.shareBlock a img {
  width: 44px;
}

.action {
  width: 40%;
  border-radius: 3px;
  background-color: ~colors.melon;
  margin: 10px 30% 20px 30%;
  height: 44px;
}

.action:hover {
  cursor: pointer;
}

.action button {
  color: ~colors.white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 8% 0 0 0;
  background: ~colors.melon;
  border: none;
  outline: none;
}

.copy {
  color: ~colors.melon;
  font-weight: 500;
}

.copy:hover {
  cursor: pointer;
}

.inviteGroupBlock {
  text-align: center;
  margin: 0 0 20px 0;
}

.copyLink {
  font-size: 14px;
  color: ~colors.black_70;
  padding: 0 20px 0 20px;
  word-break: break-word;
  line-height: 21px;
  position: fixed;
  top: -100px;
}

.inviteText {
  font-size: 18px;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
   { 
    .action button {
      padding: 6% 0 0 0;
    }
}
