.shade-container {
  display: flex;
  overflow: scroll;
  padding: 0 0 0 12px;
}

.shade {
  position: relative;
  display: flex;
  flex-direction: column;

  text-align: center;
  color: #94969f;
  width: 60px;
  padding: 0 8px 0 0;
}

.shade.selected {
  color: #282c3f;
  font-weight: bold;
}

.whiteCheckMark {
  composes: whiteTick from '../../../../resources/sprites.css';
  transform: scale(1.2);
  position: absolute;
  top: 12px;
  left: 22px;
}

.darkCheckMark {
  composes: darkTick from '../../../../resources/sprites.css';
  transform: scale(1.2);
  position: absolute;
  top: 10px;
  left: 24px;
}

.shade-img {
  height: 36px;
  width: 100%;
}

.none-shade {
  height: 34px;
  width: 100%;
  border: 1px solid #bfc0c6;
  background-color: #d4d5d9;
}

.diagnolLine{
  width: 70px;
  height: 41px;
  border-bottom: 1px solid #bfc0c6;
  transform: translateY(-22px) translateX(5px) rotate(30deg);
}

.shade-text {
  margin-top: 6px;
  font-size: 10px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marginTop10 {
  margin-top: 10px;
}
