<!DOCTYPE html>
<html lang="en">
<head>
  <title>[[= model.data.title]]</title>
  <meta name="theme-color" content="#fffff" />
  <link rel="dns-prefetch preconnect" href="https://constant.myntassets.com">
  <link rel="dns-prefetch preconnect" href="https://assets.myntassets.com">
  <link rel="dns-prefetch preconnect" href="https//www.googletagmanager.com">
  <link rel="dns-prefetch preconnect" href="https//www.google-analytics.com">
  <link rel="dns-prefetch preconnect" href="https//connect.facebook.net">
  <link rel="dns-prefetch preconnect" href="https://www.facebook.com">
  <link rel="dns-prefetch preconnect" href="https://touch.myntra.com">
  <link rel="manifest" href="/manifest.json">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.myntra.com/opensearch.xml" title="Myntra Fashion Search">

  [[= model.data.preloadTags]]
  <link rel="preload" as="image" href="https://constant.myntassets.com/web/assets/img/b8817bd3-5993-48e4-9771-92e4e565b5141571898164626-MyntraWeb-Sprite.png">

  [[= model.data.ampLinks]]
  [[= model.data.metaTags]]
  [[= model.data.schema]]

  <style>
    <% for (let cssFile of htmlWebpackPlugin.files.css) { %>
    <%= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    <% } %>
  </style>
  [[= model.data.fontStyle]]
</head>
<body>
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-H34B"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>window.trackNode = ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode);</script>

  [[= model.data.header]]

  [[= model.data.raw]]
  <script>[[= model.data.props]]</script>
  [[= model.data.pumpData]]

  <script>
    window.__myx_seo__ = [[= JSON.stringify(model.data.seo) ]];
    window.__myx_navigationData__ =  [[= JSON.stringify(model.data.topnav) ]];
    window.__myx_instrumentation_env = [[= JSON.stringify(model.data.instrumentEnv) ]];
  </script>

  <div id="mountRoot" style="min-height:750px;margin-top:-2px;">[[= model.data.reactOutput]]</div>
  <div id="amnHalfCard"></div>
  <div style="position: relative">
    <div id="web-footerMount">
      [[= model.data.footer]]
    </div>
  </div>

  <script>
    (function (w, d, s, l) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      });
    })(window, document, 'script', 'dataLayer');
  </script>

  <script data-release="manifest" type="text/javascript">
    [[= model.data.manifestText || '']]
  </script>

  <% for (key in htmlWebpackPlugin.files.chunks) { %>
  <script data-release="<%= key%>" src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" defer="defer" type="text/javascript"></script>
  <% } %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1752831-18', 'auto', {'useAmpClientId': true});
    ga('require', 'ec');
    ga('require', 'displayfeatures');
    ga('set', 'dimension47', 'Mweb');
    ga('send', 'pageview');
  </script>

  [[= model.data.vendorAuthScripts || '']]

  [[= model.data.izootoAuthScripts || '']]

  <script>
    window.addEventListener('load', function() {

      (function (w, d, s, l, i) {
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        w.location.host.match('myntra.com') && f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-H34B');

      var isMyntraWebView = navigator.userAgent && /MyntraRetailAndroid|MyntraRetailiPhone/g.test(navigator.userAgent);
      if (isMyntraWebView) {
        try {
          if (navigator.serviceWorker && typeof navigator.serviceWorker.getRegistrations === 'function') {
            navigator.serviceWorker.getRegistrations().then(function(registrations) {
              Array.from(registrations).forEach(function(reg) {
                reg.unregister().then(function() {
                  window.location && window.location.reload();
                }).catch(function(err) {
                  console.error('service worker unregister failed', err);
                });
              });
            }).catch(function(err) {
              console.error('service worker get registrations failed', err);
            });
          }
        } catch(exc) {
          console.log('Exception in handling service worker ', exc);
        }
      } else if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { insecure: true }).then(function(reg) {
          console.log('ServiceWorker registered', reg);
        }).catch(function(err) {
          console.log('ServiceWorker not registered', err);
        });
      }
    });
  </script>
</body>
</html>
