.verificationContainer {
  width: 100%;
  padding: 56px 0;
}

.image {
  width: 150px;
  margin: 0px auto;
}
.mobContainer {
  margin-top: 30px;
  text-align: center;
}
.mobContainer h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #282c3f;
  padding: 0px;
}
.mobContainer h4 {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #535766;
  padding: 0px;
  margin-bottom: 6px;
  text-align: center;
}
.otpContainer {
}
.mobileNum {
  position: relative;
  text-align: center;
  margin-top: 24px;
}
.mobileNum > div {
  position: relative;
  text-align: center;
}
.mobileNum input {
  display: inline-block;
  font-size: 24px;
  padding: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 6px;
  width: 138px;
}
.mobileNum input:first-child {
  width: 48px;
}
.buttonContainer {
  text-align: center;
  margin-top: 20px;

  transition: opacity 500ms;
}
.buttonContainer.enable {
  opacity: 1;
}
.buttonContainer.disable {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  pointer-events: none;
}
.button {
  width: 50px;
  height: 50px;
  background-color: rgb(252, 67, 110);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.button img {
  width: 100%;
}
.button:focus {
  outline: none;
}

.otpContainer {
  margin-top: 20px;
  text-align: center;
}

.otpContainer input {
  padding: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 30px;
  text-align: center;
  margin: 0 10px 0 0;
  width: 50px;
  padding-bottom: 6px;
}

.otpContainer input:focus {
  outline: none;
}
.otpContainer input:last-child {
  margin: 0;
}
.resendContainer {
  padding: 0;
  margin: 0;
  border: none;
  color: #ff3f6c;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  margin-top: 36px;
  line-height: 1;
}

.resendContainer:focus {
  outline: none;
}

.errorContainer {
  padding: 0;
  margin: 0;
  border: none;
  color: #f16565;
  font-size: 14px;
  background-color: #fff;
  margin-top: 16px;
  line-height: 1;
}

.successVerified {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 250px;
}
.successIcon {
  width: 80px;
  height: 80px;
  text-align: center;
  border: 3px solid rgb(41, 204, 168);
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  position: relative;
}
.successIcon .check {
  width: 13px;
  height: 28px;
  border: solid #29cca8;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -19px;
  margin-left: -5px;
}

.successText {
  margin-top: 40px;
  color: #29cca8;
  font-weight: bold;
  font-size: 20px;
}
