.itemCard {
  background-color: ~colors.white;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  padding: 0 0 14px 0;
  flex: 1 0 210px;
  box-sizing: border-box;
  margin: 40px 0 0 40px;
  outline: 1px solid #e9e9eb;
  position: relative;
  height: 425px;
  max-width: 220px;
}

.itemCard:hover {
  box-shadow: 0px 2px 16px 4px rgba(40, 44, 63, 0.07);
}

.imageCtn {
  height: 0;
  padding-top: 133.33333333333331%;
  overflow: hidden;
  position: relative;
  background-color: #EAEAEC;
  border-bottom: 1px solid #e9e9eb;
}

.image {
  max-width: 100%;
  height: auto;
  background-color: ~colors.ultra_light;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.itemCardSelected {
  composes: itemCard;
  border: solid 1.2px ~colors.green_light;
}

.itemCardRemoving {
  composes: itemCard;
  visibility: hidden;
  opacity: 0;
}

.actionBusy {
  cursor: default;
}

.itemImageDiv a {
  cursor: pointer;
}
.preOrderBadge {
    composes: preorder-strip from '../../../resources/sprites.css';
    color: white;
    font-weight: bold;
    font-size: 9px;
    padding: 2px 0 0 1px;
    top: 14px;
    position: absolute;
}

.itemImage {
  width: 100%;
  cursor: pointer;
  min-height: 294px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  opacity: 1.0;
}

.outOfStockItemImage {
  composes: itemImage;
  opacity: 0.6;
  filter: grayscale(1);
}

.itemImageOpaque {
  opacity: 0.6;
  background-color: #29303f;
}

.itemImageDiv {
  position: relative;
}


.itemActions {
  position: absolute;
  height: 140px;
  bottom: 0;
  /* z-index: 2; */
  max-width: 100%;
  width: 100%;
  background: white;
}

.itemDetails {
  margin: 0 auto;
  height: 96px;

  font-size: 14px;
  text-align: center;
  color: ~colors.black_70;
  padding: 10px 0px 0px 0px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.actionDiv {
  text-align: center;
  font-size: 14px;
  padding-top: 14px;
}

.actionDiv a:hover {
  cursor: pointer;
}

.moveToBag {

  color: #ff3e6c;
}

.actionDivDisabled {
  cursor: default;
}

.actionDivDisabled .moveToBag {
  color: ~colors.black_20;
}

.actionDivDisabled a:hover {
  cursor: default;
}

.itemDetailsLabel {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 5%;
  font-size: 14px;
}

.itemDetailsRsLabel {
  color: #30393f;
}

.boldFont {
  font-weight: 500;
}

.eorsText {
  margin-top: 2px;
  color: gray;
  font-size: 10px;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}

.removeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  height: 24px;
  width: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1.2px #d4d5d9;
  cursor: pointer;
  text-align: center;
}

.removeIcon:hover {
  cursor: pointer;
}

.removeMark {
  margin-top: 9px;
  margin-left: -1px;
  zoom: 0.7;
  -moz-transform: scale(0.8);
  -moz-transform-origin: 9px -9px;
  composes: remove from '../../../resources/sprites.css';
}

.show {
  display: block;
}

.hide {
  display: none;
}

.discountPercent {
  color: ~colors.red;
}

.outOfStockText {
  position: absolute;
  background: white;
  color: ~colors.orange;
  top: -24px;
  left: ~"calc(50% - 70px)";
  padding: 5px 20px 0px 20px;
}

.outOfStockText + .itemDetails {
  border-top: solid 1.2px ~colors.orange;
}

.outOfStockText + .itemDetails .itemDetailsLabel {
  opacity: 0.4;
}

.prelaunchTxt {
  color: #3e4152;
}

:global {

  .index-mobile .itemcard-itemCard {
    width: 44%;
    height: auto;
    margin: 0px 4% 4% 0px;
    border-radius: 4px;
    background-color: ~colors.white;
    box-sizing: border-box;
  }

  .index-mobile .itemcard-itemCardSelected {
    border: solid 1.2px ~colors.green_light;
  }

  .index-app .itemcard-itemCard {
    width: 46%;
  }

  .index-mobile .itemcard-itemImage {
    width: 100%;
    height: auto;
    padding: 0px;
    min-height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .index-mobile .itemcard-shim {
    border-radius: 4px;
  }
  .index-mobile .itemcard-itemActions {
    height: 100px;
    width: 100%;
    position: relative;
    margin: 0 0 2px 0;
    box-sizing: content-box;
  }
  .index-mobile .itemcard-itemDetails {
    width: 90%;
    height: 36px;
    font-size: 12px;
    padding: 5px 5% 10px 5%;
    border-bottom: 1px dotted ~colors.light;
    text-align: center;
  }
  .index-mobile .itemcard-itemDetailsLabel {
    font-size: 12px;
  }
  .index-mobile .itemcard-moveToBag {
    width: 100%;
    height: 15px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
  }

  .index-mobile .itemcard-actionDiv {
    width: 100%;
    text-align: center;
  }

  .index-mobile .itemcard-removeIcon {
    right: 6px;
    top: 6px;
    border-radius: 50px;
    height: 24px;
    width: 24px;
  }

  .index-mobile .itemcard-removeMark {
    margin-top: 9px;
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 7px -7px;
    margin-left: 0px;
  }

  .index-mobile .itemcard-outOfStockText {
    font-size: 12px;
    top: -7px;
    left: ~"calc(50% - 50px)";
    padding: 0 10px;
  }
}
