.select-size {
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  font-weight: 500;
}

.size-container {
  margin: 10px 0px 24px 0px;
}

.size-header {
  margin: 0px 0px 10px 0px;
  position: relative;
  line-height: 1;
}

.size-chart {
  margin-left: 30px;
}
.arrow {
  display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    border: solid ~colors.new_link;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-bottom: 2px;
}

.show-size-chart {
  outline: 0px;
  background-color: ~colors.transparent;
  border: 0px;
  letter-spacing: 0.5px;
  text-align: right;
  padding: 0 0 5px 0;
  color: ~colors.new_link;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
}

.arrowRightBold {
  position: relative;
  top: 4px;
  color: ~colors.new_link;
  transform: scale(.8);
  composes: arrowRightBold from '../../../resources/sprites.css';
}
.sizeTip {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1px;
  min-width: 400px;
  visibility: hidden;
  transition: visibility 0.1s ease-out;
  transition-delay: 0.1s;

  .sizeTipMeta {
    position: absolute;
    min-width: 400px;
    left: 0px;
    bottom: 10px;
    text-align: left;
    border: 1px solid #e9e9eb;
    background-color: #fff;
    padding: 18px;
    z-index: 29;
    border-radius: 4px;
    font-weight: 400;
    box-shadow: 0 2px 16px 0 rgba(40, 44, 63, 0.1);

    p {
      margin: 0px;
    }
  }
}

.tipAndBtnContainer {
  margin: 10px 10px 10px 0;
  &:hover {
    .sizeTip {
      visibility: visible;
    }
  }
}

.size-buttons {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 0 0 0;
  font-size: 13px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: relative;
}

.size-buttons-error {
  composes: size-buttons;
  padding-bottom: 10px;
  display: flex;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.size-error-message {
  color: ~colors.red;
  margin-top: 15px;
  display: block;
}

.size-button-default {
  background-color: ~colors.white;
  border: 1px solid ~colors.black_30;
  border-radius: 50px;
  padding: 0;
  min-width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: ~colors.ultra_dark;
  flex: 0 0 auto;
  position: relative;
}

.size-button {
  composes: size-button-default;
  position: relative;
}

.size-button-selected {
  composes: size-button;
  border: solid 1px #ff3f6c;
  background-color: #ffffff;
  color: #ff3f6c !important;
}

.size-button-disabled {
  composes: size-button-default;
  color: ~colors.light;
  border: 1px solid ~colors.light;
  cursor: default;
  font-weight: 500;
  outline: none;
  overflow: hidden;
}

.size-strike-hide {
  width: 0px;
  height: 0px;
}

.size-strike-show {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: ~colors.light;
  transform: rotate(-45deg);
}

.big-size {
  min-height: 48px;
  min-width: 60px;
  border-radius: 50px;
  height: auto;
  width: auto;
  padding: 0 10px;
  font-weight: 500;
}

.out-of-stock {
  color: ~colors.red;
}

.size-button:hover {
  border: solid 1px #ff3f6c;
}

.size-button:focus {
  outline: 0px;
}

.unified-size {
  margin: 0px;
  font-size: 14px;
  padding: 0px 8px;
  font-weight: 500;
}
.unified-size + .inventory-left {
  left: 7%;
  bottom: -3px;

}


.sku-price {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 4px;
}
.bodymeasure {
  color: ~colors.dark_new;
}

.sizeChartInfo {
  color: ~colors.dark_new;
  margin-top: 5px;
  font-size: 12px;
}

.sizeFitDesc {
  font-weight: 400;
  border: none;
}

.measurementType {
  font-size: 14px;
  color: ~colors.ultra_dark;
}

.measurementName {
  font-size: 14px;
  margin-left: 6px;
  font-weight: 500;
  color: ~colors.dark_new;
}

.inventory-left {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  width: 90%;
  left: 7%;
  background-color: ~colors.orange_new;
  color: ~colors.white;
  border-radius: 2px;
  text-align: center;
}

.inventory-left-hidden {
  composes: inventory-left;
  visibility: hidden;
}

.sizeButtonAsLink {
  flex: 0 0 auto;
}

@media all and (min-width: 600px) {
  .size-buttons {
    margin-bottom: 10px;
  }
}

@media all and (min-width: 980px) {
  .size-chart {
    top: 0px;
    right: 0px;
  }
}


/* Size Recommendation styles */

.recoContainer {
  position: relative;
  clear: both;
}

.recoWrapper {
  background: #fff0f4;
  padding: 9px 7px;
  width: 84%;
}

.recoTextContainer {
  display: flex;
}

.recoTextContainer.recoTextWithMoreProfiles {
  width: calc(100% - 90px);
}

.sizeRecoImg {
  width: 27px;
  height: 22px;
  margin-right: 14px;
}

.recoContainerMobile {
  overflow: hidden;
}

.recText {
  font-size: 16px;
  position: relative;
  margin: 8px;
}

.moreProfilesWeb {
  position: absolute;
  right: 16px;
  top: 8px;
}

.moreProfilesMobile {
  right: 20px;
  max-height: 0;
  transition: max-height 0.6s cubic-bezier(0, 1, 0.5, 1);
  .profileListHeader {
    position: absolute;
    right: 12px;
    top: 14px;
  }
}

.profileListHeader {
  cursor: pointer;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  color: ~colors.light_red;
}

.sharpCorner {
  border-color: ~colors.light_purple transparent;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  width: 0;
  position: absolute;
  left: 22px;
  bottom: -8px;
}

.profilesListWeb {
  margin: 0;
  width: 70px;
  background-color: ~colors.white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13);
  position: absolute;
  right: 0;
  top: 24px;
  padding: 8px 12px 4px;
  z-index: 2;
  display: none;
}

.profilesListMobile {
  white-space: nowrap;
  overflow: auto;
  transform: translateX(110%);
  transition: transform 0.6s cubic-bezier(0, 1, 0.5, 1);
  li {
    display: inline-block;
    border-radius: 50px;
    border: 0.5px solid #696b79;
    padding: 12px 18px;
    width: 65px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin-right: 10px;

  }
}

.pNameHeader {
  color: ~colors.light_red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
  display: inline-block;
}

.moreProfilesMobile.showProfiles {
  max-height: 50px;
  .profilesListMobile {
    transform: translateX(0);
  }
}

.moreProfilesWeb:hover .profilesListWeb {
    display: inline-block
}

.profileItem {
  margin-bottom: 6px;
  cursor: pointer;
  color: #7e818c;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.selected {
    border: solid 1px #ff3f6c;
    background-color: #ffffff;
    color: #ff3f6c !important;
  }
}

.personalisedReco {
  width: 70%;
  display: inline-block;
  margin-top: 2px;
}

.similarWrapper {
  margin: 0;
}

.moreProfileSC {
  position: absolute;
  top: 12px;
  right: 16px;
}

.viewSimilar {
  color: #ff3e6c;
  font-weight: 500;
  cursor: pointer;
}

.tagInfoText {
  position: absolute;
  background: #fff;
  top: -78px;
  left: 0;
  width: 330px;
  padding: 8px 10px;
  display: none;
  border-radius: 6px;
  box-shadow: 0 2px 16px 0 rgba(40, 44, 63, 0.1);
  text-align: left;
  border: 1px solid #e9e9eb;
  color: #535665;
}

.tagInfoIcon {
  display: inline-block;
  border: 1px solid #7e808c;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background: #7e808c;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
}

.tagInfoIcon:hover + .tagInfoText{
  display: block;
}

.hide {
  display: none;
}

.shakeText {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.login {
  color: ~colors.new_link;
  margin-left: 7px;
  font-weight: 500;
  cursor: pointer;
}

.buttonContainer {
  position: relative;
}

.reco-icon {
  display: inline-block;
  margin: 0 10px 0 4px;
  vertical-align: top;
}

.sc-reco-txt {
  padding: 14px;
  background: linear-gradient(90deg, ~colors.light_purple, ~colors.off_white_20);
  color: ~colors.ultra_dark;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

