.verticalFilters{
  box-sizing: border-box;
  transition: margin 0.20s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-top: 0;
  padding-top: 23px;
}

@keyframes color-animation {
  0% {
     background: auto;
    }
  100% {
     background: rgba(255, 140, 167, 0.1);
  }
}
.verticalFiltersOnClearAll {
  composes: verticalFilters;
  animation: color-animation 1s 4 linear alternate;
}

.boundary-top {
  position: static;
}

.boundary-bottom {
  position: relative;
}

.hung {
  position: relative;
  z-index: 4;
}

.fixed-top, .fixed-bottom {
  width: 252px;
  min-width: 252px;
  z-index: 4;
  position: fixed;
  margin-bottom: 10px;
  margin-top: 10px;
}
