.SellersContainer {
    background: #ffffff;
    width: 417px;
    padding: 24px;
}

.productInfo img{
    width: 60px;
    max-height: 80px;
    margin-right: 16px;
}

.productInfo {
    display: flex;
    text-align: left;
    border-bottom: 1px solid #282c3f;
    padding-bottom: 16px;
    margin-bottom: 15px;
    color: #3e4152;
}

.selectSellerTitle {
    text-align: left;
    margin-bottom: 16px;
    color: #3e4152;
    font-weight: 500;
}

.priceContainer {
    margin-top: 5px;
}

.deliveryInfo {
    font-size: 14px;
    color: #535766;
    margin-top: 2px;
}

.sellerList {
    padding: 0;
    max-height: 242px;
    overflow: scroll;
    margin-top: 16px;
}

.sellerList label {
    text-align: left;
    margin-bottom: 12px;
    display: flex;
}

.sellerInfoContainer {
    border-radius: 4px;
    border: solid 1px #d4d5d9;
    padding: 10px 16px;
    flex-grow: 1;
    margin-left: 8px;
}

.sellerList label:last-child {
    margin-bottom: 1px;
}

.sellerInput {
    margin: auto;
}

.sellerInput:checked:after {
    background-color: #ffa500;
}


.done {
    border-radius: 4px;
    background-color: #ff3f6c;
    padding: 12px 0;
    color: #ffffff;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.customRadio {
    cursor: pointer;
    vertical-align: middle;
  }
  
  .customRadio input {
    margin-left: -12px;
    visibility: hidden;
  }

  .radioIndicator {
    box-sizing: border-box;
    margin: auto;
  }
  
  .radioIndicator:before {
    content: "";
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    border-radius: 50%;
    visibility: visible;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
  }
  
  .customRadio input:checked ~ .radioIndicator:before {
    border-color: ~colors.light_red;
    visibility: visible;
    background: ~colors.light_red;
    box-shadow: inset 0 0 0 3px ~colors.white;
  }