.ymk-visible > div {
  display: block;
}

.ymk-invisible > div {
  display: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container {
  min-height: calc(100vh - 60px);
}

.box .row {
  border: none;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.box .row.footer {
  flex: 1 1 auto;
}

.splitScreenMsg {
  position: absolute;
  top: 20px;
  color: #000;
  z-index: 6;
  background-color: #ffffff;
  font-size: 14px;
  font-size: 14px;
  padding: 8px 20px;
  margin: 4px 12px;
}

.right20p {
  right: 20px;
}

.textWrap {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
}

.noShades {
  padding: 12px 12px 13px;

  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
}

.noShadeSelected {
  color: #535766;
}

.selectShade {
  color: #94969f;
  margin: 4px 0 0;
}
