.container {
  flex: 1
}
.btn {
  width: 100%;
  min-height: 40px;
  margin-bottom: 0;
  font-weight: 700;

  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  outline: 0;
  padding: 1px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  background-color: #fff;
  border: solid 1px #eaeaec;
}

.btnGrayBG {
  border-color:#535766;
  background-color: #535766;
  color: #fff;
}

.iconAdd {
  background-position: -190px -61px;
  width: 10px;
  height: 15px;
  margin-right: 15px;
  transform: scale(1.1);
}

.iconAdded {
  margin-right: 15px;
  transform: scale(0.5);
  background-position: -2688px 0px;
  width: 26px;
  height: 36px;
}
