.container {
  box-sizing: border-box;
  background: ~colors.light_pink;
  background: -webkit-linear-gradient(left top, ~colors.light_pink, ~colors.light_yellow);
  background: -o-linear-gradient(bottom right, ~colors.light_pink, ~colors.light_yellow);
  background: -moz-linear-gradient(bottom right, ~colors.light_pink, ~colors.light_yellow);
  background: linear-gradient(to bottom right, ~colors.light_pink, ~colors.light_yellow);
  text-align: center;
  padding-top: 30px;
  position: relative;
  padding-bottom: 40px;
}

.sprite {
  background: url(https://constant.myntassets.com/web/assets/img/header@2x-new16.a409d46af2e211afcaa82c1359787a90408024be.png) no-repeat 0 0;
  background-size: 327px 48px;
  display: inline-block;
}

.logo {
  composes: sprite;
  background-position: 0 0;
  margin-top: 30px;
  width: 50px;
  height: 38px;
}

.box {
  background-color: ~colors.white;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
  padding: 20px 10px;
  max-width: 430px;
}

.title {
  font-size: 32px;
  margin-top: 15px;
  color: ~colors.black_80;
}

.subtitle {
  color: ~colors.black_80;
}

.form {
  padding: 10px 20px;
}

.user-input {
  display: block;
  margin-top: 50px;
  color: ~colors.black;
  font-size: 15px;
  border: 1px solid ~colors.black_30;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.user-input:hover {
  box-shadow: 0px 2px 5px ~colors.black_10;
}

.user-input:focus {
  outline: 0px;
  border: 1px solid ~colors.melon_90;
  box-shadow: 0px 2px 5px ~colors.melon_20;
}

.button {
  background-color: ~colors.melon_90;
  color: ~colors.white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0px;
  text-transform: uppercase;
  border-radius: 3px;
}

.button:focus {
  outline: 0px;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: ~colors.melon;
}

.button:hover {
  background: -webkit-linear-gradient(left top, ~colors.melon_90, ~colors.melon);
  background: -o-linear-gradient(bottom right, ~colors.melon_90, ~colors.melon);
  background: -moz-linear-gradient(bottom right, ~colors.melon_90, ~colors.melon);
  background: linear-gradient(to bottom right, ~colors.melon_90, ~colors.melon);
}

.login-link {
  cursor: pointer;
  text-decoration: none;
  color: ~colors.dark_pink;
  padding: 20px;
  display: inline-block;
  font-size: 13px;
}

.message {
  composes: subtitle;
  font-weight: 500;
  margin: 20px 0px;
}

@media all and (min-width: 400px) {
  .box {
    display: inline-block;
    width: 400px;
  }
}
