.groupDetailsContainer {
  padding: 40px 16px 30px 16px;
  background: ~colors.white;
}

.borderDiv {
  border-bottom: 1px dashed ~colors.black_50;
  padding: 30px 0 0 0;
}

.campaignTimeInfo {
  font-size: 16px;
  color: ~colors.black;
  padding: 24px 0 24px 0;
}

.campaignTimeInfo span {
  font-weight: 500;
}

.viewRewards {
  font-size: 14px;
  font-weight: 500;
  color: ~colors.black;
  text-transform: uppercase;
}

.viewRewards span {
  font-weight: normal;
}

.metricsContainer {
  outline: none;
  padding: 42px 0 0 0;
}

.metric {
  font-size: 14px;
  color: ~colors.black;
  text-align: left;
  line-height: 29px;
}

.metric span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: ~colors.black;
  vertical-align: bottom;
}

.shoppedSavedAmount {
  padding: 14px 0 14px 10px;
  margin: 10px 0 10px 0;
  background: rgb(255,242,250);
  background: -webkit-gradient(linear,left top,right bottom,from(rgb(255,242,250)),to(rgb(255,233,246)));
  background: -webkit-linear-gradient(top left,rgb(255,242,250),rgb(255,233,246));
  background: linear-gradient(to bottom, rgb(255,242,250),rgb(255,233,246));
  border: 1px solid rgb(245, 229, 247);
  border-radius: 3px;
}

.shoppedAmount {
  font-size: 14px;
  color: ~colors.black_90;
  padding: 0 0 6px 0;
  font-weight: 500;
}

.shoppedAmount span {
  font-size: 28px;
  font-weight: 500;
}

.savedAmount {
  font-size: 14px;
  color: ~colors.black_70;
  font-weight: 500;
}

.savedAmount span {
  font-size: 14px;
  font-weight: 500;
}

.mileStoneDisplay {
  height: 16px;
  padding: 16px 0 25px 0;
}

.milestonesHeading {
  float: left;
  font-size: 14px;
  color: ~colors.black_80;
  font-weight: 500;
}

.milestonesAllRewards {
  float: right;
  font-size: 14px;
  color: ~colors.black_80;
  font-weight: 500;
}

.milestonesAllRewards:hover {
  cursor: pointer;
}