.container {
  margin: 16px 0 16px 0px;
  box-shadow: 0 0 12px 0 rgba(148,150,159,0.15);
  background: linear-gradient(45deg, rgb(255,230,236) 50%, rgb(252,217,226) 100%);
  border-radius: 4px;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.1px;
  color: ~colors.black;
  line-height: 18px;
  padding: 20px 0px 4px 16px;
}

.subtitle {
  font-size: 15px;
  line-height: 20px;
  color: ~colors.black;
  padding: 0px 16px 16px 16px;
}

.description {
  composes: subtitle;
}