.title {
  font-weight: 500;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin: 0;
  max-width: 400px;
  color: #282c3f;
  text-transform: capitalize;
}

.sub {
  font-size: 18px;
  color: #878b94;
}

.sortContainer {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-top: -7px;
  position: relative;
  top: 5px;
}

.searchInfo {
  align-self: center;
}

.base {
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-bottom: 1px solid #eaeaec;
  padding-bottom: 15px;
  padding-top: 23px;
}

@keyframes color-animation {
  0% {
     background: auto;
    }
  100% {
     background: rgba(255, 140, 167, 0.1);
  }
}

.baseOnClearAllHover {
  composes: base;
  animation: color-animation 1s 4 linear alternate;
}

.hideBorder {
  border-bottom: none;
}
.addBoxShadow {
  box-shadow: 0 8px 8px -4px rgba(40, 44, 63, 0.04);
}

.searchMessage {
  font-size: 13px;
  padding: 10px;
  color: #535766;
  background: #eef1fb;
  border: solid 1px #dde2f6;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 10px;

  br {
    display: none;
  }
}
