.delivery-halfcard-vertical-line {
  position: absolute;
  z-index: -100;
  margin: 72px 0 0 19px;
}

.delivery-halfcard + .delivery-halfcard {
  margin-top: 72px;
}

.delivery-halfcard {
  max-height: 90%;
  position: relative;
  z-index: 100;
}

.delivery-halfcard-header {
  font-size: 18px;
  font-family: Whitney-Book;
  text-transform: uppercase;
  font-weight: 500;
  color: #535766;
  margin: 0 0 12px 150px;
}

.delivery-halfcard-info-item + .delivery-halfcard-info-item {
  margin-top: 16px;
}

.delivery-halfcard-info-item > .delivery-halfcard-index {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  line-height: 40px;
  margin: 8px 8px 0 0;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: #94b1d3;
}

.delivery-halfcard-info-item > .delivery-halfcard-icon {
  width: 96px;
  height: 96px;
  padding: 8px;
  vertical-align: middle;
}

.delivery-halfcard-info-item > .delivery-halfcard-description {
  overflow-wrap: break-word;
  vertical-align: middle;
  padding-left: 8px;
  display: inline-block;
  width: 70%;
  font-size: 18px;
}


@media screen and (max-height: 1000px) {
  .delivery-halfcard-vertical-line {
    margin: 64px 0 0 15px
  }
  
  .delivery-halfcard + .delivery-halfcard {
    margin-top: 60px;
  }
  
  .delivery-halfcard-header {
    font-size: 18px;
    height: 24px;
    margin: 0 0 8px 132px;
  }
  
  .delivery-halfcard-info-item + .delivery-halfcard-info-item {
    margin-top: 12px;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-index {
    width: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    border-radius: 50%;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-icon {
    width: 84px;
    height: 84px;
    padding: 8px;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-description {
    padding-left: 8px;
    width: 70%;
    font-size: 18px;
  }
}

@media screen and (max-height: 800px) {
  .delivery-halfcard-vertical-line {
    margin: 54px 0 0 11px;
  }
  
  
  .delivery-halfcard-header {
    font-size: 16px;
    height: 20px;
    margin: 0 0 6px 110px;
  }

  .delivery-halfcard + .delivery-halfcard {
    margin-top: 48px;
  }
  
  .delivery-halfcard-info-item + .delivery-halfcard-info-item {
    margin-top: 8px;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-index {
    width: 24px;
    line-height: 24px;
    margin: 6px 6px 0 0;
    border-radius: 50%;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-icon {
    width: 72px;
    height: 72px;
    padding: 6px;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-description {
    padding-left: 6px;
    width: 70%;
    font-size: 16px;
  }
}

@media screen and (max-height: 700px) {
  .delivery-halfcard-vertical-line {
    margin: 49px 0 0 10px;
  }
  
  
  .delivery-halfcard-header {
    font-size: 16px;
    height: 20px;
    margin: 0 0 6px 110px;
  }

  .delivery-halfcard + .delivery-halfcard {
    margin-top: 32px;
  }
  
  .delivery-halfcard-info-item + .delivery-halfcard-info-item {
    margin-top: 6px;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-index {
    width: 24px;
    line-height: 24px;
    margin: 6px 6px 0 0;
    border-radius: 50%;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-icon {
    width: 64px;
    height: 64px;
    padding: 4px;
  }
  
  .delivery-halfcard-info-item > .delivery-halfcard-description {
    padding-left: 6px;
    width: 70%;
    font-size: 15px;
  }
}