.container {
  float: left;
  width: 58%;
}

.sep {
  clear: both;
}

.imageContainer {
  height: 0;
  padding-top: 133.33333333333331%;
  overflow: hidden;
  position: relative;
  border: 1px solid ~colors.ultra_light;

  &:hover {
     cursor: crosshair;
     cursor: -webkit-image-set(url('https://constant.myntassets.com/web/assets/img/6d2dbca4-700f-4822-9759-5c92b8280de21536988731120-Zoom-icon-1x.png') 1x, url('https://constant.myntassets.com/web/assets/img/cc4af777-3503-4e6b-8cbf-443b62bbe87e1536988775536-Zoom-icon-2x.png') 2x), crosshair;
   }
}

.xceleratorTag {
  position: absolute;
  top: 20px;
  left: 0;
  background: rgba(0,0,0,5);
  z-index: 2;
  color: red;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: border-box;
  background-size: cover;
  transition: transform .4s;
  will-change: transform;
}

.image:hover {
  transform: scale(1.04);
}

.videoContainer {
  .image {
    width: 100.5%;
    height: 100.5%;
  }
  .image:hover {
    transform: scale(1);
  }
}

.col50 {
  width: 49.5%;
  float: left;
  margin-bottom: 1%;
  position: relative;
}

.col100 {
  width: 100%;
  position: relative;
}

.col50:nth-child(even) {
  margin-left: 1%;
}

.singleImageContainer {
  .col50 {
    margin: 0 auto;
    float: none;
  }
}

.similarColorsCta {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  color: black;
  right: 20px;
  bottom: 20px;
  border: solid 1px #dadade;
  line-height: 33px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 200ms ease;
  will-change: contents;
  background: #fff;
}

.iconText {
  font-weight: 500;
  color: ~colors.dark_pink_10;
  vertical-align: middle;
  visibility: hidden;
  margin-left: 10px;
  font-size: 14px;
}

.similarColorsCta:hover {
  border-radius: 42px;
  width: 140px;
  text-align: left;
  padding-left: 13px;

  .iconText {
    visibility: visible;
    display: inline-block;
    margin-top: 4px;
  }
}

.similarColorsIcon {
  composes: similarProductsIcon from '../../../resources/sprites.css';
  vertical-align: middle;
}


.skeletonLoader {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 99.99%;
  height: 99.99%;
  background: #eaeaec linear-gradient(
    left,
    #eaeaec 0,
    #dad9d9 35%,
    #eaeaec 70%,
    #eaeaec 100%
  ) no-repeat;
  background-size: 800px 100%;
  animation: loading-skeleton 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
  forwards;
}

@keyframes loading-skeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

