.loyalty {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-size: 11px;
  color: #282c3f;
}


.itemDetails {
  height: 94px;

  font-size: 14px;
  text-align: left;
  color: ~colors.black_70;
  padding: 10px 10px 0px;
  border: none !important;
  border-bottom: 1px solid #e9e9eb !important;
}

.itemDetailsLabel {
  font-size: 16px;
  color: #282C3F;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.itemDetailsDescription {
  width: 100%;
  margin: 4px 0px 8px 0px;
  color: #535766;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.itemPricing {
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
}

.itemDetailsRsLabel {
  color: #30393f;
}

.boldFont {
  font-weight: 500;
  padding: 0px 3px 0 0;
  font-size: 16px;
  color: #282C3F;
}

.strike {
  text-decoration: line-through;
  opacity: 0.7;
  font-size: 12px;
  padding: 0 3px;
  color: #282C3F;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.discountPercent {
  color: #FF905A;
  padding: 0px 3px;
  font-size: 12px;
  font-weight: 500;
}

:global {
  .index-mobile .itemdetails-itemDetails {
    width: 90%;
    height: 62px;
    font-size: 12px;
    padding: 8px 5% 10px 5%;
    border-bottom: 1px dotted ~colors.light;
    text-align: center;
  }
  .index-mobile .itemdetails-itemDetailsLabel {
    font-size: 12px;
  }
}
