.errorDiv{
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding: 0px 0px 40px 0px;
}

.svgArrowUp {
  position: absolute;
  top: -40px;
  left: 95px;
}

.arrowUpSecond {
  left: 330px;
}

.arrowUpThird {
  left: 570px;
}

.arrowUpFourth {
  left: 810px;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 24px solid ~colors.light;
  position:absolute;
  top: -25px;
  left: 95px;
}

.arrowUp:after{
    content:'';
    position:absolute;
    top:2px;
    left:-45px;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 92px solid ~colors.white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.showSimilarDiv {
  width: auto;
  height: auto;
  border: solid 1.2px ~colors.light;
  padding: 50px 15px 0px 15px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  -moz-transition: visibility 0s, opacity 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s linear;
  -ms-transition: visibility 0s, opacity 0.5s linear;
}

.active {
  visibility: visible;
  opacity: 1;
  margin: 10px 0 20px 0;
}

.svgArrow {
  fill: ~colors.white;
  stroke: ~colors.light;
  stroke-width: 1;
}

.similarImage {
  min-width: 205px;
  min-height: 274px;
  border-bottom: 1px dashed ~colors.light;
  width: 100%;
}

.similarItemDiv {
  min-width : 210px;
  max-width : 210px;
  width: 210px !important;
  min-height: 275px;
  margin: 0px 16px 0px 0px;
  border: solid 1.2px #ebebeb;
  cursor: pointer;
}

.itemDetails {
  margin: 0 auto;
  width: 100%;

  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: ~colors.black_70;
  padding: 15px 0px;
}

.itemDetailsLabel {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 5%;
  font-size: 12px;
}

.boldFont {
  font-weight: 500;
}

.strike {
  text-decoration: line-through;
}

.discountPercent {
  color: ~colors.red;
}

.removeIcon {
  position: absolute;
  top: 15px;
  right: 32px;
  cursor: pointer;
}

.removeMark {
  composes: remove from '../../../resources/sprites.css';
}

.mobileContainer {
  overflow-x: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.similarProductList {
  width: 2355px;
  min-height: 252px;
  min-width:  ~"calc(100% - 10px)";
  overflow-x: scroll;
  background: ~colors.white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 0px 30px 10px;
}

.noSimilarProducts {
  width: 100%;
  padding: 0px;
  min-height: 322px;
}

.mobileContainer .errorDiv {
  margin-top: 150px;
  color: ~colors.dark;
  font-size: 16px;
}

.backdrop {
  background: rgba(41, 48, 63, 0.58);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.heading{
  font-size: 12px;
  font-weight: 600;
  color: ~colors.dark;
  margin-bottom: 12px;
  position: fixed;
  bottom: 274px;
  left: 10px;
}

.mobileContainer .similarItemDiv {
  display: inline-block;
  width: 145px !important;
  min-width: 145px !important;
  max-width: 145px !important;
  margin-right: 10px;
  border: 1px solid ~colors.light;
  border-radius: 4px;
  min-height: 250px;
}

.mobileContainer .similarItemDiv:last-child {
  margin-right: 0px;
}

.mobileContainer .similarImage {
  min-width: 145px;
  width: 145px;
  height: 197px;
  min-height: 197px;
  border-bottom: 1px solid ~colors.light;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mobileContainer .itemDetails {
  padding: 2px 0px;
}

:global {
  .index-showSimilarDiv .slick-slider {
    margin: 0 0px 30px 14px;
  }

  .index-showSimilarDiv .slick-prev {
    margin-left: 8.4%;
  }
  .index-showSimilarDiv .slick-next {
    margin-right: 10.2%;
  }
  .index-showSimilarDiv .slick-prev:before, .index-showSimilarDiv .slick-next:before {
    border-radius: 0px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background-color: ~colors.white;
    border: solid 1px ~colors.light;
    box-shadow: none;
  }
  @media screen and (max-width: 1150px) {
    .index-showSimilarDiv .slick-prev, .index-showSimilarDiv .slick-next {
      position: absolute !important;
      display: block !important;
    }
  }
}
