.container {
    margin-bottom: 0px;
    padding-top: 30px;
    clear: both;
    padding-left: 2px;
    padding-right: 2px;
  }

  .heading {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin:0;
    padding: 0;
    color: ~colors.ultra_dark;
    margin-bottom: 24px;
  }

  .subtitle {
    padding-left: 20px;
    font-size: 13px;
    margin-bottom: 40px;
    color: ~colors.medium;
    position: absolute;
    margin-top: 30px;
  }

  .container:before {
    clear: both;
  }

  @media all and (min-width: 600px) {
    .container {
      overflow: auto;
    }
  }

  @media all and (min-width: 980px) {
    .heading, .subtitle {
      padding-left: 0px;
    }
  }
