.sellerInfoContainer {
    margin-top: 23px;
    padding: 17px 10px;
    border-top: solid 1.5px #eaeaec;
    border-bottom: solid 1.5px #eaeaec;
}

.sizeMoreSellers {
    font-weight: 500;
    color: #ff3f6c;
    cursor: pointer;
    font-size: 14px;
}

.moreSellerLink {
    margin-top: 6px;
}

.deliveryMessage {
    margin-top: 2px;
    color: #535766;
}
.sellerName {
    margin-top: 4px;
    color: #282c3f;
}
.bestPrice {
    font-size: 14px;
}