.flipXGoToBag {
  animation-name: flipGoToBag;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes flipGoToBag {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
