/* Custom checkbox */
.customCheckbox {
  position: relative;
  cursor: pointer;
}

.customCheckbox input {
  margin: 0 16px 0 0;
  visibility: hidden;
}

.checkboxIndicator {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #c3c2c9;
  background: ~colors.white;
  border-radius: 2px;
}

.checkboxIndicator:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 8px;
  height: 5px;
  border: 2px solid ~colors.white;
  border-color: ~colors.white;
  border-top-style: none;
  border-right-style: none;
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg);
}

.customCheckbox input:checked ~ .checkboxIndicator{
  border: none;
  background: ~colors.light_red;
}

.customCheckbox input:checked ~ .checkboxIndicator:after {
 display: block;
}

/* Custom radio css */
.customRadio {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.customRadio input {
  margin: 0 16px 0 0;
  visibility: hidden;
}

.customRadioNew {
  height: 10px;
  width: 7px;
}

.radioIndicator {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.radioIndicator:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 1px solid #c3c2c9;
  border-radius: 50%;
  visibility: visible;
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  text-align: center;
}

.customRadio input:checked ~ .radioIndicator:before {
  transform: rotate(-90deg);
  border-color: ~colors.light_red;
  visibility: visible;
  background: ~colors.light_red;
  box-shadow: inset 0 0 0 3px ~colors.white;
}

.newCustomRadio input:checked ~ .radioIndicatorNew:before {
  border-color: ~colors.light_red !important;
  background: ~colors.light_red !important;
}


.clearfix:after,.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}
