:global(.myntraweb-sprite) {
  background: url('https://constant.myntassets.com/web/assets/img/b8817bd3-5993-48e4-9771-92e4e565b5141571898164626-MyntraWeb-Sprite.png');
  background-size: 1404px 105px;
  display: inline-block;
}

.mfuGoldCoinLarge {
  background-position: -1028px -74px;
  height: 60px;
  width: 60px;
}

.mfuGoldCoinSmall {
  background-position: -1058px -81px;
  height: 60px;
  width: 60px;
}

.mfgLockIcon {
  background-position: -43px -37px;
  height: 22px;
  width: 24px;
}
.mfgUnlockIcon {
  background-position: -43px -14px;
  height: 22px;
  width: 24px;
}
.mfgRightArrow {
  background-position: -46px -58px;
  height: 14px;
  width: 10px;
}
.mfgRightArrowDark {
  background-position: -46px -71px;
  height: 14px;
  width: 10px;
}
.mfgBarTop {
  background-position: 1px -170px;
  height: 15px;
  /*width: 10px;*/
}
.whiteRightArrow {
  background-position: -2284px -21px;
  width: 20px;
  height: 16px;
}

.darkWishlist {
  background-position: -189px -58px;
  width: 14px;
  height: 22px;
}

.whiteWishlist {
  background-position: -2688px 0px;
  width: 24px;
  height: 36px;
}

.whiteBag {
  background-position: -2283px -40px;
  width: 23px;
  height: 22px;
}

.footer-facebook {
  background-position: -2023px 0px;
  width: 20px;
  height: 21px;
}

.lightTick {
  background-position: -1097px 0px;
  width: 12px;
  height: 10px;
}

.moreColors {
  width: 40px;
  height: 40px;
  background-position: -1337px 0;
}

.footer-twitter {
  background-position: -2045px 0px;
  width: 23px;
  height: 21px;
}

.footer-instagram {
  background-position: -1392px 0px;
  width: 21px;
  height: 20px;
}

.footer-youtube {
  background-position: -1361px 0px;
  width: 31px;
  height: 20px;
}

.three-colview-normal {
  width: 19px;
  height: 13px;
  background-position: 0 0;
}

.three-colview-selected {
  width: 19px;
  height: 13px;
  background-position: -19px 0;
}

.four-colview-selected {
  width: 21px;
  height: 13px;
  background-position: -38px 0;
}

.four-colview {
  width: 21px;
  height: 13px;
  background-position: -59px 0;
}

.addnewbutton {
  width: 24px;
  height: 24px;
  background-position: -80px 0;
}

.bestOfferIcon {
  background-position: -211px -58px;
  width: 18px;
  height: 22px;
}

.productDetailsIcon {
  background-position: -231px -58px;
  width: 21px;
  height: 22px;
}

.productRatingsIcon {
  background-position: -276px -60px;
  width: 21px;
  height: 22px;
}

.productRatingsLowIcon {
  background-position: -240px -28px;
  width: 24px;
  height: 24px;
}

.productRatingsAverageIcon {
  background-position: -216px -28px;
  width: 24px;
  height: 24px;
}

.productRatingsGoodIcon {
  background-position: -194px -28px;
  width: 24px;
  height: 24px;
}

.productRatingsExcellentIcon {
  background-position: -171px -28px;
  width: 24px;
  height: 24px;
}

.productRatingsGrayIcon {
  background-position: -265px -28px;
  width: 12px;
  height: 12px;
}

.deliveryOptionsIcon {
  background-position: -252px -58px;
  width: 23px;
  height: 22px;
}

.similarProductsIcon {
  background-position: -142px -58px;
  width: 24px;
  height: 20px;
}

.alertbig {
  width: 24px;
  height: 24px;
  background-position: -104px 0;
}

.alertsmall {
  width: 17px;
  height: 17px;
  background-position: -128px 0;
}

.headerBag {
  width: 22px;
  height: 22px;
  background-position: -341px -56px;
}

.bag {
  width: 18px;
  height: 20px;
  background-position: -145px 0;
}

.headerWishlist {
  width: 22px;
  height: 22px;
  background-position: -320px -56px;
}

.checkbignormal {
  width: 24px;
  height: 24px;
  background-position: -163px 0;
}

.checkbigselected {
  width: 24px;
  height: 24px;
  background-position: -187px 0;
}

.checkboxnormal {
  width: 14px;
  height: 14px;
  background-position: -211px 0;
}

.checkboxselected {

  width: 14px;
  height: 14px;
  background-position: -225px 0;
}

.checkpincode {

  width: 23px;
  height: 19px;
  background-position: -239px 0;
}

.chevron-right {

  width: 8px;
  height: 12px;
  background-position: -262px 0;
}

.deptselected-icon {
  width: 16px;
  height: 16px;
  background-position: -270px 0;
}

.gototop {
  width: 40px;
  height: 40px;
  background-position: -286px 0;
}

.group {
  width: 22px;
  height: 22px;
  background-position: -326px 0;
}

.hamburger {
  width: 17px;
  height: 12px;
  background-position: -348px 0;
}

.hideshowpanel {
  width: 18px;
  height: 8px;
  background-position: -365px 0;
}

.ic-facebook {
  width: 28px;
  height: 28px;
  background-position: -383px 0;
}

.modalclose {
  width: 25px;
  height: 23px;
  background-position: -412px 0;
}

.modalclosesmall {

  width: 13px;
  height: 12px;
  background-position: -436px 0;
}

.modalnext {

  width: 13px;
  height: 24px;
  background-position: -449px 0;
}

.myntralogo {

  width: 112px;
  height: 36px;
  background-position: -462px 0;
}

.mlogo {
  background-position: -461.5px 0px;
  width: 50px;
  height: 37px;
}

.myntraicon {

  width: 68px;
  height: 47px;
  background-position: -574px 0;
}

.offercheck {
  width: 19px;
  height: 19px;
  background-position: -642px 0;
}

.optionsnormal {

  width: 24px;
  height: 24px;
  background-position: -661px 0;
}

.optionsselected {

  width: 24px;
  height: 24px;
  background-position: -685px 0;
}

.radionormal {
  width: 14px;
  height: 14px;
  background-position: -709px 0;
}

.radioselected {
  width: 14px;
  height: 14px;
  background-position: -723px 0;
}

.refresh {

  width: 16px;
  height: 20px;
  background-position: -737px 0;
}

.search {
  width: 21px;
  height: 21px;
  background-position: -754px 0;
}

.triangle-1 {

  width: 6px;
  height: 4px;
  background-position: -772px 0;
}

.updowncursor {

  width: 35px;
  height: 35px;
  background-position: -778px 0;
}

.headerUser {
  width: 24px;
  height: 24px;
  background-position: -298px -56px;
}

.user {
  width: 17px;
  height: 20px;
  background-position: -813px 0;
}

.whiteTick {
  width: 16px;
  height: 13px;
  background-position: -830px 0;
}

.darkTick {
  width: 16px;
  height: 13px;
  background-position: -830px -12px;
}

.pause-small {
  width: 25px;
  height: 25px;
  background-position: -897px 0px;
}

.play-small {
  width: 25px;
  height: 25px;
  background-position: -990px 0px;
}

.play-big {
  background-position: -2027px 0px;
  width: 142px;
  height: 137px;
}

.preorder-strip {
  width: 60px;
  height: 12px;
  background-position: 313px -41px;
}

.zoomcursor {
  width: 35px;
  height: 35px;
  background-position: -846px 0;
}

.navFwd {
  background-position: -366px 0px;
  width: 17px;
  height: 15px;
}
.caret {
  background-position: -780.5px -33.5px;
  width: 12px;
  height: 10px;
}

.headerLogo {
  width: 53px;
  height: 36px;
  background-position: -462px 0px;
}

.logo {
  width: 112px;
  height: 40px;
  background-position: -462px 0px;
}

.back {
  background-position: -880px 0px;
  width: 17px;
  height: 16px;
}

.android {
  background-position: -543px 0px;
  width: 21.5px;
  height: 27.5px;
}

.ios {
  background-position: -565px 0px;
  width: 22px;
  height: 27.5px;
}

.windows {
  background-position: -589px 0px;
  width: 22px;
  height: 27.5px;
}

.appBanners {
  background-position: -2px 0px;
  width: 340px;
  height: 49px;
}

.original {
  background-position: -421.5px 0px;
  width: 47.5px;
  height: 40px;
}

.return {
  background-position: -469.5px 0px;
  width: 34.5px;
  height: 40px;
}

.delivery {
  background-position: -504.5px 0px;
  width: 38px;
  height: 40px;
}

.greetings {
  background-position: -343px 0px;
  width: 78.5px;
  height: 7px;
}

.downloadAndroidApp {
  background-position: -2.5px -1.5px;
  width: 106px;
  height: 42.5px;
}

.downloadiOSApp {
  background-position: -119px -1.5px;
  width: 106px;
  height: 43px;
}

.downloadWindowsApp {
  background-position: -236px -1.5px;
  width: 106px;
  height: 43px;
}

.star {
  background-position: -270px -1px;
  width: 15px;
  height: 15px;
}

.downArrow {
  background-position: -367px -1px;
  width: 15px;
  height: 10px;
}

.arrowRight {
  width: 8px;
  height: 12px;
  background-position: 1039px 0;
}

.emptyIcon {
  width: 96px;
  height: 105px;
  background-position: -1163px 0;
}

.remove {
  width: 14px;
  height: 14px;
  background-position: -1083px 0;
}

.sort {
  background-position: -2524px 26px;
  width: 18px;
  height: 20px;
}

.sortSelected {
  background-position: -2541px 26px;
  width: 17px;
  height: 20px;
}

.filter {
  background-position: -2491px 26px;
  width: 17px;
  height: 20px;
}

.filterSelected {
  background-position: -2508px 26px;
  width: 17px;
  height: 20px;
}

.tuner {
  background-position: -2666px -40px;
  width: 44px;
  height: 32px;
}

.landscape {
  background-position: -2741px 0px;
  width: 67px;
  height: 67px;
}

.greyWishlist {
  background-position: -2531px 0px;
  width: 18px;
  height: 25px;
}

.wishlist {
  background-position: -2564px 0px;
  width: 19px;
  height: 25px;
}

.isWishlisted {
  background-position: -2549px 0px;
  width: 18px;
  height: 25px;
}

.multiColour {
  background-position: -2492px -58px;
  width: 30px;
  height: 20px;
}

.preorder {
  width: 70px;
  height: 14px;
  background-position: -2492px -42px;
}

.close {
  background-position: -2342px 5px;
  width: 16px;
  height: 20px;
}

.arrowDownBold {
  background-position: -2679px -89px;
  width: 15px;
  height: 15px;
}

.arrowUpBold {
  background-position: -2704px -90px;
  width: 15px;
  height: 15px;
}

.arrowRightBold {
  background-position: -2666px -89px;
  width: 15px;
  height: 15px;
}

.arrowLeftBold {
  background-position: -2694px -89px;
  width: 12px;
  height: 15px;
}

.brightcoveMute {
  background-position: -213px -78px;
  width: 25px;
  height: 25px;
}

.brightcoveUnMute {
  background-position: -190px -78px;
  width: 25px;
  height: 25px;
}

.brightcovePlay {
  background-position: -143px -79px;
  width: 23px;
  height: 23px;
}

.brightcoveReplay {
  background-position: -167px -79.5px;
  width: 23px;
  height: 23px;
}

.brightcoveExpand {
  background-position: -237px -78px;
	width: 25px;
	height: 25px;
}

.brightcoveShrink {
  background-position: -260px -78px;
	width: 25px;
	height: 25px;
}

.reviewPrevious {
  background-position: -906px -119px;
  width: 20px;
	height: 26px;
}

.reviewNext {
  background-position: -813px -80px;;
  width: 20px;
	height: 26px;
}

.reviewClose {
  background-position: -908px -90px;
  width: 32px;
	height: 32px;
}

.reviewClose2 {
  background-position: -848px -90px;
  width: 18px;
	height: 18px;
}

.reviewFilterDropdownArrow {
	background-position: -205px -62px;
	width: 6px;
	height: 9px;
}

.reviewStart {
  background-position: -593px -172px;
  width: 8px;
	height: 8px;
}

.startIconDefault {
  background-position: -288px -86px;
	width: 4px;
	height: 4px;
}

.startIconSelected {
  background-position: -288px -95px;
	width: 4px;
	height: 4px;
}
