
.mfgBaseContainer {
  outline: none;
}

.container {
  text-align: center;
  background-color: #ffeedf;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.heading {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  color: ~colors.black;
  padding: 50px 0 16px 0;
}

.preHeading {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: ~colors.black;
}

.preHeading img {
  max-width: 60%;
}

.heading2 {
  text-align: left;

	font-size: 16px;
	font-weight: 500;
	color: #3e4152;
  margin-top: 32px;
}
.headerExtraInfo {

	font-size: 16px;
	color: #3e4152;
  margin-top: 6px;
  text-align: left;
}
.mfgRewardsBody{
  text-align: left;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.rewardsBodyHeading {

	font-size: 24px;
	font-weight: 500;
	color: #282c3f;
}
.preRewardsBodyHeading {

	font-size: 24px;
	font-weight: 500;
	color: #282c3f;
  margin-bottom: 20px;
}
.rewardsBodyHeading2 {

	font-size: 16px;
	font-weight: 500;
	color: #535766;
  margin-top: 20px;
  margin-bottom: 16px;
}
.spendInfo {
  padding: 16px 5px 16px 5px;
  text-align: center;
  border-bottom: 1px solid #bfc0c6;
  color: #282c3f;
}
.spendInfoCat {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}
.spendInfoVal {
  font-size: 18px;
  color: rgb(40,44,63);
  padding-left: 2px;
  padding-right: 2px;

  font-weight: 600px;
}

.swimLanesHeading {
  width: 25%;
  font-weight: 500;
}
.swimLanesYou {
  color: rgb(83, 87, 102);
  font-size: 12px;
  padding-left: 8px;
}
.swimLanesGroup {
  color: rgb(83, 87, 102);
  font-size: 12px;
  margin-left: 10px;
}

.swimLanesHeadingAfter {
  display: block;
  content: '.';
  color: white;
  width: 48px;
  text-align: center;
  margin: auto;
  composes: mfgBarTop from '../../../../resources/sprites.css';
}
.rewardBlock {
  display: table;
  width: 100%;
}
.leftBodyPanel {
  display: table-cell;
  width: 25%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.leftBodyPanelBack {
  background: url(https://constant.myntassets.com/web/assets/img/11496925188847-mfgbars.png);
  background-size: 70px;
  background-repeat: repeat-y;
  background-position: 40%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.6, 1);
}
.rightBodyPanel {
  display: table-cell;
  width: 70%;
  vertical-align: top;
  padding: 2px;
  padding-bottom: 15px;
}
.milestonesData {
  display: inline-block;
  position: relative;
  border: 1px solid rgb(212,213,217);
  padding: 4px;
  background-color: white;
  border-radius: 20px;
  font-weight: 500;
  width: 80%;
  font-size: 13px;
  height: 15px;
}
.youMilestone {
  display: inline-block;
  position: absolute;
  left: 15%;
}
.groupMilestone {
  display: inline-block;
  /*margin-left: 15%;
  padding-left: 10%;
  padding-left: 15%;*/
  position: absolute;
  left: 65%;
}
.milestonesDataOnlyLeft {
  width: 50%;
  float: left;
  display: inline-block;
  border: 1px solid rgb(212,213,217);
  padding: 3px;
  background-color: white;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  font-size: 13px;
}
.milestonesDataOnlyRight {
  width: 50%;
  float: right;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid rgb(212,213,217);
  padding: 3px;
  background-color: white;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  font-size: 13px;
}
.youMilestoneOnly {
  display: inline-block;
}
.groupMilestoneOnly {
  display: inline-block;
  margin: auto;
}
.joinedMilestone {
  display: inline-block;
  text-align: center;
}
.divider {
  width: 0;
  height: 15px;
  display: inline-block;
  border-left: 1px solid #d4d5d9;
  position: absolute;
  left: 50%;
}
.rewardCard {
  margin-left: 10px;
  border: 1px dashed #bfc0c6;
  border-radius: 5px;
}
.rewardCard:hover {
  cursor: pointer;
}
.achievedRewardCard {
  background-color: #e0f092;
}
.cartOfferRewardCard {
  border-style: solid;
}

.rewardText {
  padding: 10px;
  padding-left: 15px;
  width: 81%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.rewardCardTitle {

	font-size: 14px;
	font-weight: 500;
	line-height: 1.25;
	color: #282c3f;
}
.rewardCardDescription {

	font-size: 14px;
	color: #282c3f;
  margin-top: 6px;
  line-height: 17px;
}

.rewardCardArrow {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rewardCardIconLocked {
  position: absolute;
  left: -12px;
  top: calc(50% - 5px);
  composes: mfgLockIcon from '../../../../resources/sprites.css';
}
.rewardCardIconUnlocked {
  position: absolute;
  left: -12px;
  top: calc(50% - 5px);
  composes: mfgUnlockIcon from '../../../../resources/sprites.css';
}
.rewardCardMoreDark {
  display: inline-block;
  width: 15px;
  height: 15px;
  composes: mfgRightArrow from '../../../../resources/sprites.css';
}
.rewardCardMoreLight {
  display: inline-block;
  width: 15px;
  height: 15px;
  composes: mfgRightArrow from '../../../../resources/sprites.css';
}

.bumperOfferBox {
  border: 4px solid rgb(255,158,181);
  border-radius: 5px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.bumperOfferHead {
  font-size: 20px;
  font-weight: 500;

  color: #282c3f;
}
.bumperOfferBody {
  font-size: 18px;

  color: #3e4152;
  padding-top: 16px;
  padding-bottom: 16px;
}
.bumperOfferDetails {
  font-size: 14px;

  color: #3e4152;
  font-weight: 500;
}
.viewDetailsArrow {
  composes: mfgRightArrowDark from '../../../../resources/sprites.css';
  margin-left: 5px;
  vertical-align: text-top;
}







.unlockedIcon{
  width: 24px;
  height: 28px;
  vertical-align: middle;
  margin-bottom: 12px;

}
.rewardCardWrapper {
  /*display: inline-block;*/
}
.rewardCardBox {
  display: inline-block;
  width: 270px;
  margin-left: 8px;
	border-radius: 3px;
	background-color: #b5fbd4;
	border: solid 0.5px #eaeaec;
  padding: 16px;
  margin-bottom: 12px;
}
@media(min-device-width: 400px){
  .rewardCardBox {
    width: 220px;
  }
}
.defaultRewardCardBox {
  display: inline-block;
  width: 311px;
  margin-left: 8px;
	border-radius: 3px;
	background-color: #fff4d4;
	border: solid 0.5px #eaeaec;
  padding: 16px;
  margin-bottom: 12px;
}
@media(min-device-width: 400px){
  .defaultRewardCardBox {
    width: 220px;
  }
}
.unlockedRewardCardBox {
  display: inline-block;
  width: 270px;
  margin-left: 8px;
	border-radius: 3px;
	background-color: #f7f9ff;
	border: solid 0.5px #eaeaec;
  padding: 16px;
  margin-bottom: 12px;
  vertical-align: middle;
}
@media(min-device-width: 400px){
  .unlockedRewardCardBox {
    width: 220px;
  }
}
.mfginfo {
  font-size: 16px;
  line-height: 21px;
  color: ~colors.black_90;
  text-align: center;
  padding: 10px 46px 32px 46px;
}

.viewRewardsLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  padding: 0 0 32px 0;
  text-transform: uppercase;
}

.whatIsMfgLink {
  font-size: 16px;
  text-align: center;
  padding: 36px 0 32px 0;
}

.viewRewardsLink a,
.whatIsMfgLink a,
.whatIsMfgLink div {
  color: ~colors.melon;
}

.whatIsMfgLink div:hover {
  cursor: pointer;
}

.groupPosHeader {
  padding: 25px 0 12.5px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: ~colors.black;
}

.shoppingGroupsHeader {
  padding: 33px 0 9.5px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: ~colors.black;
}

.showModal {
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: block;
  background: ~colors.white;
  z-index: 12;
}

.hideModal {
  opacity: 1.0;
  display: none;
}

.hideLoader {
  display: none;
}

.showLoader {
  display: block;
}

.loaderDiv {
  min-height: 150px;
  position: relative;
}

.errorDiv {
  min-height: 150px;
  position: relative;
}

.errorDiv span {
  position: absolute;
  top: ~"calc(50% - 20px)";
  left: ~"calc(50% - 150px)";
  color: ~colors.red;
}

.action {
  width: 90%;
  border-radius: 3px;
  background-color: ~colors.melon;
  margin: 0 5% 0 5%;
  height: 44px;
}

.action button {
  color: ~colors.white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 4% 0 0 0;
  background: ~colors.melon;
  border: none;
}

.spinner {
  height: 16px;
  width: 16px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid ~colors.melon;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 12;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px) {
    .mfgBaseContainer {
      background: #feedf6;
      background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
      background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
      background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
      min-height: 600px;
      padding: 80px 0;
    }
    .mfgContentContainer {
      box-shadow: 0 2px 15px rgba(0,0,0,.1);
      max-width: 420px;
      margin: auto;

      background: white;
    }
    .loaderDiv, .errorDiv {
      min-height: 350px;
    }
    .preHeading img {
      max-width: 250px;
    }
}
