.panel {
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0,0,0,0.1);
  background: #fff;
  border: 1px solid #eaeaec;
  width: 980px;
  padding: 15px 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.expanded {
  display: block;
}

.titleBar {
  color: #adaeaf;
  padding: 0 18px 12px 18px;
  border-bottom: solid 1px #eaeaec;
}

.searchInput {
  margin: 0 20px 0 0;
  height: 30px;
  width: 170px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-transform: capitalize;
}

.searchInput:focus {
  border: 1px solid #526cd0;
}

.list{
  padding: 20px 18px 10px 0 !important;
  margin-right: 18px !important;
  margin-left: 10px !important;
  height: 465px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.list li {
  margin: 0 10px 8px 0;
  font-size: 14px;
  padding-left: 10px;
}

.list li label {
  display: block;
  width: 100%;
  min-height: 17px;
  color: #282c3f;
}

.listTitle {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #282c3f;
}

.close {
  float: right;
  cursor: pointer;
  opacity: 0.7;
  margin-top: 10px;
  composes: remove from '../../../../resources/sprites.css';
}

.count {
  color: #94969f;
  font-size: 11px;
  margin-left: 4px;
}

.indices {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
}

.indices li {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: #adaeaf;
  font-weight: 500;
  font-size: 13px;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}
