@import '../../../Myx/Carousel/slick';
@import 'slickoverride';

.base {
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 30px 10px;
  :global(.slick-initialized) {
    margin-bottom: 0px;
  }
}

.loyalty {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
  margin: -12px 0 10px 0;
  font-weight: 300;
  text-align: left;
  font-size: 12px;
  color: #282c3f;
}

.PPPromo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
  margin: -12px 0 10px 0;
  text-align: left;
  font-size: 12px;
  line-height: 1;
  color: #ff5a5a;
}

.base:hover, .base.isActive {
  /* outline: 1px solid #eaeaec; */
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.05); */
  box-shadow: 0px 2px 16px 4px rgba(40, 44, 63, 0.07);
}

.base a {
  text-decoration: none;
}
.strike {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.brand {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h3.brand {
  margin-top: inherit;
  margin-block-start: initial;
}

.product {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0px;
  margin-top:0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

/* TODO: Margin-down was 16 px, reduced to 6px, check if causes issues */
.price {
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  margin: 10px 0 6px;
  white-space: nowrap;
  font-weight: 500;
}

.discountedPrice {
  font-size: 14px;
  font-weight: 500;
  color: #282c3f;
}

.discountPercentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;

  em, b {
    font-style: normal;
    font-weight: 400;
  }

  .gift, div, p {
    display: inline;
  }
}

.thumb {
  height: 240px;
  display: block;
  background-color: transparent;
  opacity: 1;
}

.thumbShim {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 210px;
  background-color: ~colors.ultra_dark;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

.thumbShimActive {
  visibility: visible;
  opacity: 0.5;
  z-index: 1
}

.actions {
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 250px;
  background: #fff;
  width: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.prelaunchActions {
  padding-bottom: 6px;
}

.actionsButton {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  box-sizing: border-box;
}

.wishlist {
  border-radius: 2px;
  border: solid 1px #d4d5d9;
  color: #282c3f;
  letter-spacing: 0.3px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

}

.wishlist:hover {
  border: 1px solid ~colors.black_80;
}

.prelaunchBtn {
  border: none;
  &:hover {
    border: none;
    background-color: #ff527b;
  }
}

.launchDate {
  display: inline-block;
  text-align: center;
  font-size: 9px;
}
.launchDateWishlisted {
  color: white;
  font-size: 9px;
}

.addToBag {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  line-height: inherit;
  border-radius: 2px;
  background-color: #ff3e6c;
  color: #FFF;
  letter-spacing: 0.3px;
  &:hover {
    background-color: ~colors.melon_90;
    
  }
}

.addToBag span {
  display: block;
}

.sizes {
  font-size: 14px;
  color: #535665;
  line-height: 1;
  display: none;
  margin-top:0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px;
  margin-bottom:0px;
  font-weight: 400;
}

.base:hover .actions, .base.isActive .actions {
  display: flex;
}
.base:hover .imageRotaterContainer {
  display: block;
}
.base:hover .similarItemCta {
  display: block;
}
.base:hover .sizes, .base.isActive .sizes {
  display: block;
}

.base:hover .product {
  display: none;
}

.sizeDisplayDiv {
  z-index: 1;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 110px;
  background: white;
  visibility: hidden;
  margin-bottom: -140px;
  transition: all 0.2s ease-out;
}

.showSizeDisplayDiv {
  visibility: visible;
  margin-bottom: 0;
}

.sizeDisplayPriority {
  bottom: 114px;
}

.sizeDisplayDivLoyalty {
  bottom: 123px;
}


.sizeDisplayPriorityLoyalty {
  bottom: 121px;
}

.sizeDisplayHeader {
  /* border-bottom: 1px solid #eaeaec;
  border-top: 1px solid #eaeaec; */
  padding: 8px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  color: #535766;
}

.sizeDisplayRemoveMark {
  position: absolute;
  top: 11px;
  right: 10px;
  cursor: pointer;
  opacity: 0.7;
  transform: scale(.8);
  composes: remove from '../../../../resources/sprites.css';
}

.sizeButtonsContaier {
  /* text-align: center; */
  padding: 5px 10px 10px;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 108px;
}

.sizeButton {
  border-radius: 20px;
  margin: 5px;
  min-width: 34px;
  min-height: 34px;
  background-color: ~colors.white;
  border: solid 1px #BFC0C6;
  outline: none;
  font-size: 12px;
  /* color: #696e79; */
  box-sizing: border-box;
  padding: 5px;
}

.sizeButton:hover {
  border-color: #282c3f;
  color: #282c3f;
}

.sizeButtonSelected {
  border-color: #14cda8;
  color: #fff;
  background: #14cda8;
}

.productMetaInfo {
  position: relative;
  z-index: 3;
  background: ~colors.white;
  padding: 0 10px;
  height: 100%;
  margin-top:12px;
  box-sizing: border-box;
  overflow: hidden;
}

.preOrderLabel {
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 0;
  z-index: 1;
  font-size: 8px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  padding-left: 2px;
  line-height: 14px;
  height: 14px;
  composes: preorder from '../../../../resources/sprites.css';
}

.productImage{
  opacity: 0;
  transition: opacity .7s ease-out;
}

.productImage:global.is-visible{
  opacity: 1;
}

.eorsText {
  font-size: 7px;
}

.sizeInventoryPresent {
  color: #535665;
}
.sizeNoInventoryPresent {
  color: #a9abb3;
}

.base .similarItemCta {
  width: 30px;
  height: 30px;
  line-height: 26px;
  font-size: 12px;
  right:12px;
  top: 207px;
  display: none;
  z-index:1;
  > span:first-child {
    background-size: 6000% 486.36%;
    background-position: 10.4% 71%;
    width: 15px;
    height: 13px;
  }
  > span:nth-child(2) {
    font-size: 12px;
    margin-top: 0px !important;
    margin-left: 6px !important;
  }
}
.similarItemCta:hover {
  border-radius: 40px;
  width: 132px;
}

.sliderContainer {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
}
.imageSliderContainer {
  position: relative;
  width: 210px;
  height: 280px;
}

.xceleratorTag {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ratingsContainer {
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-top: 250px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0 0 0 4px;
  background-color: rgba(255, 255, 255, 0.8);

  .starIcon {
    margin-left: -2px;
    transform: scale(0.55);
  }

  .ratingsCount {
    display: flex;
    padding-right: 4px;

    .separator {
      font-size: 10px;
      margin: -0.5px 6px 0px -2px;
    }
  }
}
