.showModal {
  opacity: 0.5;
  box-sizing: content-box;
}

.hideModal {
  opacity: 1.0;
  box-sizing: content-box;
}

.loadingImage {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -22px;
    width: 44px;
    height: 12px;
    z-index: 10;
}

.mobile {
	width: 100%;
	height: 100%;
	margin-bottom: 70px;
}

.app {
	width: 100%;
	height: 100%;
	margin-bottom: 70px;
}

.desktop {
	padding: 0 28px;
    max-width: 1600px;
    min-width: 1128px;
    margin: 0 auto;
}

.heading {
	width: 162px;
	height: 21px;

  	font-size: 18px;
	  /* font-weight: 600; */
	  font-weight: 500;
  	color: ~colors.ultra_dark;
}

.wishListContainer {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 50px 0 0 -75px;
	bottom: 100px;
	justify-content: space-between;
}

.mobile .heading {
  font-size: 14px;
}

.count {
	composes: heading;
	font-weight: normal;
}

.headingDiv {
	margin: auto;
	padding: 50px 0px 50px 0px;
}

.loader {
	margin: 0px auto;
	width: 44px;
	height: 10px;
	display: none;
    padding: 10px 0px 10px 0px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.errorDiv {
	display: block;
	width: 100%;
	text-align: center;
	color: ~colors.red;
	padding: 5px;
}

.similarItemContainer {
	width: 100%;
}

.base {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	margin: 0 -10px 0 3px;
	width:100%;
	justify-content: space-between;
	padding-left: inherit;
  }

.similarGrid {
	margin: 0px;
	justify-content: space-between;
	> li {
	  margin: 0 0 30px 0;
	  width: 210px;
	}
	.loyalty {
	  max-width: 173px;
	}
}

.noSimilarContainer {
	width: 50% !important;
	max-width: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 110px auto 0 auto !important;
	> div {
	  background-color: rgb(255,255,255,1) !important;
	}
}

.noSimilartext {
	letter-spacing: 0.5px;
	color: #282c3f;
	font-size: 16px;
	/* font-weight: 600; */
	font-weight: 500;
	width: 100%;
	text-align: center;
	margin-top: 35px;
}

:global {
	.wishlistitem-appear {
	  opacity: 0.01;
	}

	.wishlistitem-appear.wishlistitem-appear-active {
	  opacity: 1;
	  transition: opacity .5s ease-in;
	  -webkit-transition: opacity .5s ease-in;
	  -moz-transition: opacity .5s ease-in;
	  -o-transition: opacity .5s ease-in;
	  -ms-transition: opacity .5s ease-in;
	}

	.wishlistitem-enter {
	  opacity: 0.01;
	}

	.wishlistitem-enter.wishlistitem-enter-active {
	  opacity: 1;
	  transition: opacity 500ms ease-in;
	  -webkit-transition: opacity 500ms ease-in;
	  -moz-transition: opacity 500ms ease-in;
	  -o-transition: opacity 500ms ease-in;
	  -ms-transition: opacity 500ms ease-in;
	}

	.index-mobile .index-itemsContainer {
		max-width: 100%;
		margin: 0px;
		padding: 0px;
		min-width: 0px;
    	margin-left: 4%;
	}
	.index-mobile .index-heading {
		margin: 0 auto;
    	font-size: 16px;
	}
	.index-mobile .index-headingDiv {
		max-width: 100%;
		margin: 0px 0px 0px 4%;
    	padding: 10px 0px 20px 0px;
	}
	.index-app .index-itemsContainer {
		padding: 0 0 0 4%;
    	box-sizing: border-box;
    	margin: 0px;
	}

	@media screen and (min-width: 1440px) {
		.index-mobile .index-headingDiv {
			margin: 0px 0px 0px 2.7%;
		}
	}
}

.dummyData {
	width: 236px;
}
