.container {
  position: relative;
  border-right: none !important;
  padding-top: 0px;
}

.clearAllBtn {
  position: absolute;
  top: 2px;
  right: 10px;
  font-weight: 500;
  color: #ff3f6c;
  font-size: 13px;
  cursor: pointer;
}

.title {
  font-weight: 700;
}
