.container {
  margin: 16px 0 16px 0px;
  box-shadow: 0 0 12px 0 rgba(148,150,159,0.15);
  background-image: url('https://constant.myntassets.com/web/assets/img/11505368683742-2852-19e71ar.png'),
  	linear-gradient(45deg, rgb(145, 155, 236) 10%, rgb(170,146,224) 100%);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  min-height: 100px;
}

.title {
  font-size: 17px;
  line-height: 19px;
  color: ~colors.white;
  text-align: center;
  font-weight: 500;
  padding: 16px 16px 0px 16px;
}

.description {
  font-size: 15px;
  line-height: 19px;
  color: ~colors.white;
  text-align: center;
  padding: 16px 0 16px 0;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (max-device-width: 1024px)
  and (min-device-width: 768px) {
  	.title {
  	  padding: 26px 16px 0px 16px;
  	}
  	.description {
  	  padding: 26px 40px 26px 40px;
  	}
}
