.col50 {
  width: 49.5%;
  float: left;
  margin-bottom: 1%;
  position: relative;

  &.hasMarginLeft {
    margin-left: 1%;

    &::after {
      content: '';
      display: block;
      height: 1px;
    }
  }

  :global(.brightcove-react-player-loader) {
    padding-top: 133.33%;
    overflow: hidden;
    position: relative;
    border: 1px solid #F5F5F6;
  }

  :global(.video-js)  {
    position: absolute;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
  } 

  :global(.vjs-big-play-button),
  :global(.vjs-dock-text),
  :global(.vjs-control-bar), 
  :global(.vjs-errors-dialog),
  :global(.vjs-menu.vjs-contextmenu-ui-menu) {
    display: none;
  }

  :global(.vjs-loading-spinner) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: ~colors.white;
    box-shadow: 0px 0px 3px 2px #00000017;
    border: none;
  }

  :global(.vjs-control-text)  {
    height: 25px;
    width: 25px;
    animation: rotate 0.8s infinite linear;
    border: 2px solid ~colors.red;
    border-right-color: transparent;
    border-radius: 25px;
    clip: auto;
  }

  @keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
}

.play, .pause, .replay, .loaderContainer, .placeholder {
  border-radius: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.8);
}

.play {
  box-shadow: 0 2px 4px 0 rgba(40, 44, 63, 0.2);
  composes: brightcovePlay from '../../../resources/sprites.css';
}

.replay {
  box-shadow: 0 2px 4px 0 rgba(40, 44, 63, 0.2);
  composes: brightcoveReplay from '../../../resources/sprites.css';
}

.mute, .unmute, .expand, .shrink{
  position: absolute;
  z-index: 3;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  transform: scale(1.4);
  background-color: #ffffff;
  border-radius: 100%;
}

.unmute {
  composes: brightcoveUnMute from '../../../resources/sprites.css';
}
.mute {
  composes: brightcoveMute from '../../../resources/sprites.css';
}

.expand {
  composes: brightcoveExpand from '../../../resources/sprites.css';
}
.shrink {
  composes: brightcoveShrink from '../../../resources/sprites.css';
}

.expand, .shrink {
  right: 15px;
  left: auto;
}

.placeholder {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.expandView {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 36%;
    position: relative;
  }

  :global(.brightcove-react-player-loader) {
    border: none;
  }
}
.closeExpanded {
  outline: 0px;
  background-color: ~colors.white;
  font-size: 20px;
  color: ~colors.black_90;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid ~colors.light;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 10px 7px 10px;

  &:hover {
    background-color: ~colors.black_5;
  }
}
.closeIcon {
  composes: modalclose from '../../../resources/sprites.css';
}
