.container {
  max-width: 980px;
  margin: 230px auto 180px auto;
  text-align: center;
}

.mobile .container {
  margin: 150px auto;
}

.heading {
  font-size: 20px;
  font-weight: 500;
  color: ~colors.ultra_dark;
}

.mobile .heading {
  font-size: 14px;
}

.info {
  font-size: 18px;
  color: ~colors.medium;
  max-width: 380px;
  margin: 20px auto 0px;
}

.mobile .info {
  font-size: 12px;
  max-width: 250px;
  margin-top: 10px;
}

.icon {
  margin: 43px 0px 50px;
  display: inline-block;
  composes: emptyIcon from '../../../../resources/sprites.css';
}

.mobile .icon {
  zoom: .6;
  margin-top: 23px;
}

.button {
  border: solid 1px ~colors.blue_90;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 14.5px 51px;
  color: ~colors.blue_90;
  cursor: pointer;
  display: inline-block;
}

.mobile .button {
  font-size: 12px;
  padding: 9px 30px;
}
