.title {
  margin: 0;
  margin-top: 50px;
  text-transform: uppercase;
  color: ~colors.black_90;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin-bottom: 10px;
  max-height: 5em;
  width: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.subtitle {
  margin-top: 0px;
  font-weight: 400;
  line-height: 1em;
  max-height: 3em;
  color: ~colors.black_60;
  width: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  margin-bottom: 50px;
}

.container {
  width: 100%;
}
