.container {
  display: block;
  padding: 29px 0px 22px 0px;
  font-size: 14px;
}

.link {
  color: ~colors.ultra_dark;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid ~colors.transparent;
}

.link:hover {
  border-bottom: 1px solid ~colors.light;
}

.bold-link {
  composes: link;
  font-weight: 500;
}

.separator {
  color: ~colors.ultra_dark;
  margin: 0px 5px;
  padding-top: 5px;
}

.bold-separator {
  composes: separator;
  font-weight: 500;
}

/* @media all and (min-width: 980px) {
  .container {
    display: block;
    padding: 19px 0px 22px 0px;
    font-size: 14px;
  }
} */
