.filters {
  font-size: 14px;
  display: flex;
  color: #282c3f;
  flex-flow: row wrap;
  margin: -10px 0 0 16px;
}

.filters li {
  margin-right: 4px;
  margin-bottom: 0px;
  margin-top: 10px;
  cursor: pointer;
}

.filters input {
  display: none;
}

.filters label{
  position: relative;
  padding: 5px 8px 5px 10px;
}

.upArrow {
  vertical-align: middle;
  transform: scale(.8);
  margin-left: 4px;
  composes: arrowUpBold from '../../../../resources/sprites.css';
}


.downArrow {
  vertical-align: middle;
  transform: scale(.8);
  margin-left: 4px;
  composes: arrowDownBold from '../../../../resources/sprites.css';
}


.filters label:hover {
  border-radius: 20px;
  background-color: #f4f4f5;
}

.filters .selected, .filters .selected:hover {
  border-radius: 20px;
  background-color: #f4f4f5;
}
.addMargin {
  margin-top: 10px
}

.values {
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  text-transform: capitalize;
  margin: 18px 0 0 11px;
}

.values li {
  margin: 0 20px 10px 0;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.base label {
  cursor: pointer;
  white-space: nowrap;
}

.title {
  font-weight: 400;
  margin: 0;
  display: inline-block;
}

.hidden {
  display: none;
}

label[data-key="size_facet"] {
  text-transform: uppercase;
}


.atsaFiltersOptionCtn {
  padding-left: 16px;
  padding-bottom: 0px;
  display: none;
}

.atsaShowContainer {
  display: block;
}

.more {
  font-weight: 500;
  color: #282c3f;
  margin-left: 10px;
}
