.crossLinkContainer {
  display: inline-block;
  margin: 35px 0 50px 0;
  width: 100%;
  text-align: center;
}

.links {
  display: inline-block;
  color: ~colors.new_link;
  font-size: 14px;
  font-weight: 500;
  margin-right: 16px;
  text-transform: uppercase;
  > div {
    border-radius: 24px;
    background-color: ~colors.white;
    border: solid 1px ~colors.black_30;
    padding: 16px 20px;
    &:hover {
      border: solid 1px ~colors.new_link;
    }
  }
}

.arrow {
  display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 10px;
    border: solid #ff3e6c;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-bottom: 1px;
}
