.pdp-container {
  margin: 0 auto;
  max-width: 1600px;
  min-width: 1128px;
  margin: 0 auto;
  position: relative;
  min-height: 700px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #FFFFFF;
}

.mobileImageZoom {
  z-index: 15;
}

.pdp-zoom-container {
  composes: pdp-container;
  z-index: 15;
}

.heartButtonIcon {
      vertical-align: text-bottom;
      position: relative;
      top: -1px;
      right: 6px;
  }

.details {
  position: relative;
}

.description-container {
  margin-top: 10px;
}

.title {

  color: ~colors.ultra_dark;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 20px 0px 0px;
  font-size: 24px;
  font-weight: 500;
  line-height:1;
}

.name {
  color: ~colors.dark_new;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 20px 14px 0px;
  font-size: 20px;
  opacity: 0.8;
  font-weight: 400;
}

.PPCouponInfo {
  width: 199px;
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  color: ~colors.Blue_Zodiac1;
}

.selling-price {
  position: relative;
}

.discount-container {
  color: ~colors.dark;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

.discount {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: ~colors.orange_new;
}

.selling-price {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

.price {
  font-weight: 500;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: ~colors.ultra_dark;
  margin-right: 12px;
  cursor: pointer;
}

.mrp {
  height: 22px;
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.2;
  color: ~colors.ultra_dark;
  margin-right: 12px;
}
.mrp-verbiage {
  min-width: 270px;
  position: absolute;
  border: 1px solid #e3e3e3;
  z-index: 1;
  background: white;
  padding: 8px;
  box-shadow: 0 0 12px #d3d3d3;
  transition: .2s;
  opacity: 0;
  transform: scale(0.001);
  color: #282C3F;
  font-size: 14px;
}
.mrp-verbiage div:first-child, .mrp-verbiage div:nth-child(5), .mrp-verbiage div:nth-child(7) {
  margin: 8px 0;
}
.mrp-verbiage .mrp-verbiage-amt {
  float: right;
  font-weight: 500;
  margin-left: 20px;
}
.mrp-verbiage hr {
  border: 1px solid #e3e3e3;
}
.mrp-verbiage:before {
  position: absolute;
  top: 1%;
  left: 20%;
  margin: -.25em;
  width: .5em;
  height: .5em;
  box-shadow: 10px 10px 12px #d3d3d3;
  transform: rotate(-135deg);
  background: linear-gradient(-45deg, white 50%, transparent 50%);
  content: '';
}
.price:focus, .price:active, .mrp-verbiage:focus, .mrp-verbiage:active {
  outline: none;
}
.price:focus + .mrp-verbiage, .price:active + .mrp-verbiage, .mrp-verbiage:focus, .mrp-verbiage:active {
  transform: scale(1);
  opacity: 1;
}
.offer {
  /*hiding till the offers block is available*/
  text-transform: capitalize;
  outline: 0px;
  background-color: ~colors.transparent;
  border: 0px;
  padding-left: 0px;
  color: ~colors.link;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  border-top: 1px dotted ~colors.light;
  width: 98%;
  text-align: left;
  padding-top: 22px;
}

.bogo-container {
  margin: 10px 20px 10px 0;
}

.coupon-info {
  padding: 1px 15px;
  position: relative;
  border: 1px solid ~colors.black_20;
}

.coupon-section-title {
  min-width: 100px;
  font-size: 11px;
  color: ~colors.black_80;
  display: inline-block;
}

.coupon-label {
  background-color: ~colors.white;
  border: 1px dashed ~colors.black_80;
  font-size: 13px;
  padding: 0px 5px;
  color: ~colors.green;
}

.coupon-description {
  font-weight: 500;
  font-size: 12px;
  color: ~colors.black_80;
}

.couponAtBestPrice {
  color: ~colors.black_80;
  font-size: 13px;
}

.coupon-emi-info {
  composes: coupon-description;
  border-top: 1px solid ~colors.black_20;
  padding-top: 10px;
}

.offer-badge {
  background-color: ~colors.red;
  color: ~colors.white;
  font-weight: 500;
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 5px;
}

.bogo-link {
  text-decoration: none;
  color: ~colors.medium;
}

.bogo {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid ~colors.transparent;
}

.bogo em {
  font-style: normal;
}

.bogo:hover {
   border-bottom: 1px solid ~colors.light;
}

.price-info {
  padding: 0 0 10px 0;
}

.global-product {
  margin: 0 0 0 20px;
  border-bottom: 1px dotted ~colors.light;
}

.globalHeader {
  margin-bottom: 0;
}

.globalDesc {
  position: relative;
}

.globalSubText {
  margin-top: 8px;
  font-size: 15px;
  color: ~colors.black_50;
}

.globalPoint {
  margin: 0 0 10px;
  color: ~colors.black_90;
}

.gp-1 {
  margin-bottom: 16px;
}

.globalReadMore {
  position: absolute;
  right: 0;
  top: 82px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: ~colors.link;
}

.close-button {
  position: absolute;
  font-size: 20px;
  padding: 4px;
  top: 0;
  right: 5px;
  color: ~colors.black_90;
  outline: 0px;
  background-color: ~colors.transparent;
  border: 0px;
}

.close-icon {
  composes: modalclosesmall from '../../resources/sprites.css';
}

.chevron-right {
  composes: modalnext from '../../resources/sprites.css';
  background-size: 542px 40px;
  background-position: -194px 5px;
  margin-left: 5px;
  height: 14px;
  width: 5px;
}

.button {
  border-radius: 3px;
  outline: 0px;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 16px;
  min-height: 22px;
}

.action-container {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 15px;
}

.goToCart {
  text-decoration: none;
  color: white;
  flex: 2;
  .add-to-bag {
    width: 100% !important;
  }
  span {
    vertical-align: sub;
  }
}

.whiteWishlistIcon {
  composes: whiteWishlist from '../../resources/sprites.css';
  transform: scale(0.5);
  margin: -2px 8px;
  margin-right: 8px;
}

.darkWishlistIcon {
  composes: darkWishlist from '../../resources/sprites.css';
  transform: scale(1.1);
  margin: -2px 8px;
  margin-right: 8px;
}

.whiteRightArrow {
  composes: whiteRightArrow from '../../resources/sprites.css';
  margin: -4px 10px;
}

.fixed {
  position: fixed;
  bottom: 0px;
}

.add-to-bag {
  composes: button;
  border-radius: 0px;
  padding: 12px 15px;
  min-width: 108px;
  font-weight: 500;
  cursor: pointer;
  background-color: ~colors.new_link;
  border: 1px solid ~colors.new_link;
  color: ~colors.white;
  flex: 3;
  text-align: center;
  width: 100%;
  margin-right: 3%;
  &:hover {
    background-color: ~colors.melon_90;

  }
}

.add-to-bag-with-prior {
  composes: add-to-bag;
  padding: 12px 0;
}

.go-to-bag {
  composes: add-to-bag;
  composes: flipXGoToBag from '../../resources/animations.css';
}

.add-to-bag-full{
  composes:add-to-bag;
  width:100%;
  box-sizing: border-box;;
}

.add-to-bag-full-with-prior {
  composes:add-to-bag-full;
  padding: 12px 0;
}

.go-to-bag-full {
  composes: add-to-bag-full;
  composes: flipXGoToBag from '../../resources/animations.css';
}

.add-to-wishlist {
  composes: button;
  border-radius: 0px;
  padding: 12px 15px;
  font-weight: 500;
  cursor: pointer;
  border: 0px;
  flex: 2;
  border: solid 1px ~colors.black_20;
  background-color: ~colors.white;
  letter-spacing: 0.4px;
  color: ~colors.ultra_dark;
}

.whiteBag {
  composes: whiteBag from '../../resources/sprites.css';
  margin-right: 12px;
  transform: scale(0.9);
}

.add-to-wishlist:hover {
  border: 1px solid ~colors.black_80;
}

.add-to-wishlist-disabled {
  color: white;
  border: 1px solid #7E818C;
  background-color: ~colors.black_80;
}

.add-to-wishlist-disabled:hover {
  background-color: ~colors.black_80;
  cursor: default;
}

.add-to-wishlist-full{
  composes:add-to-wishlist;
  width:100% !important;
  box-sizing: border-box;;
}

.size-chart-description {
  color: ~colors.ultra_dark;
  font-size: 13px;
  line-height: 1.5;
}


.style-note {
  color: ~colors.dark;
  font-size: 14px;
  line-height: 1.4;
}

.product-description-title {
  color: ~colors.ultra_dark;
  font-size: 16px;
  margin:0;
  font-weight: 500;
  text-transform: uppercase;
}

.product-description-content {
  color: ~colors.ultra_dark;
  line-height: 1.4;
  font-size: 16px;
  margin-top: 12px;
  width: 84%;

  b {
    font-weight: 500;
    display: inline-block;
    margin-top: 16px;
  }


  b:first-child{
    margin-top: 0px;
  }

  p {
    margin: 0;
  }
}

.returnable-content {
  composes: product-description-content;
  font-size: 14px;
  margin-top: 14px 0 0 0;
  padding: 0 20px 0 0;
  color: ~colors.ultra_dark;
}

.pin-code-label {
  color: ~colors.blue;
  font-size: 13px;
  outline: 0px;
  background-color: ~colors.transparent;
  border: 0px;
  padding-left: 0px;
}

.offercheck {
  composes: offercheck from '../../resources/sprites.css';
  margin-right: 5px;
  float: left;
  position: relative;
  top: -2px;
  margin: 0px 10px 0px 20px;
}

.offerCheckText:before {
  content: 'Tap for best price';
  text-transform: initial;
}

.error-message {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  margin: 200px 10px;
  color: ~colors.red;
}

.post-sale-price {
  font-size: 12px;
  margin-top: -17px;
  text-align: right;
  color: ~colors.dark;

}

.future-price {
  color: ~colors.ultra_dark;
}

.preorder-scarcity {
  display: inline-block;
  color: rgba(255,63,108,0.65);
  border: 1px solid rgba(255,63,108,0.65);
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
  margin-left: 0px;
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
}

.preorder-disclaimer, .preorder-launch-date {
  color: ~colors.black;
  font-size: 14px;
}

.preorder-disclaimer-text {
  color: ~colors.black_60;
  font-size: 14px;
  padding: 8px 0px 0px 0px;
}

.preorder-date {
  color: ~colors.orange;
  font-weight: 500;
}


.sizeChartInfo {
  margin-top: 14px;
}
.sizeFitDesc {
  font-weight: 400;
  border: none;
  margin-top: 12px;
}
.sizeFitDescTitle {
  composes: product-description-title;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding-bottom: 5px;
}

.completeTheLook {
  composes: product-description-title;
}

.sizeFitDescContent {
  composes: product-description-content;
  margin: 0px;
  width:90%;
}

.inputProductDetails {
  display: none;
}

.inputProductDetailsLabel {
  display: block;
  padding: 12px 20px;
  height: 20px;
  color: ~colors.black_70;
  font-size: 15px;
  font-weight: 500;
}

.expandProductDetails {
  position: absolute;
  right: 20px;
  font-size: 15px;
  font-weight: 500 !important;
}

.expandProductDetails:before {
  content: '+';
  font-size: 18px;
}

input.inputProductDetails[type=checkbox]:checked ~ label {
  display: none;
}


.productDescriptorsContainer {
  margin-top: 30px;
  ul {
    padding: 0;
    margin: 0px 0px 10px 0px;
  }

}
.productDescriptors {
  padding-bottom: 20px;
  border-bottom: 1px solid #D4D5D9;
}

.vatInfo {
  color: #03A685;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 5px 10px 0px 0px;
}

@media all and (min-width: 600px) {
  .image-container {
    max-width: 360px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .price-info {
    margin-right: 0px;
  }

  .offerCheckText:before {
    content: 'Check for offer';
    text-transform: initial;
  }

  .selected-image {
    width: 360px;
    height: 480px;
  }

  .description-container {
    margin-top: 0px;
  }

  .offer {
    position: absolute;
    display: inline-block;
    margin-top: 0px;
    right: 0px;
    padding-right: 0px;
    border-top: 0px;
    width: auto;
    top: 0px;
    padding: 0px 0px 0px 20px;
    margin-top: 23px;
  }

  .inputProductDetailsLabel {
    display: none;
  }


  .fixed {
    position: relative;
  }

  .action-container {
    padding: 0;
    z-index: 0;
    width: 84%;
  }
}

@media all and (max-width: 600px) {
  .action-container {
    font-size: 0;
    box-sizing: border-box;
    display: block;

    button, .goToCart{
      height: 44px;
      float: left;
    }
  }

  .add-to-wishlist {
    display: inline-block;
    width: 30%;
    padding: 14px 15px;
  }
  .add-to-bag {
    display: inline-block;
    width: 70%;
    .whiteBag {
      vertical-align: middle;
      margin: 0 8px 0 0;
    }
    span {
      vertical-align: sub;
    }
    &.add-to-bag-full {
      width: 100%;
    }
  }
}

@media all and (min-width: 320px) {
  .add-to-bag {
    min-width: 88px;
  }
}

@media all and (min-width: 360px) {
  .add-to-bag {
    min-width: 108px;
  }
}

@media all and (min-width: 980px) {
  .pdp-container {
    min-height: 910px;
  }


  .bogo-container {
    margin:10px 0px 16px 0px;
  }

  .image-container {
    max-width: 540px;
  }

  .selected-image {
    width: 540px;
    height: 720px;
  }

  .description-container {
    min-height: 820px;
    width: 42%;
    float: left;
    padding: 0 0 0 30px;
    box-sizing: border-box;
  }

  .add-to-wishlist, .add-to-bag {
    margin-top: 0px;
    border-radius: 4px;
  }

  .add-to-wishlist {
    width: 34%;
    text-align: center;
    padding: 10px 0px;
  }

  .add-to-wishlist-full{
    composes:add-to-wishlist;
    width:100% !important;
    box-sizing: border-box;;
  }

  .add-to-bag {
    text-align: center;
    padding: 15px 0px;
  }

  .add-to-bag-with-prior {
    text-align: center;
    padding: 12px 0px;
  }

  .add-to-bag-full{
    composes:add-to-bag;
    width:100%;
    box-sizing: border-box;
  }

  .add-to-bag-full-with-proir {
    composes:add-to-bag-with-prior;
    width:100%;
    box-sizing: border-box;
  }

  .post-sale-price {
    text-align: left;
    margin-top: 20px;
  }
}


.emiPlansContainer {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width:100%;
  position: fixed;
  top:0;
  left: 0;
  bottom:0;
  right:0;
  z-index:10;

  .emiInner {
    position: relative;
    top: 50%;
    margin-top: -220px;
    left: 50%;
    margin-left: -330px;
    box-sizing: border-box;
    width: 660px;
    height: 440px;
    background-color: ~colors.white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  @media all and (max-width: 480px) {
    .emiInner {
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}

.emiModalclose {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1);
  composes: remove from '../../resources/sprites.css';
  position: absolute;
  right: 30px;
  top: 24px;
}

.discountTimer {
  font-size: 14px;
  margin-top: 11px;
  letter-spacing: 1px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: ~colors.light_pink2;
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
  padding: 6px;
  .timerTitle {
    margin-right: 5px;
    color: ~colors.ultra_dark;
    letter-spacing: -0.5px;
  }
  .discountTime {
    font-weight: 800;
    letter-spacing: -0.5px;
    color: ~colors.light_red;
    font-family: helvetica , 'Whitney';
    b {
      font-weight: 800;
    }
  }
  .discountTimerSep {
    margin: 0 5px;
  }
}

.discountTimer:before {
  content:"";
  position: absolute;
  right: 100%;
  top:0px;
  width:0px;
  height:0px;
  border-top:15px solid transparent;
  border-right:15px solid ~colors.light_pink2;
  border-bottom:15px solid transparent;
}

.loyaltyContainer {
  display: inline-block;
  background: #fff5e4;
  margin-top: 5px;
  font-size: 15px;
  border-radius: 21px;
  padding: 4px 8px;
  margin-bottom: 8px;
}

.loyaltycoin {
  height: 15px !important;
  width: 15px !important;
  margin-right: 2px;
}

.flex {
  display: inline-flex;
}
.flex.center {
  justify-content: center;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}
.flex.align-start {
  align-items: flex-start;
}
.text-10 {
  font-size: 10px;
}

.eorsText {
  font-size: 10px;
  color: darkgray;
}

.wishlistNow {
  font-size: 14px;
  line-height: 1.3;
}

.disableSprite {
  display: none;
}

.outOfStockText {
  font-size: 11px;
  color: darkgray;
}

.pdpButtonWishlistNow {
  vertical-align: top;
  display: inline-block;
  composes: add-to-wishlist;
  width: 45% !important;
}

.productDetailsIcon {
  composes: productDetailsIcon from '../../resources/sprites.css';
  vertical-align : middle;
  margin-left: 5px;
}

.out-of-stock {
  background-color: ~colors.black_30;
  border: 1px solid ~colors.black_30;
  cursor: auto;
  &:hover {
    background-color: ~colors.black_30;

  }
}
.priority-out-of-stock{
  vertical-align: top;
  width: 40%;
  display: inline-block;
  background-color: ~colors.black_30;
  border: 1px solid ~colors.black_30;
  cursor: auto;
  &:hover {
    background-color: ~colors.black_30;
  }
}

.launchDate {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 6px;
}

.prelaunchTxt {
  color: #fff;
  position: absolute;
  top: 7px;
}

.prelaunchCta {
  width: 48%;
  padding: 21px 0 22px;
  background-color: #ff3f6c;
}
.prelaunchCtaSC {
  padding: 0 !important;
  height: 48px !important;
  left: 0 !important;
}

.wishlistedPrelaunchBtn {
  background-color: #535766;
}

.bb1 {
  border-bottom: 1px solid #D4D5D9;
}

.onPageLoader {
  min-height: 150px;
  padding: 50px 50px;
  text-align: center;
}

.sc-addToBag-disabled {
  opacity: 0.5;
  pointer-events: none;
}
