.deliveryContainer {
  margin-top: 30px;
  > h4 {
    color: ~colors.ultra_dark;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  > form {
    margin: 16px 0 0 0;
    padding: 0;
    position: relative;
  }
}
.button {
  outline: 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: ~colors.white;
  border: 0px;
  color: ~colors.new_link;
  text-transform: capitalize;
}

.check {
  composes: button;
  position: relative;
  left: -60px;
  background-color: transparent;
}

.heading {
  font-size: 14px;
  margin-bottom: 15px;
  color: ~colors.black_70;
  font-weight: 500;
}

.enterPincode {
  font-size: 13px;
  color: ~colors.ultra_dark;
  margin: 8px 0 0 0;
}

.check-another-pincode {
  composes: button;
  position: relative;
  left: -60px;
  background-color: transparent;
}

.serviceabilityForm {
  padding-bottom: 10px;
}

.code {
  border-radius: 5px;
  border: 1px solid ~colors.black_20;
  box-shadow: 0px;
  padding: 10px;
  font-size: 16px;
  min-width: 160px;
  outline: 0;
  width: 250px;

  &:focus {outline:none;}
  &::-moz-focus-inner {border:0;}

  &:disabled {
    background-color: #f4f4f5;
    border: 1px solid ~colors.black_20;
  }
}

.checkServiceAbilityhalfCard {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.picodeCheckContainer {
  position: fixed;
  padding: 0px 20px 20px 20px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: white;
}

.tick {
  composes: lightTick from '../../resources/sprites.css';
  margin: 0px 5px 0px 0px;
}

.serviceability-list {
  margin: 16px 0 0 0;
  padding: 0;
  line-height: 20px;
}

.serviceability-list li {
  list-style-type: none;
  font-size: 13px;
  color: ~colors.dark;
  margin-bottom: 10px;

   h4 {
    font-weight: 500;
    margin: 0;
    color: ~colors.ultra_dark;
    font-size: 16px;
    padding: 0;
    line-height:1.25;
  }

  p {
    font-weight: 400;
    margin: 0;
    line-height: 1.43;
    color: ~colors.black_blue;
    font-size: 14px;
  }
}

.tickcontainer {
  height:16px;
  width: 16px;
  border-radius: 16px;
  background-color: rgb(35,197,160);
  position: absolute;
  display: inline-block;
  left: 78px;
  top: 2px;
  margin: 10px 0;
  vertical-align: top;
}
.tick {
  position: absolute;
  top:3px;
  left:6px;
  height: 8px;
  width: 4px;
  border: solid ~colors.white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.tickSmallContainer {
  height:8px;
  width: 8px;
  border-radius: 8px;
  background-color: ~colors.black_blue;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 6px 10px 0px 0;
}

.tickSmall {
  composes: tick;
  top:2px;
  left: 3px;
  height: 4px;
  width: 2px;
}

.serviceabilityContainer {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}

.serviceabilityTitle {
  color: #535766;
  display: inline-block;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.serviceabilityItem {
  max-width: 500px;
}

.serviceabilityIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  vertical-align: middle;
}

.serviceabilityViewMore {
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
  color: #ff3e6c;
  float: right;
  margin: 10px 16px 0 0;
  font-size: 13px;
}

.rightArrow {
  width: 16px;
  transform: rotate(270deg);
  vertical-align: text-top;
}

.error {
  composes: enterPincode;
  color: ~colors.orange;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  .checkServiceAbilityhalfCard {
    position: static;
    background-color: ~colors.white;
    height: auto;;
  }
  .picodeCheckContainer {
    position: static;
    margin: 0px;
    padding: 0px;
  }
}

.deliveryOptionsIcon {
  composes: deliveryOptionsIcon from '../../resources/sprites.css';
  vertical-align : middle;
  margin-left: 5px;
}
