.mainContainer {
  background: ~colors.white;
  padding: 60px 32px 60px 32px;
  position: absolute;
  top: ~"calc(50% - 270px)";
  margin: 0 12px 0 12px;
}

.mainInfoHeading {
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  color: ~colors.black;
}

.description {
  color: ~colors.black_90;
  font-size: 18px;
  padding: 20px 0 0 0;
}

.description span {
  font-weight: 500;
}

.action {
  width: 98%;
  border-radius: 3px;
  background-color: ~colors.white;
  border: 1px solid ~colors.black_30;
  margin: 40px 0 0px 0;
  text-align: center;
}

.action:hover {
  cursor: pointer;
}

.action button {
  color: ~colors.melon;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 16px 0 16px 0;
  background: ~colors.white;
  border: none;
  outline: none;
}

.whatIsMfgLink {
  font-size: 16px;
  text-align: center;
  color: ~colors.melon;
  margin: 30px 0 0 0;
}

.whatIsMfgLink:hover {
  cursor: pointer;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
   {
    .mainContainer {
      top: ~"calc(50% - 270px)";
    }
}
