.container {
  width: 100%;
  padding: 8px;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
  bottom: 0;
  z-index: 9;
}

.cartButton {
  width: 96% !important;
  margin-left: 4%;
}