.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background:rgba(40, 44, 63, .8);
  z-index: 5;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modalContainer {
    width: 960px;
    height: 648px;
    border-radius: 3px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .header {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: #535766;
    padding: 22px;
    text-transform: uppercase;
  }

  .imageWrapper {
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-bottom: 20px;

    .imageLazyWrapper {
      width: 102px;
      height: 102px;
      position: relative;
      margin: 0 6.2px 12px;
    }

    .imageMinEnable {
      width: 220px;
      height: 220px;
    }

    .image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      object-fit: cover;
      object-position: center;
    }
  }
  
  .closeWrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }

  .placeholder {
    opacity: 0;
    height: 5px;
    width: 5px;
    align-self: flex-end;
  }

}

.closeIcon {
  composes: reviewClose2 from '../../../../resources/sprites.css';
}