.layout-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://constant.myntassets.com/web/assets/img/8ab4fe24-d5e7-4a90-8391-1c9c9f8166931550685468246-bitmap.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mode-selector-header {
  margin-top: 30%;

  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10%;
  color: #282c3f;
}

.mode-btn {
  display: flex;
  flex-direction: column;
  height: 86px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background: #282c3f;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.header {

  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tag {
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.mode-btn-big {
  width: 88%;
  margin-bottom: 5%;
}

.mode-btn-container {
  display: flex;
  width: 88%;
}

.mode-btn-small {
  width: 50%;
  text-transform: uppercase;
}

.mode-btn-small-right {
  margin-left: 5%;
}

.mode-btn-small-header {
  margin-top: 11px;

  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hidden-inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.icon-right {
  composes: arrowRightBold from '../../../../resources/sprites.css';
  transform: scale(1.2);
  left: 34%;
  top: -8px;
  position: relative;
}

.icon-rightCenter {
  left: 75%;
  top: 60%;
}

.icon-chevron {
  background-position: -386px 45px;
  width: 21px;
  height: 15px;
  transform: scale(1);
  top: 3px;
  left: -8px;
  position: relative;
}

.icon-model {
  background-position: -407px 50px;
  width: 20px;
  height: 20px;
  transform: scale(1);
  top: 8px;
  left: -6px;
  position: relative;
}

.icon-photo {
  background-position: -428px 50px;
  width: 20px;
  height: 20px;
  transform: scale(1);
  top: 8px;
  left: -6px;
  position: relative;
}

@media (max-width: 320px) {
  .icon-rightCenter {
    left: 55%;
  }
}
