.base {
  height: 900px;
  z-index: 6;
  background-color: ~colors.white;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 20px;
  width: 20px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid ~colors.red;
  border-right-color: transparent;
  border-radius: 20px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
