.list {
}

.listItem {
  display: block;
  position: relative;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}

.multiColorLabel {
  background-position: -2494px -60px;
  composes: multiColour from '../../../../resources/sprites.css';
}

.label {
  position: relative;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 16px;
  vertical-align: top;
}

.more {
  cursor: pointer;
  color: #526cd0;
  display: block;
  margin-left: 27px;
  margin-top: 10px;
}

.more span {
  display: block;
  font-size: 15px;
  color: #ff3f6c;
}

.colorDisplay {
  width: 15px;
  height:15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-left: 27px;
}

.colorDisplay[data-colorhex='white'], .colorDisplay[data-colorhex='off white'] {
  border: 1px solid #d6d6d6;
}

.num {
  color: #94969f;
  font-size: 11px;
  margin-left: 4px;
}
