.container {
  display: block;
  padding: 29px 0px 22px 0px;
  font-size: 14px;
}

.link {
  color: ~colors.ultra_dark;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid ~colors.transparent;
}

.link:hover {
  border-bottom: 1px solid ~colors.light;
}

.boldLink {
  composes: link;
  font-weight: 500;

  &:hover {
    border-bottom: none;
  }
}

.separator {
  color: ~colors.ultra_dark;
  margin: 0px 5px;
  padding-top: 5px;
}
