.desktop {
  outline: none;
}

.mobile {
  outline: none;
}

.backdrop {
  background: rgba(41,48,63,.58);
  position: fixed;
  top: 0;
  left: -4%;
  width: 104%;
  height: 100%;
  z-index: 10;
}

.dialogContainer {
  height: 165px;
  background: #fff;
  position: fixed;
  bottom: -165px;
  left: 0;
  padding: 15px;
  z-index: 11;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 4px;
  visibility: hidden;
  transition: all .2s ease-out;
}

.active {
  bottom: -4px !important;
  visibility: visible;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.desktop .dialogContainer {
  width: 400px;    
  top: ~"calc(50% - 120px)";
  height: 300px;
  left: ~"calc(50% - 200px)";
  bottom: 0;
  transition: none;
}
