.container {
  border: 1px solid #e9edec;
  background-color: #fff;
  margin-bottom: 50px;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.imageContainer {
  width: 100%;
  display: block;
  position: relative;
}

.list {
  padding-left: 25px;
}

.listHeading {
  font-size: 18px;
  font-weight: 500;
  color: ~colors.black_90;
  line-height:0;
  padding-top: 25px;
  padding-bottom: 0;
}

.listSubHeading {
  line-height: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
  color: ~colors.black_60;
  padding-bottom: 10px;
}
