.container {
  margin: 0;
}

.image {
  max-width: 100%;
  height: auto;
  background-color: ~colors.ultra_light;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.brand {
  font-size: 16px;
  font-weight: 500;
  color: ~colors.ultra_dark;
  text-align: left;
  margin: 0;
}

.title {
  width: 100%;
  margin: 4px 0px 8px 0px;
  color: ~colors.dark_new2;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pricing {
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageCtn {
  height: 0;
  padding-top: 133.33333333333331%;
  overflow: hidden;
  position: relative;
  background-color: #EAEAEC;
  border-bottom: 1px solid #e9e9eb;
}

.selling-price {
  color: ~colors.ultra_dark;
  padding: 0px 3px 0 0;
  font-weight: 500;
  font-size: 16px;
}

.metaContainer {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.mrp {
  text-decoration: line-through;
  color: ~colors.ultra_dark;
  padding: 0px 3px;
  opacity: 0.7;
  font-size: 12px;
}

.discount {
  color: ~colors.orange_new;
  padding: 0px 3px;
  font-size: 12px;
  font-weight: 500;

  em, b {
    font-style: normal;
    font-weight: 400;
  }

  .gift, div, p {
    display: inline;
  }
}

@media all and (max-width: 600px) {
  .container {
    border: 1px solid ~colors.black_20;
    margin: 0px;
    width: 180px;
  }
  .title {
    width: 160px;
    margin: 0px 10px 10px 10px;
  }
}


.ratingsContainer {
  position: absolute;
  width: 32px;
  height: 16px;
  padding-left: 4px;
  margin: -24px 0 0 6px;
  border: solid 1px #eaeaec;
  border-radius: 2px;
  background: #ffffff;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .starIcon {
    margin-left: -4px;
    transform: scale(0.4);
  }
}
