.slot {
  font-size: 14px;
  color: #3e4152;
  border: solid 1px #7e818c;
  border-radius: 40px;
  width: 192px;
  padding: 15px 0;
  margin: 15px auto 0;
  margin-bottom: 7px;
  cursor: pointer;
}

.disabled {
  border-color: #d4d5d9;
  padding:8px 0 9px;
  cursor: default;
}

.selected {
  border: solid 1.2px #14cda8;
  font-weight: 600;
  color: #3e4152;
}

.disabled span {
  color: #ff5722;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding-bottom: 2px;
}

@media all and (max-width: 480px) {

  .slot {
    font-size: 12px;
    width: 145px;
    margin: 10px auto 0;
    height: 44px;
    
  }

  .disabled {
    padding: 8px 0 9px;
  }

  .selected {
    padding:15px 0px;
  }

  .disabled span {
    font-size: 10px;
    padding-bottom: 2px;
  }
}