small {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.showContent {
  visibility: visible !important;
  opacity: 1 !important;
}

.container{
	color: ~colors.white;
  top: 0px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 10;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: ~colors.white;
}

.days {
  color :#535766;
  font-size:13px;
  padding-right: 2px;
}

.preHeaderContent {
  display: none;
  text-align: right;
  max-width: 980px;
  margin: auto;
  font-size: 12px;
}

.preHeaderLinks {
  text-decoration: none;
  color: ~colors.link;
  display: inline-block;
  padding: 8px 0;
  font-weight: 500;
  font-size: 11px;
}

.preHeaderLinks::after {
  content: "\00a0  \00a0  | \00a0 \00a0 \00a0";
  color: #e9e9ed;
  padding: 0 10px;
}

.preHeaderLinks:last-child::after {
  content: " ";
}

.superscriptTag {
  width: 25px;
  height: 7px;
  padding: 5px 0 0 5px;
  background: ~colors.light_red !important;
  border: 1px solid ~colors.light_red !important;
  color: ~colors.white;
  font-weight: 900;
  margin: -6px 0px -10px 10px;
  font-size: 10px;
  transform: skewX(-10deg);
  display: inline-block;
  border-radius: 2px;
}

.bound {
	margin: auto;
  min-width: 980px;
	line-height: 80px;
}

.logoContainer {
  float: left;
  height: inherit;
  margin-left: 4%;
}

.logo {
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;
	padding: 0;
  margin: 0;
  cursor: pointer;
  composes: headerLogo from '../../../resources/sprites.css';
}

.navbar {
	display: block;
  float: left;
  line-height: 80px;
  height: 80px;
  margin: 0px 0px 0px 3.5%;
}

.navLinks {
  display: inline-block;
  float: left;
}

.navContent {
  float: left;
  border: hidden;
  text-align: center;
}

.navLink {
  display: inline;
}

.navLink:hover .main{
  border-bottom-style: solid;
  border-bottom-width: 4px;
  transition: left .2s ease-out, border-color .5s ease-in;
}

.navLink:hover .paneContent{
  visibility: visible;
  opacity: 1;
  transition-delay: .15s;
}

.navLink:hover .categoryContainer{
  visibility: visible;
  opacity: 1;
  transition-delay: .15s;
}

.navLink:hover .backdropStyle{
  visibility: visible;
}

.main {
  padding: 0 17px 28px 17px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;

  color: ~colors.black;
  border-bottom: none;
  transition: left .2s ease-out,width .2s ease-out;
  font-weight: 500;
  text-transform: uppercase;
}

.query {
  width: 465px;
  float: right;
  line-height: 0;
  margin: 20px 20px 20px 60px;
  position: relative;
}

.query > input.searchBar {

  display: inline-block;
  float: left;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 95%;
  color: ~colors.dark;
  box-sizing: content-box;
  padding: 8px 10px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid ~colors.ultra_light;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: ~colors.ultra_light;
}

input.searchBar:focus {
  background-color: ~colors.white;
  border-color: ~colors.bberry_10;
}

input.searchBar:focus + a.submit {
  background-color: ~colors.white;
  border-color: ~colors.bberry_10;
}

a.submit {
  box-sizing: content-box;
  display: inline-block;
  height: 28px;
  width: 40px;
  text-align: center;
  padding: 8px 0 2px 0;
  background: ~colors.black_5;
  border: 1px solid ~colors.black_5;
  border-right: none;
  border-radius: 4px 0 0 4px;
  position: absolute;
  left: -41px;
}

.iconSearch {
  display: inline-block;
  transform: scale(0.7);
  composes: search from '../../../resources/sprites.css';
}

.caret {
  composes: caret from '../../../resources/sprites.css';
  margin: 15px 0 0 0;
  display: block;
  transform: scale(0.7);
}

.iconUser {
  composes: headerUser from '../../../resources/sprites.css';
  margin: 10px 0px 0px 0px;
  position: absolute;
  bottom: 13px;
  left: 5px;
  display: block;
}

.user {
  position: relative;
  height: 60px;
  margin: 0px 20px 0px 15px;
}

.userIconsContainer {
  display: flex;
  padding: 0px 12px 0px 17px;
  position: relative;
  display: flex;
  height: 40px;
}

.userTitle {
  color: black;
  position: absolute;
  bottom: 4px;
  left: 1px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  padding-top: 10px;
  line-height: 6px;
}

.user:hover .userActions {
  visibility: visible;
  opacity: 1;
}

.actions{
  float: right;
  display: flex;
  line-height: 0px;
  height: 40px;
  margin: 20px 30px 0 10px;
}

.cart {
  margin: 0px 50px 0px 15px;
  display: flex;
  text-decoration: none;
  position: relative;
}

.wishlist {
  margin: 0px 55px 0px 10px;
  display: flex;
  text-decoration: none;
  position: relative;
}

.iconBag {
  composes: headerBag from '../../../resources/sprites.css';
  margin: 8px 0px 0px 0px;
  position: absolute;
  left: -1px;
  bottom: 14px;
}

.iconWishlist {
  composes: headerWishlist from '../../../resources/sprites.css';
  margin: 8px 0px 0px 0px;
  position: absolute;
  bottom: 14px;
  left: 11px;
}

.badge {
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  background: ~colors.light_red;
  position: absolute;
  border-radius: 50%;

  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -2px;
  font-weight: bold;
}

.grey {
  background-color: ~colors.black_60;
  visibility: hidden;
}

.melon {
  background-color: ~colors.red;
}

.grey:before {
  border-right-color: ~colors.black_60;
}

.title {
  text-decoration: none;
  color: ~colors.ultra_dark;

  font-weight: 500;
}

.list {
  line-height: 20px;
  text-decoration: none;
  color: ~colors.ultra_dark;

}

.listContainer {
  line-height: 25px;
  width: 230px;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}

.backdropStyle {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdropStyle2 {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  visibility: visible;
  pointer-events: none;
}

.paneContent {
  visibility: hidden;
  text-align: left;
  opacity: 0;
  left: 50%;
  margin-left: -570px;
  height: 440px;
  position: absolute;
  top: 0px;
  width: 1135px;
  background-color: ~colors.white; /* rgba(253,253,253,0.98) */
  z-index: 1;
  transition: all .3s ease-out;
  box-shadow:inset 0 0 8px rgba(0,0,0,0.1);
  pointer-events: auto;
}

.oddColumnContent {
  float: left;
  display: block;
  position: relative;
  height: 436px;
  padding-top: 4px;
}

.evenColumnContent {
  composes: oddColumnContent;
  background-color: rgba(245, 245, 246, 0.4);
}

.categoryContainer {
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  width: 1110px;
  left: 0px;
  right: 0px;
  position: absolute;
	margin: 0 auto;
	padding: 0px 10px 10px 15px;
	transition: all .2s ease-out;
}

.navBlock{
  display: block;
  position: relative;
  float: left;
  width: 216px;
  margin: 0px;
  padding: 0px;
}

.navBlock > li{
  padding-left: 25px;
}

.tab{
	margin: 0px;
}

.categoryName {
	display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: ~colors.black_90;
  padding: 12px 0 2px;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 25px;
  font-weight: 500;

  font-weight: 500;
}

.categoryLink {
	display: block;
  text-decoration: none;
  color: ~colors.ultra_dark;
  line-height: 23px !important;
  font-size: 14px;
  font-weight: 400;

}

.categoryLink:hover {
  font-weight: 500;
  color: ~colors.ultra_dark;
}

.tab {
  -webkit-transition: left .2s ease-out,width .2s ease-out;
  -moz-transition: left .2s ease-out,width .2s ease-out;
  -o-transition: left .2s ease-out,width .2s ease-out;
  transition: left .2s ease-out,width .2s ease-out;
}

.userActions {
  width: 250px;
  left: -137.5px;
  top: 62px;
  position: absolute;
  padding: 25px 20px 15px 20px;
  z-index: 9;
  box-shadow: 0 1px 10px rgba(0,0,0,0.08);
  -webkit-transition: opacity .2s ease-out,visibility .2s ease-out;
  -moz-transition: opacity .2s ease-out,visibility .2s ease-out;
  -o-transition: opacity .2s ease-out,visibility .2s ease-out;
  transition: opacity .2s ease-out,visibility .2s ease-out;
  background-color: ~colors.white;
  color: ~colors.black_90;
  border: 1px solid ~colors.ultra_light;
  visibility: hidden;
  opacity: 0;
  margin: -2px 0px;
}

.userActionsArrow{
  display: block;
  top: -5px;
  position: absolute;
  width: 58px;
  border-bottom: 4px solid ~colors.red;
  left: 124px;
}

.userActionsContent{
  display: block;
}

.contentInfo{
  display: block;
  padding-bottom: 2px;
}

.infoTitle{

  font-weight: 500;
  height: 20px;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 10px;
}

.infoEmail{

  height: 14px;
  font-size: 14px;
  color: ~colors.ultra_dark;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 10px;
}

.info {
  font-weight: 400;
  font-size: 14px;
  color: ~colors.black_90;
}

.infoSection {
  margin: 0;
  cursor: pointer;
  padding: 15px 0px 10px 0px !important;
}
.infoSection:hover {
  font-weight: 500;
}

.getInLinks{
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  border-top: 1px solid ~colors.black_10;
}

.getUserInLinks {
  composes: getInLinks;
  border: none;
}

.linkButton{
  display: inline-block;
  padding: 18px 20px;
  margin: 10px 10px 0px 0px;
  border: 1px solid ~colors.black_10;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: ~colors.light_red;
  font-weight: 500;
 ;
}

.linkButton:hover {
  border: 1px solid ~colors.light_red;
}

.linkButton:nth-child(1) {
  margin: 0px 5px 6px 0px;
}

.linkButton:nth-child(2) {
  margin: 0px 0px 0px 13px;
}

.uaProfileLink {
  color: ~colors.ultra_dark;
}

.accActions {
  font-size: 16px;
  padding: 10px 0 0 0;
  border-top: 1px solid ~colors.black_10;
}

.accActions > a.info {
  text-decoration: none;
  color: #333;
}

.accActions > a.info > .infoSection {
  padding: 12px 0!important;
}

.accInfoSection {
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}

.accInfoSection:hover {
  font-weight: 500;
}


.autoSuggest {
  width: 502px;
  z-index: 9;
  position: absolute;
  display: block;
  box-shadow: 0 1px 6px ~colors.transparent; /* rgba(0,0,0,0.3) */
  font-size: 13px;
  color: ~colors.dark;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.group {
  margin: 0 0 10px 0;
  padding: 0;
}

.group > li {
  list-style: none;
  padding: 15px 4px;
  padding-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestion {
  background-color: ~colors.white;
}

.suggestion:hover {
  background-color: ~colors.ultra_light;
  cursor: pointer;
}

.suggestionTitle {
  font-weight: bold;
  background-color: ~colors.bberry_10;
  cursor: pointer;
}

.active {
  background-color: ~colors.ultra_dark;
  color: white;
}

.showBanner {
  height: auto;
}

.hideBanner {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: all .2s ease .1s;
}

.sbContainer {
  max-width: 100%;
  width: 100%;
  margin-top: -2px;
  margin: auto;
  top: 82px;
  position: relative;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
  text-align: center;

  .sbInnerContent {
    position: relative;
    background-image: linear-gradient(to right, #f9f9ff, #dee8ff);
    margin: 0 auto;
  }
}

.TaxBannerContainer {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 9;
}

.sbImageContainer {
  display: inline-block;
  height: 45px;
  margin-right: 12px;
  vertical-align: middle;
}

.sbImage {
  height: 35px;
  padding-top: 5px;
  line-height: 80px;
}

.saleStartsContainer {
  display: inline-flex;
  height: 55px;
  font-size: 16px;
  line-height: 56px;
  color: ~colors.black_70;
  vertical-align: middle;
  color: #535766;
  letter-spacing: 0.1;
}

.timeContainer {
  top: 20px;
   text-align: left;
   margin-left: 15px;
   letter-spacing: 0.6;
   font-size:20px;
}

.saleTimer {

  position: relative;
  left: 0;
  display: inline-block;
}

.inMidSaleTimer {
  composes: saleTimer;
  left: 25%;
}

.verticlePartition {
  height: 28px;
  border-left:solid 1px #d4d5d9;
  position: absolute;
  left: 56%;
  bottom: 10px;
}

.refBanner {
  width: 50%;
  position: relative;
  display: inline-block;
}

.inMidRefBanner {
  composes: refBanner;
  right: 25%;
}

.displaynone {
  display: none;
}

.timer {
  color: ~colors.light_red;
  font-size: 20px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

@keyframes pulse {
  0% {
    transform: scale3d(1,1,1)
  }

  50% {
    transform: scale3d(1.15,1.15,1.15)
  }

  100% {
    transform: scale3d(1,1,1)
  }
}

.pulse {
  animation-name: pulse
}
.saleTimer{
  display: inline-block;
}
.timerBannerSeperation{
  margin-left:45px;
  margin-right: 43px;
color: #d4d5d9;
font-size: 24px;
display: none;
vertical-align: middle;
}
.timerBannerSeperation:not(:last-child){
  display: inline-block;
}
.timerBannerSeperation:first-child{
  display: none;
}

.saleMessage{
  padding-top: 2px;
}

.hrLine {
  width: 140px;
  height: 1px;
  margin: 12px 0 0 25px;
  background-color: ~colors.bberry_10;
}

@media all and (min-width: 1500px) {
  .query {
    width: 33%;
  }
  .paneContent {
    left: 9%;
    margin: auto;
  }
}

@media all and (max-width: 1366px) {
  .query {
    width: 330px;
  }
  .autoSuggest {
    width: 375px;
  }
}

@media all and (max-width: 1400px) {
  .actions {
    margin-right: 0px;
  }
  .navbar {
    margin: 0 0 0 1%;
  }
}

@media all and (max-width: 1250px) {
  .logoContainer {
    margin-left: 2%;
  }
  .navbar {
    margin: 0 0 0 1%;
  }
  .query {
    width: 240px;
  }
  .autoSuggest {
    width: 289px;
  }
  .actions {
    margin-right: 0px;
  }
}

@media all and (max-width: 1199px) {
  .paneContent {
    width: 1080px;
    margin-left: -540px;
  }
  .categoryContainer {
    width: auto;
    padding: 0;
  }
}

@media all and (max-width: 1079px) {
  .paneContent {
    width: 90%;
    left: 5%;
    margin: auto;
    overflow-x: scroll;
  }
  .categoryContainer {
    width: 1080px;
    padding: 0;
  }
}
