.pdpXceleratorImageTag,
.plpXceleratorImageTag {
  background: rgba(255, 63, 108, .8);
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  font-weight: 500;
  z-index: 1;
  padding: 0px 4px;
  line-height: 16px;
}

.pdpXceleratorImageTag:after,
.plpXceleratorImageTag:after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-bottom-color: rgba(255, 63, 108, 0.5);
  border-top-color: rgba(255, 63, 108, 0.5);
  border-left-color: rgba(255, 63, 108, .8);
  border-right-color: transparent;
  border-style: solid;
  left: 100%;
  width: 0;
  height: 0;
  top: 0;
}

.pdpXceleratorImageTag {
  font-size: 12px;
  line-height: 18px;
  z-index: 2;
}

.pdpXceleratorImageTag:after {
  border-width: 9px;
}

.pdpXceleratorInfoTag,
.plpXceleratorInfoTag {
  color: #ff5722;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.plpXceleratorInfoTag {
  font-size: 12px;
}

