.container {
  flex: 1;
}
.btnAddToCart {
  width: 100%;
  margin-bottom: 0;
  font-weight: 700;

  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  outline: 0;
  line-height: 1.42857143;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  background-color: #ff3f6c;
  color: white;
  padding: 8px 12px;
  border: 1px solid #ff3f6c;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.custom-icon {
  margin-right: 8px;
  font-size: 14px;
}

.icon-bag {
  composes: whiteBag from '../../../resources/sprites.css';
  margin-right: 12px;
  transform: scale(0.8);
  width: 29px;
  height: 22px;
}

.sizeSelectorButtonWrapper {
  display: flex;
  position: absolute;
  background: #f5f5f6;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 8px;

  .sizeButton {
    border-radius: 50px;
    font-weight: 400;
    color: #535766;
    background: #ffffff;
    border: 1px solid #535766;
  }
}
