.filterSearchBox {
  position: absolute;
  top: 12px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: #f5f5f6;
  border-radius: 50%;
  .inputBox {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    padding: 2px 33px 2px 14px;
  }
  .hidden {
    display: none;
  }
}

.expanded {
  width: 221px;
  border-radius: 15px;
}

.iconSearch {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 4px;
  transform: scale(0.7);
  cursor: pointer;
  composes: search from '../../../../resources/sprites.css';
}

.closeSearch {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  composes: remove from '../../../../resources/sprites.css';
}
