.container {
  margin: 40px 0px 0px 0px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid ~colors.black_20;
  .offerBlock:last-child {
    .offer:last-child {
      margin-bottom: 0;
    }
  }
  > h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: ~colors.ultra_dark;
    
    margin-bottom: 16px;
    text-transform: uppercase;
    margin-top:0px;
  }
}

.extraOffer {
  .offerDesc {
    font-size: 14px;
    padding-top: 1px;
    margin: 0;
  }
  .viewMoreLink {
    display: none;
  }
  .offer {
    margin-bottom: 0px;
    padding: 10px 12px;
    cursor: pointer;
    margin-right: 88px;
    border: 1px solid #FFF;
    &:hover {
      border: 1px solid ~colors.black_20;
      border-radius: 4px;
      .viewMoreLink {
        display: inline-block;
      }
    }
  }
}

.moreOffersButton {
  color: ~colors.link;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  display: block;
  cursor: pointer;
}

.offerHeading {
  font-size: 15px;
  color: #282c3f;
  margin-bottom: 5px;
  b {
    font-weight: 400;
  }
}

.offer {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  > div {
    width: 100%;
  }
}

.offerTitle {
  font-size: 16px;
  color: ~colors.ultra_dark;
  margin-bottom: 1px;
  b {
    color: ~colors.ultra_dark;
    display: inline-block;
  }
}

.offerDesc {
  font-size: 16px;
    color: ~colors.ultra_dark;
    padding: 0;
    margin: 8px 0 0 0;
    list-style: none;
    width: 100%;
  b {
    font-weight: 400;
  }
  li {
    margin-bottom: 6px;
    .labelMarkup {
      display: inline-block;
      vertical-align: top;
      width: 90%;
    }
  }
}

.offerImage {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color : ~colors.black_background;
  display: inline-block;
  flex: 0 0 36px;
  img {
    max-width: 100%;
    height: 100%;
  }
  
}
.offerImage + .offerColumnText {
  margin-left: 15px;
}
.offerColumnText {
  display: inline-block;
  flex: 1;
  vertical-align: top;
}
.viewMoreLink {
  display: inline-block;
  float: right;
  letter-spacing: 0.3px;
  color: ~colors.ultra_dark;
  line-height:1;
  vertical-align: top;
  text-transform: uppercase;
  margin-left: auto;
}

div.bullet {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: ~colors.ultra_dark;
  margin-right: 10px;
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: middle;
}

.price {
  color: ~colors.orange_new;
  font-weight: 500;
}

.offerController {
  .moreOffersButton {
    margin-top: 0;
  }
}

.showOfferLink {
  color: ~colors.ultra_dark;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.arrow {
  display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 4px;
    border: solid ~colors.ultra_dark;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-bottom: 1px;
}

.arrowRightBold {
  position: relative;
  top: 4px;
  transform: scale(.8);
  composes: arrowRightBold from '../../../resources/sprites.css';
}

.offerColumn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.boldText {
  font-weight: 500;
}

.tapForBest {
  font-size: 14px;
}

.couponNotFound {
  color: #282c3f;
  font-weight: 400;
  margin-bottom: 0;
  display: inline-block;
  font-size: 15px;
}

.onlyOfferTitle {
  color: #282c3f;
  font-weight: 400;
  display: block;
  font-size: 15px;
}

@media (min-width: 600px) {
  .container {
    margin-right: 0;
  }
}

.coinicon {
  height: 15px !important;
  width: 15px !important;
  margin-right: 2px;
  vertical-align: middle;
}

.similarColorsIcon {
  composes: bestOfferIcon from '../../../resources/sprites.css';
  vertical-align : middle;
  margin-left: 5px;
}
.mfuIcon{
  vertical-align: middle;
  height: 17px;
  width: 17px;
  margin-right: 2px;
  composes: mfuGoldCoinSmall from '../../../resources/sprites.css';
}
.mfuTitleContainer{
  margin-left:-5px;
}

