.memberContainer {
  background: ~colors.white;
  border-radius: 3px;
}

.me {
  border: 2px solid ~colors.mynt !important;
}

.row1 {
  display: inline-block;
  position: relative;
  width: 100%;
}

.pic {
  width: 43px;
  height: 43px;
  border: 1px solid ~colors.white;
  border-radius: 23px;
  margin: 7px 8px 8px 12px;
  display: inline-block;
  vertical-align: top;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
}

.picSubContainer {
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: 500;
  color: ~colors.white;
  width: 35px;
  height: 27px;
  border-radius: 20px;
  margin: 3px 4px 0 3px;
  border: 1px solid ~colors.black_10;
}

.picSubImgContainer {
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  margin: 3px 4px 0 3px;
  border: 1px solid ~colors.black_10;
}

.name {
  padding: 20px 8px 16px 0px;
  text-align: left;
  font-size: 16px;
  max-width: 150px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.admin {
  width: 60px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid rgb(255, 137, 100);
  display: inline-block;
  vertical-align: top;
  margin: 18px 0px 14px 0;
  text-align: center;
  padding: 0 0 2px 0;
}

.admin span {
  font-size: 13px;
  color: rgb(255, 137, 100);
}

.totalSpending {
  padding: 20px 8px 16px 0px;
  text-align: right;
  float: right;
  font-size: 16px;
  color: ~colors.black;
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
}

.memberState {
  composes: totalSpending;
  color: ~colors.black_50;
  font-size: 12px;
  font-style: italic;
  padding: 22px 8px 20px 0px;
}

.totalSpending0 {
  color: ~colors.black_20;
}

.row2 {
  font-size: 13px;
  color: ~colors.black_60;
  padding: 10px 0 10px 10px;
  text-align: left;
  border-top: 1px dashed ~colors.black_10;
}

.row2 .bold {
  font-weight: 500;
}

.metric {
  margin: 0 8px 0 8px;
}

.dot {
  display: inline-block;
  width: 1px;
  height: 1px;
  border: 1px solid ~colors.black_30;
  border-radius: 10px;
  background: ~colors.black_30;
  vertical-align: top;
  margin: 7px 0 0 0;
}
