.banner-expanded {
    position: fixed;
    bottom: 130px;
    right: 0;
    width: 576px;
    height: 288px;
    background-image: linear-gradient(to left, #fef9e5, #fde3f3);
    z-index: 6;
    font-family: Whitney;
    color: #3e4152;
    cursor: default;
}

.first-row {
    display: table;
    table-layout: auto;
    height: 52%;
    width: 100%;
}

.second-row {
    display: table;
    table-layout: auto;
    height: 32%;
    width: 100%;
}

.description {
    display: table-cell;
    vertical-align: middle;
    padding: 24px 0 0 40px;
}

.description>.pre-header {
    font-weight: 500;
    font-size: 12px;
}

.description>.header {
    font-weight: bold;
}

.description>.header-primary {
    font-size: 48px;
}

.description>.header-secondary {
    font-size: 34px;
}

.image {
    display: table-cell;
    vertical-align: middle;
    padding: 24px 40px 0 0;
}

.imageContent {
    width: 150px;
    height: 120px;
}

.coupon {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.coupon .text {
    font-weight: 500;
    font-size: 15px;
    margin-top: 8px;
}

.coupon .code {
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: text;
    user-select: all;
}

.coupon > .footer {
    font-size: 12px;
    margin-top: 4px;
}

.signup {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-right: 40px;
}

.signup .button {
    width: 172px;
    height: 48px;
    border-radius: 4px;
    background-color: #ff3f6c;
    color: white;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.signup .button :hover {
    background-color: #cf3f6c; 
    border-radius: 4px;
}

.signup .button .text {
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 48px;
}

.trust-builders {
    display: table;
    table-layout: auto;
    border-top: 1px solid lightgray;
    height: 16%;
    width: 100%;
}

.trust-builders .item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.trust-builders .icon {
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}

.trust-builders .text {
    font-size: 13px;
    font-weight: 500;
    margin-left: 12px;
}

.sidebar {
    position: fixed;
    bottom: 130px;
    width: 44px;
    height: 288px;
    background-color: #535766;
    z-index: 6;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.sidebar-content {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    width: 36px;
    padding: 4px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: #fcfcfc;
    display: inline-block;
}

.sidebar-collapsed {
    right: 0px;
}

.sidebar-expanded {
    right: 575px;
}

.arrow {
    width: 0;
    height: 0;
    margin: 24px 16px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.arrow-expanded {
    border-left: 14px solid white;
}

.arrow-collapsed {
    border-right: 14px solid white;
}

.spinner {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
}