.mfgBaseContainer {
  outline: none;
}

.container {
  text-align: center;
  background-color: ~colors.peach;
}

.frozenContainer {
  composes: container;
  padding: 0 0 50px 0;
}

.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: ~colors.black;
}

.heading img {
  margin: 30px 0 0 0;
  max-width: 60%;
}

.disabled .container {
  text-align: center;
  background: linear-gradient(rgba(255,255,255,0) 20%, rgb(251,243,254) 100%);
  min-height: 100%;
}

.mfginfo {
  font-size: 16px;
  line-height: 1.19;
  color: ~colors.black_90;
  text-align: center;
  padding: 3% 5% 16px 5%;
  min-height: 40px;
}

.disabledMfginfo {
  font-size: 16px;
  line-height: 21px;
  color: ~colors.black_90;
  text-align: center;
  padding: 3% 5% 5px 5%;
}

.disabledMfgtitle {
  padding: 5px 0 20px 0;
  text-align: center;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
  color: ~colors.black_90;
  text-transform: uppercase;
}

.viewRewardsLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  padding: 0 0 32px 0;
  text-transform: uppercase;
}

.whatIsMfgLink {
  font-size: 16px;
  text-align: center;
  padding: 0px 0 32px 0;
}

.disabled .whatIsMfgLink {
  padding: 0 0 60px 0;
}

.viewRewardsLink a,
.whatIsMfgLink a,
.whatIsMfgLink div {
  color: ~colors.melon;
}

.whatIsMfgLink div:hover {
  cursor: pointer;
}

.groupPosHeader {
  padding: 25px 0 12.5px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: ~colors.black;
}

.shoppingGroupsHeader {
  padding: 33px 0 9.5px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: ~colors.black;
}

.showModal {
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: block;
  background: ~colors.white;
  z-index: 12;
}

.hideModal {
  opacity: 1.0;
  display: none;
}

.hideLoader {
  display: none;
}

.showLoader {
  display: block;
}

.loaderDiv {
  min-height: 150px;
  position: relative;
}

.errorDiv {
  min-height: 150px;
  position: relative;
}

.errorDiv span {
  position: absolute;
  top: ~"calc(50% - 20px)";
  left: ~"calc(50% - 150px)";
  color: ~colors.red;
}

.action {
  width: 90%;
  border-radius: 3px;
  background-color: ~colors.melon;
  margin: 0 5% 20px 5%;
  height: 44px;
}

.action:hover {
  cursor: pointer;
}

.action button {
  color: ~colors.white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 4% 0 0 0;
  background: ~colors.melon;
  border: none;
  outline: none;
}

.spinner {
  height: 16px;
  width: 16px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid ~colors.melon;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 8;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  {
    .mfgBaseContainer {
      background: #feedf6;
      background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
      background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
      background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
      min-height: 600px;
      padding: 80px 0;
      margin-top: -5px !important;
    }
    .mfgContentContainer {
      box-shadow: 0 2px 15px rgba(0,0,0,.1);
      max-width: 480px;
      margin: auto;

      background: white;
    }
    .loaderDiv, .errorDiv {
      min-height: 350px;
    }
    .action {
      width: 70%;
      margin: 0 15% 20px 15%;
    }
    .action button {
      padding: 4% 0 0 0;
    }
    .frozenContainer {
      min-height: 600px;
      padding: 150px 0 0 0;
    }
    .heading img {
      max-width: 250px;
    }
    .disabled .whatIsMfgLink {
      padding: 20px 0 132px 0;
    }
}



@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .mfgBaseContainer {
      margin-top: -85px !important;
    }
  }
