.hidden {
  display: none;
}

.selectedFilterContainer {
  /* padding-bottom: 4px; */
  padding-top: 15px;
}
.reduceTopPadding {
  padding-top: 15px;
}
.filterList {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin: 0px;
  padding-left: 17px !important;
}

.filterList li {
  margin: 0px 8px 6px 0;
}

.filter {
  position: relative;
  background-color: #fff;
  text-transform: capitalize;
  color: #3e4152;
  cursor: default;
  font-size: 12px;
  padding: 5px 26px 5px 10px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  border: solid 1px #d4d5d9;
}

.filter:hover {
  border: 1px solid #94969f;
}

.filter input {
  display: none;
}

.colourBox {
  position: relative;
  top: 2px;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.colourBox[data-colorhex='white'], .listItem[data-colorhex='off white'] {
  border: 1px solid #d6d6d6;
}

.multiColorBox {
  background-position: -2494px -61px;
  composes: multiColour from '../../../../resources/sprites.css';
}

.removeFilter {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 18px;
  height: 20px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.removeIcon {
  vertical-align: middle;
  opacity: 0.7;
  transform: scale(.7);
  composes: remove from '../../../../resources/sprites.css';
}

.resetAll {
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  color: #526CD0;
  font-weight: 500;
}
