.container {
  background-image: linear-gradient(#dce2f8, #ffffff);
  height: 56vh;
  width: 100%;
  padding-top: 20%;
}

.banner-image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border: 0.5px solid #ffffff;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.banner-image {
  background-image: url('https://constant.myntassets.com/web/assets/img/b8f5e615-96e5-4192-b20b-2742a522d6cc1550688947899-artboard_2_100.jpg');
  background-repeat: round;
  border-radius: 50%;
  height: 70%;
  width: 60%;
  margin-left: 20%;
}

.banner-bold-text {
  align-self: center;
  color: #282c3f;

  font-weight: 600;
  font-size: 20px;
}

.banner-light-text {
  margin-top: 10px;
  align-self: center;
  color: #94969f;

  font-weight: normal;
  font-size: 16px;
  font-style: italic;
}

progress[value].sdk-loading-progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  width: 100%;
  height: 5px;
  margin: 0 0 12px;
}

progress[value].sdk-loading-progress::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value].sdk-loading-progress::-webkit-progress-value {
  background-color: #ff3e6c;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.loadFooterContainer {
  height: 25vh;
  width: 100%;
}

.loadShades {
  display: flex;
  overflow: scroll;
  margin: 10px 0;
}

.eachShade {
  margin: 0 8px;
  width: 60px;
  height: 30px;
  background-color: #eaeaec;
}

.shadeHost {
  width: 40px;
  height: 4px;
  background-color: #eaeaec;
  margin: 6px 8px;
}

.loadActions {
  height: 80px;
  margin: 20px 0;
  background-color: #eaeaec;
}
