.container {
  margin: 10px 0 5px 25px;
}

.title {
  font-weight: 500;
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  margin: 0;
  max-width: 400px;
  color: #282c3f;
  text-transform: capitalize;
}

.count {
  font-size: 16px;
  color: #878b94;
}
