.base {
  display: flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.base:after {
  clear: both;
  content: ' ';
  display: table;
}
