.container {
  max-width: 980px;
  margin: 230px auto 180px auto;
  text-align: center;
}

.mobile .container {
  margin: 150px auto;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: ~colors.ultra_dark;
}

.mobile .heading {
  font-size: 14px;
}

.info {
  font-size: 18px;
  color: ~colors.medium;
  max-width: 380px;
  margin: 20px auto;
}

.mobile .info {
  font-size: 12px;
  max-width: 250px;
  margin: 10px auto;
}

.icon {
  width: 80px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 43px 0px 50px;
  display: inline-block;
}

.mobile .icon {
  width: 52px;
  height: 65px;
  margin-top: 23px;
}

.button {
  border: solid 1px ~colors.blue_90;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  padding: 14.5px 51px;
  color: ~colors.blue_90;
  cursor: pointer;
  display: inline-block;
}

.mobile .button {
  font-size: 12px;
  padding: 9px 30px;
}
