.loyalty-points-block {
  display: inline-block;


  z-index: 5;

  padding: 0 10px 0 10px;
  line-height: 55px;
  border-radius: 4px;

}

.coinicon {
  max-height: 100%;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin-right: 4px;
  composes: mfuGoldCoinLarge from '../../resources/sprites.css';
}

.loyalty-points-msg {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 14px;
  text-align: left;
  margin-right: 16px;
  padding-left: 0px;
  color: ~colors.ultra_dark;
}

.loyalty-points-nonLoggedIn {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 14px;
  text-align: left;
  line-height: 15px;
  width: 120px;
  margin-right: 10px;
  padding-left: 10px;
  color: ~colors.ultra_dark;
}

.loyalty-points-value {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  padding: 0 8px 0 10px;
}

.exchange-more-btn {
  border-radius: 4px;
  border: solid 1px #bfc0c6;
  font-size: 12px;
  font-weight: 600;
	letter-spacing: 0.3px;
  text-align: center;
  height: 22px;
  line-height: 1.25em;
  padding: 4px 8px 3px 8px;
  background-color: white;
  color: #ff3f6c;
  .index-arrow{
      width:5px;
      height: 5px;
  }
}

.extra-button-padding {
  padding-left: 4px;
  padding-right: 4px;
}


.mobile-loyalty-points-block {
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: ~colors.gold;
}

.mobile-coinicon {
  max-height: 100%;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  composes: mfuGoldCoinSmall from '../../resources/sprites.css';
}

.mobile-loyalty-points-msg {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 12px;
  text-align: left;
  margin-right: 12px;
  padding-left: 4px;
  color: ~colors.ultra_dark;
}

.mobile-loyalty-points-nonLoggedIn {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  width: 160px;
  margin-right: 12px;
  padding-left: 5px;
  color: ~colors.ultra_dark;
}

.mobile-loyalty-points-value {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
}

.mobile-exchange-more-btn {
  position: absolute;
  right: 15px;
  margin-top: 5px;
  border-radius: 15px;
  border: 1px solid #535766;
  font-size: 10px;
  font-weight: 600;
	letter-spacing: 0.3px;
  text-align: center;
  line-height: 1.25em;
  padding: 4px 8px 3px 8px;
  background-color: ~colors.gold;
  color: ~colors.ultra_dark;
}

.mobile-extra-button-padding {
  padding-left: 4px;
  padding-right: 4px;
}
.button-arrow{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 2px;
  border: solid #ff3e6c;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 1px;
  margin-right: 2px;
}

