.container {
    display: flex;
    justify-content: center;
}

.checkDeliveryAvailability {
    display: flex;
    width: 100%;
    padding: 40px 24px 24px;
    max-width: 410px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
@media all and (min-width: 768px) {
    .checkDeliveryAvailability {
        box-shadow: 0px 0px 4px #00000059;
        border-radius: 4px;
        margin-top: 60px;
        padding: 48px 60px;
    }
}

.deliveryImg {
    width: 290px;
}
@media all and (max-width: 768px) {
    .deliveryImg {
        width: 193px;
    }
}

.deliveryCheckResultImg {
    width: 53px;
    margin: 20px 0 8px;
}

.heading {
    color: #282c3f;
    font-size: 16px;
    padding-top: 24px;
    font-weight: bold;
    text-align: center;
}

.subHeading {
    color: #282c3f;
    font-size: 12px;
    padding-top: 4px;
    font-weight: bold;
}

.text {
    color: #282c3f;
    font-size: 14px;
    padding-top: 8px;
    width: 100%;
    max-width: 320px;
    text-align: center;
}

.pinCodeSubmitContainer {
    position: relative;
    width: 100%;
    max-width: 310px;
    padding-top: 24px;
}

input.pinCodeInput {
    color: #282c3f;
    box-sizing: border-box;
    padding: 8px 10px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #282c3f;
    border-radius: 4px;
    max-width: 310px;
    width: 100%;
    font-size: 14px;
}

.pinCodeSubmit {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #ff3e6c;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.pinCodeSubmit.disabled {
    color: #9395a0;
    cursor: no-drop;
}

.link {
    color: #ff3f6c;
    font-size: 14px;
    padding-top: 24px;
    text-decoration: underline;
}

.button {
    margin-top: 32px;
    background: #ff3f6c;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 300px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.button:focus {
    outline: none;
}