.lcContainer {
	margin: 30px 0px;
  padding: 20px 0px 0px 0px;
  border-top: 1px solid ~colors.black_10;
  font-size: 15px;
  font-style: normal;
	line-height: 20px;
}

.lcHeader {
	font-weight: 500;
  color: ~colors.black;
}

.lcAddress {
	color: ~colors.black_50;
}

.lcInfoContainer {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

.lcAddress {
	width: 70%;
	display: inline-block;
}

.lcLegalInfo {
	width: 30%;
	display: inline-block;
	color: ~colors.black_50;
}

.lcLegalInfo p {
	margin: 0px;
}

.highlightText {
	color: ~colors.blue_100;
	font-weight: 500;
}

.lcEmail {
  composes: highlightText;
}

.lcTelephone {
  composes: highlightText;
}

@media all and (max-width: 600px) {
  .lcContainer {
    margin: 20px 0px;
    padding: 0px;
  }
  .lcInfoContainer {
    margin: 0px;
    display: block;
  }
  .lcAddress {
    width: 100%;
    display: block;
  }
  .lcLegalInfo {
    width: 100%;
    display: block;
		margin-top: 20px;
  }
}
