.container {
  box-sizing: border-box;
  background: ~colors.light_pink;
  background: -webkit-linear-gradient(left top, ~colors.light_pink, ~colors.light_yellow);
  background: -o-linear-gradient(bottom right, ~colors.light_pink, ~colors.light_yellow);
  background: -moz-linear-gradient(bottom right, ~colors.light_pink, ~colors.light_yellow);
  background: linear-gradient(to bottom right, ~colors.light_pink, ~colors.light_yellow);
  text-align: center;
  padding-top: 30px;
  position: relative;
  padding-bottom: 40px;
}

.box {
  background-color: ~colors.white;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
  padding: 20px 10px;
  max-width: 430px;
}

:global(.header-sprite) {
  background: url(https://constant.myntassets.com/web/assets/img/header@2x-new16.a409d46af2e211afcaa82c1359787a90408024be.png) no-repeat top left;
  background-size: 336px 48px;
}

.logo {
  background-position: 0 0;
  margin-top: 30px;
  width: 50px;
  height: 38px;
}

.title {
  font-size: 32px;
  margin-top: 15px;
  color: ~colors.black_80;
}

.third-party-login {
  margin-top: 30px;
}

.info-text {
  color: ~colors.black_50;
  font-size: 12px;
}

.button-info-text {
  composes: info-text;
  margin-top: 0px;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 162px;
  padding-left: 18%;;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  color: ~colors.black_70;
  height: 50px;
  border: 1px solid ~colors.black_30;
  background-color: ~colors.white;
  border-radius: 5px;
  text-align: left;
}

.button:focus {
  outline: 0px;
}

.button:hover {
  box-shadow: 0px 2px 5px ~colors.black_10;
}

.facebook {
  composes: button;
  margin-bottom: 20px;
}

.google {
  composes: button;
}

.gplus-logo {
  background-position: -298px 0 !important;
  width: 23px;
  height: 29px;
  position: absolute;
  top: 13px;
  left: 15px;
}

.fb-logo {
  background-position: -269px 0 !important;
  width: 28px;
  height: 29px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.login-form {
  margin: 0px;
}

.input-container {
  margin: 20px;
  border: 1px solid ~colors.black_30;
  border-radius: 5px;
  padding: 0px;
}

.input-container:hover {
  box-shadow: 0px 2px 5px ~colors.black_10;
}

.input-container-pink {
  composes: input-container;
  border: 1px solid ~colors.melon_90;
  box-shadow: 0px 2px 5px ~colors.melon_20;
}

.input-item {
  position: relative;
}

.user-input {
  display: block;
  color: ~colors.black;
  padding-right: 40px;
  font-size: 15px;
  width: 100%;
  border: 0px;
  padding: 15px;
}

.user-input-email {
  composes: user-input;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.user-input-password {
  composes: user-input;
  border-top: 1px solid ~colors.light;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.error-icon {
  border: 2px solid ~colors.red;
  padding: 0px 7px;
  color: ~colors.red;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-weight: 500;
  border-radius: 21px;
}

.error-message {
  font-size: 11px;
  margin-left: 15px;
  color: #ee5f73;
  text-align: left;
  margin-top: -9px;
  max-height: 500px; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.captcha {
  width: 200px;
  min-height: 79px;
  padding: 5px;
  border: 1px solid ~colors.light;
  border-radius: 5px;
}

.captchaInputCtn {
  border: none;
}

.user-input-captcha {
  composes: user-input;
  border-radius: 5px;
  border: 1px solid #BFC0C6;

  &:focus {
    border: 1px solid ~colors.dark_pink;
  }
}

.user-input:focus {
  outline: 0px;
}

.login-button-container {
  padding: 10px 20px;
  margin: 0px;
  border: 0px;
}

.login-button {
  background-color: ~colors.melon_90;
  color: ~colors.white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0px;
  text-transform: uppercase;
  border-radius: 3px;

}

.login-button:hover {
  background: -webkit-linear-gradient(left top, ~colors.melon_90, ~colors.melon);
  background: -o-linear-gradient(bottom right, ~colors.melon_90, ~colors.melon);
  background: -moz-linear-gradient(bottom right, ~colors.melon_90, ~colors.melon);
  background: linear-gradient(to bottom right, ~colors.melon_90, ~colors.melon);
}

.login-button:focus {
  outline: 0px;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: ~colors.melon;
}

.link-container {
  text-align: left;
  padding: 20px;
}

.right-links {
  float: right;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: ~colors.dark_pink;
  font-size: 13px;
  padding: 10px 0px;
}

.create-account-link {
  composes: link;
  margin-left: 5px;
}

.changeCaptcha {
  margin: 10px auto;
  cursor: pointer;
  color: #FF527B;
  width: 155px;

  img {
    margin-right: 4px;
    width: 14px;
    vertical-align: bottom;
    position: relative;
    top: -2px;
  }
}

.captchaError {
  color: #ee5f73;
  font-size: 13px;
  text-align: left;
  margin: -10px auto 18px 23px;
}

@media all and (min-width: 360px) {
  .button {
    width: 49%;
    display: inline-block;
  }
  .facebook {
    margin-right: 15px;
    margin-bottom: 0px;
  }
}

@media all and (min-width: 400px) {
  .box {
    display: inline-block;
    width: 400px;
  }
}
