.groupDetailsContainer {
  padding: 40px 16px 16px 16px;
  background: ~colors.white;
}

.borderDiv {
  padding: 15px 0 0 0;
}

.campaignTimeInfo {
  border-top: 1px dashed ~colors.black_20;
  font-size: 12px;
  color: ~colors.black_80;
  padding: 24px 0 10px 0;
  font-weight: 500;
  text-align: center;
}

.campaignTimeInfo span:last-child {
  font-weight: normal;
}

.viewRewards {
  font-size: 14px;
  font-weight: 500;
  color: ~colors.black;
  text-transform: uppercase;
  max-width: 90%;
  padding: 24px 0 0 0;
}

.viewRewards:hover {
  cursor: pointer;
}

.viewRewards span {
  font-weight: normal;
}

.metricsContainer {
  outline: none;
  padding: 42px 0 0 0;
}

.metric {
  font-size: 14px;
  color: ~colors.black;
  text-align: left;
  line-height: 29px;
}

.metric span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: ~colors.black;
  vertical-align: bottom;
}