.productDescriptionTableContainer {
    position: relative;
}

.product-description-title {
    color: ~colors.ultra_dark;
    font-size: 16px;
    margin:0;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 1px solid ~colors.black_20;
    text-transform: uppercase;
}

.product-description-content {
    color: ~colors.ultra_dark;
    line-height: 1.4;
    font-size: 16px;
    margin-top: 12px;
    width: 84%;

    b {
      font-weight: 500;
      display: inline-block;
      margin-top: 16px;
    }
    b:first-child{
      margin-top: 0px;
    }
    p {
      margin: 0;
    }
}

.completeTheLook {
    composes: product-description-title;
}

.sizeFitDesc {
    font-weight: 400;
    border: none;
    margin-top: 12px;
}
.sizeFitDescTitle {
    composes: product-description-title;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding-bottom: 5px;
}

.sizeFitDescContent {
    composes: product-description-content;
    margin: 0px;
    width:90%;
}
.tableContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.tableContainer .row {
    position: relative;
    border-bottom: solid 1px #eaeaec;
    margin: 0 0 12px 0;
    padding-bottom: 10px;
    flex-basis: 40%;
}
.tableContainer .row:nth-child(odd) {
    margin-right: 10%;
}
.tableContainer .row .rowKey {
    position: relative;
    color: #7e818c;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}
.tableContainer .row .rowValue {
    position: relative;
    color: #282c3f;
    font-size: 16px;
    line-height: 1.2;
}
.showMoreText {
  font-size: 14px;
  font-weight: 500;
  color: #ff3f6c;
  margin-top: 4px;
  cursor: pointer;
}
