.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: -40px;
  padding: 0;
}

.gist {
  padding-bottom: 14px;
  flex: 1 0 190px;
  box-sizing: border-box;
  margin-left: 40px;
  margin-top: 40px;
  max-width: ~"calc(16.6666666% - 40px)";
  outline: 1px solid #e9e9eb;
}

.gist:hover {
  box-shadow: 0px 2px 16px 4px rgba(40, 44, 63, 0.07);
}

@media (max-width: 1400px) {
  .gist {
    max-width: ~"calc(20% - 40px)";
  }
}

@media (min-width: 1599px) {
  .gist {
    max-width: ~"calc(14.2857% - 40px)";
  }
}

.link {
  text-decoration: none;
  outline: 0;
}
