.title {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 22px;
  color: ~colors.white;
  padding: 23px 42px 16px 39px;
}

.container {
  margin: 16px 0 16px 0px;
  padding-bottom: 16px;
  background-image: url('https://constant.myntassets.com/web/assets/img/11505304514521-15209-o6x60q.png'),
  	linear-gradient(45deg, rgb(201,161,255) 4%, rgb(255,136,164) 62%, rgb(255,225,232) 100%);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.action {
  height: 40px;
  text-align: center;
  background: ~colors.melon;
  color: ~colors.white;
  font-size: 16px;
  line-height: 40px;
  margin: 0px 16px 0px 16px;
  font-weight: 500;
  border-radius: 3px;
}

.action:hover {
  cursor: pointer;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (max-device-width: 1024px)
  and (min-device-width: 768px) {
  	.action {
  	  margin: 0px 42px 0px 42px;
  	}
}
