.metric {
  border: none;
  background-color: ~colors.white;
  font-size: 14px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent
}
.metric:focus {
  outline: none;
}

.metric.left {
  border-radius: 2px 0 0 2px;
}

.metric.right {
  border-radius: 0 2px 2px 0;
  border-left: none;
}

.metric.selected {
  font-weight: 600;
  color: ~colors.white;
  opacity: 1;
  cursor: default;
  border: none;
  height: 18px;
  width: 18px;
  padding: 6px;
  border-radius: 16px;
  background-color: ~colors.ultra_dark !important;
}

.inchCmToggle {
  float: right;
  margin: 16px;
  border: 1px solid ~colors.bberry_10;
  padding: 1px;
  border-radius: 40px;
}

.scale {
  display: inline-block;
  margin-right: 10px;
}

.scaleHeader {
  margin-right: 15px;
  font-size: 15px;
}

.scaleText {
  font-size: 12px;
  font-weight: 600;
  color: ~colors.black_60;
}

.scaleCheckbox {
  vertical-align: middle;
}

.scaleSelector {
  float: left;
  margin: 20px 0 16px 20px;
}

.unitText {
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

