.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  background-color: rgba(0,0,0,0.8);
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  background-color: ~colors.white;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.image-size {
  text-align: center;
}

.image-size-chart {
  margin-top: 5%;
  max-width: 100%;
  width: auto;
  margin-bottom: 60px;
}

.header {
  display: flex;
  padding: 76px 0 24px 36px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 4;
}

.button {
  background-color: ~colors.white;
  border: 0px;
  outline: 0px;
  color: ~colors.ultra_dark;
  font-size: 15px;
  font-weight: 500;
}

.available-size {
  composes: button;
  border: 1px solid ~colors.medium;
  border-radius: 50px;
  min-width: 50px;
  height: 50px;
  padding: 0px;
}

.available-size:hover {
  color: ~colors.white;
  background-color: ~colors.ultra_dark
}

.selected-size {
  composes: available-size;
  color: ~colors.white;
  background-color: ~colors.ultra_dark
}

.disabled-size {
  composes: button;
  border: 1px solid ~colors.light;
  border-radius: 50px;
  color: ~colors.medium;
  min-width: 50px;
  height: 50px;
  background-color: ~colors.ultra_light;
  position: relative;
  cursor: default;
  padding: 0px;
}

.strike {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 1px;
  background-color: ~colors.medium;
}

.title {
  font-weight: 500;
  color: #282C3F;
  font-size: 20px;
}

.measure-title {
  font-size: 16px;
  color: ~colors.ultra_dark;
  font-weight: 600;
  text-align: left;
  margin: 20px 0 18px 18px;
}

.subtitle {
  color: ~colors.medium;
  font-size: 14px;
}

.info {
  clear: both;
  padding-bottom: 40px;
}

.tableNew {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

.newRow {
  border: 1px solid ~colors.bberry_10;
}

.newCell {
  padding: 10px 5px;
  text-align: center;
}

.cell-title {
  font-weight: normal;
}
.checkboxIndicator {

}

.newCell:first-child {
  text-align: right;
}

.actions {
  margin-top: 40px;
  text-align: center;
}

.add-to-bag {
  composes: button;
  margin-left: 20px;
  padding: 10px 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: ~colors.green;
  border: 1px solid ~colors.green;
  color: ~colors.white;
  margin-right: 20px;
}

.close {
  composes: button;
  position: fixed;
  border-radius: 4px;
  top: 3px;
  right: 755px;
  padding: 8px 8px 6px 8px;
}

.close:hover {
  background-color: ~colors.black_5;
}

.modalclose {
  composes: modalclose from '../../resources/sprites.css';
  display: inline-block;
}

.disclaimer {
  text-align: center;
  padding-top: 8px;
  font-size: 13px;
}

.error {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  color: ~colors.red;
}

.radioIndicator:before, .radioIndicatorNew:before {
  border: 2px solid ~colors.light_red !important;
  top: 8px;
  left: 12px;
}
.radioIndicatorNew:before {
  border-color: ~colors.black_60 !important;
  padding: 7px !important;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.line-through {
  text-decoration: line-through;
}
.sc-addToBag {
    position: absolute;
    right: -4px;
    width: 46%;
    padding: 9px 0;
    max-height: 20px;
}

.sc-wishlist {
    left: 0;
    position: absolute;
    width: 48%;
    height: 20px;
}

.add-to-wishlist-full-sc {
  width: 45% !important;
  padding: 20px;
  left: 30%;
}

.size-chart {
    width: 54%;
    margin: 0 20px;
}
.prelaunch-cta {
  left: 14%;
  bottom: 4px;
}
.size-chart-cta {
    width: 100%;
    background-color: ~colors.white;
    position: fixed;
    bottom: 0;
    height: 54px;
    padding: 8px 0 0;
    z-index: 1;
    box-shadow: 0 0 24px 0 ~colors.black_10;
}
.sc-addToBag-disabled {
    opacity: 0.5;
    pointer-events: none;
}
.bold {
  font-weight: bold;
}

@media all and (min-width: 980px) {
  .content {
    box-shadow: 0px 0px 5px ~colors.light;
    height: 100%;
    max-width: 800px;
    position: absolute;
    right: 0;
  }

  .newCell {
    padding: 10px;
  }
}

.productInfo {
  margin-left: 36px;
  display: flex;
  flex-direction: column;
}

.sizechart-image {
  width: 112px;
  height: 160px;
}

.subtitle {
  color: #282c3f;
  font-size: 18px;
  max-width: 380px;
  margin: 6px 0 12px 0;
}

.sizeChartTab {

}
.divider {
  padding: 6px 0;
  width: 100%;
  background-color: ~colors.ultra_light;
}
.tabContainer {
  border: 1px solid ~colors.bberry_10;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: ~colors.white;
  z-index: 4;
}

.sizeChartTab, .measureTab {
  display: inline-block;
  font-size: 18px;
  width: 46%;
  padding: 14px;
  cursor: pointer;
}
.tabSelected {
  border-bottom: 1px solid ~colors.light_red;
  border-bottom-width: 2px;
  font-weight: 600;
  color: ~colors.light_red;
}

.sizeMoreSellers {
  font-weight: 500;
  color: #ff3f6c;
  cursor: pointer;
}

.sellerInfo {
  padding: 20px 0 20px 18px;
}

.deliveryMessage {
  color: #535766;
  margin-top: 8px;
}