.chartContainer {
  display: flex;
}

.button {
  background-color: ~colors.white;
  border: 0px;
  outline: 0px;
  color: ~colors.ultra_dark;
  font-size: 15px;
  font-weight: 500;
}

.productInfo {
  text-align: left;
  padding-left: 8px;
}

.title {
  color: ~colors.ultra_dark;
  font-size: 20px;
  font-weight: 600;
}

.measure-title {
  font-size: 16px;
  color: ~colors.ultra_dark;
  font-weight: 600;
  text-align: left;
  margin: 0 0 18px 18px;
}

.inputSizeChart {
  display: none;
}

.availableSize {
  composes: button;
  min-width: 30px;
  height: 30px;
  padding: 0px;
  font-size: 13px;
}

.tableContainer {
  overflow: auto;
  margin: auto;
  clear: both;
}

.table {
  border-collapse: collapse;
  border: 1px solid ~colors.light;
  width: 100%;
}
.tableNew {
  border-collapse: collapse;
  width: 100%;
}

.table > tbody tr td.cell {
  border-top: 0px;
  border-bottom: 0px;
}

.image-size {
  text-align: center;
  margin: 20px 0 60px;
}

.image-size-chart {
  width: auto;
  max-width: 100%;
}

.newCell {
  padding: 10px 14px;
  text-align: center;
  font-size: 14px;
}

.cell {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid ~colors.light;
  font-size: 12px;
}

.cell-title{
  font-weight: normal;
  vertical-align: top;
}

.radioIndicator:before {
  border: 2px solid ~colors.light_red !important;
  top: 8px;
  left: 12px;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.line-through {
  text-decoration: line-through;
}
.sc-addToBag {
  float: right !important;
  width: 46% !important;
  height: 48px !important;
  border-radius: 4px !important;
}

.sc-wishlist {
  width: 45% !important;
  margin-left: 13px;
  margin-bottom: 8px;
  border-radius: 4px !important;
}

.wishlisted-prelaunch {
  width: 100%;
  margin-left: 0;
}

.appPrelaunchCTA {
  position: relative;
  padding: 24px;
  width: 100% !important;
  margin-left: 0;
}
.similarWrapperApp {
  margin-left: 34px;
}
.size-chart-cta {
  width: 100%;
  background-color: ~colors.white;
  position: fixed;
  bottom: 0;
  height: 54px;
  padding: 12px 0 0;
  z-index: 1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1)
}
.sc-addToBag-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bold {
  font-weight: bold;
}

@media all and (max-width: 978px) {
  .chartContainer {
    display: block;
  }
  .tableContainer {
    margin: 10px;
  }
}

@media all and (min-width: 979px) {

  .container {
    display: block;
    margin: 0 auto;
    width: 980px;
    padding: 20px 0;
  }

  .image {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.sizechart-image {
  width: 112px;
  max-height: 150px;
}

.subtitle {
  color: #535766;
  font-size: 16px;
  padding-bottom: 10px;
}
.sizeChartTab {

}
.divider {
  padding: 6px 0;
  width: 100%;
  background-color: ~colors.ultra_light;
}

.radioIndicatorNew:before {
  border-color: ~colors.black_60 !important;
  padding: 7px !important;
}

.newRow {
  border: 1px solid ~colors.bberry_10;
}

.newRow:nth-child(odd) {
  background: none;
}

.tabContainer {
  border: 1px solid ~colors.bberry_10;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: ~colors.white;
  z-index: 4;
}

.sizeChartTab, .measureTab {
  display: inline-block;
  font-size: 16px;
  width: 33%;
  padding: 14px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent
}
.measureTab {
  width: 36%;
}
.tabSelected {
  border-bottom: 1px solid ~colors.light_red;
  border-bottom-width: 2px;
  font-weight: 600;
  color: ~colors.light_red;
}
.header {
  background-color: #FFFFFF;
  z-index: 4;
  position: relative;
  display: flex;
  padding: 16px;
}


.info-container {
  overflow: hidden;
}
