.link{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.image {
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  /*to fox js rounding errors*/
  height: auto;
  width: 100%;
  transition: all .2s ease-in-out;
}
.hand {
  cursor: hand;
}
/* remove animation */
/*.animated{
	animation: appear 0.2s 1 ease-in-out;
}
.animated:hover {
  transform: scale(1.05);
  overflow: visible;
  clip: rect(-1%,-1%,-1%,-1%);
}
@keyframes appear {
	from { transform: scale(0.9); opacity: 0.2; }
	to { transform: scale(1); opacity: 1; }
}
@keyframes zoom{
  from { transform: scale(1);}
  to { transform: scale(1.1); opacity: 1; }
}*/
