.container {
  margin-bottom: 10px;
}

.heading {
  color: ~colors.ultra_dark;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  letter-spacing: 0.4px;

  strong {
    font-weight: 500;
  }
  .shadeTitle {
    font-size: 14px;
    text-transform: none;
  }
}

.image {
  width: 55px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 12px;
}

.shadeList {
  padding: 0;
  margin: 0;
  font-size: 0;

  > li {
    padding: 0;
    display: inline-block;
    margin: 0 10px 10px 0;
  }

  a {
    display: inline-block;
    font-size: 0;
  }
}

.shadeListMobile {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  > li {
     flex: 0 0 auto;
     margin: 0 0 12px 18px;

     &:first-child {
      margin-left: 20px;
     }

     &:last-child {
       padding-right: 20px;
     }
  }
}

.shadeListDesktop {
  /* > li:nth-child(6n) {
   margin-right: 0;
 } */
}

.shade {
  display: inline-block;
  cursor: pointer;
  max-width: 66px;
  box-sizing: border-box;

  .imageContainer {
    height: 40px;
    position: relative;
    overflow: hidden;
    background-color: ~colors.light;

    &.moreImageContainer {
      background-color: ~colors.white;
     }

    .grid {
      width: 30px;
      height: 18px;
      display: inline-block;
      float: left;
      background-color: ~colors.light;

      &:nth-child(odd) {
         margin-right: 3px;
      }

      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 3px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  img {
    display: block;
    width: 100%;
    height: 40px;
    object-fit: cover;
  }
  .shadeName {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #535766;
    margin-top: 6px;
  }
}

.selected {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -7px;
  z-index: 1;
  composes: whitetick from '../../../resources/sprites.css';
}
