.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background:rgba(40, 44, 63, .8);
  z-index: 5;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modalContainer {
    width: 960px;
    height: 648px;
    border-radius: 3px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
  }

  .imageWrapper, .reviewWrapper {
    flex: 1;
    align-items: top;
  }

  .imageWrapper {
    background-color:#282c3f;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1.6;
    
    .lazyLoaderContainer{
      position: relative;
      width: 100%;
      height: 100%;
    } 

    .image {
      width: 100%;
      height: 100%;
      background-position: center center;
      -webkit-background-size: cover;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 2;
    }
  }

  .buttonContainer {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 6;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
  
    .actionButton {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }

    .disableAction {
      cursor: not-allowed;
      opacity: 0.8;
    }

    .closeModalButton {
      position: absolute;
      z-index: 9;
      top: -275px;
      left: 20px;
    }
  }

  .reviewWrapper {
    padding: 22px;
  } 

  .imageMiniThumbWrapper {
    display: flex;
    justify-content: center;

    .lazyLoaderContainer {
      width: 85px;
      height: 85px;
      margin: 15px 5px;
      position: relative;
      overflow: hidden;
    } 

    .imageThumb {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      box-sizing: border-box;
      transition: border 0.2s;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 2;
      cursor: pointer;
    }

    .active {
      border: 4px solid #fff;
      transition: border 0.2s;
    }
  }
}


.previousBtn {
  composes: reviewPrevious from '../../../../resources/sprites.css';
  transform: scale(.9);
}

.nextBtn {
  composes: reviewNext from '../../../../resources/sprites.css';
  transform: scale(.9);
}

.reviewClose {
  composes: reviewClose from '../../../../resources/sprites.css';
}