.pdp-info {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.pdp-info .title {
  font-size: 16px;
  color: #535766;
}

.pdp-info .price-container {
  margin-top: 5px;
  display: flex;
}

.pdp-info .price-discounted {

  font-size: 16px;
  color: #535766;
  font-weight: 800;
}

.pdp-info .price-mrp {
  padding-left: 5px;

  font-size: 16px;
  text-decoration-line: line-through;
  color: #a9abb3;
}

.pdp-info .discount-percent {
  padding-left: 5px;

  font-size: 16px;
  color: #ff5752;
}
