.container{
  min-height: 500px;
  padding-top: 80px;
  text-align: center;
}

.textMsg {
  font-weight: 400;
  color: #ff3e6c;
  margin-top: 100px;
}

.retryButton {
  display: inline-block;
  border-radius: 3px;
  background-color: #ff3e6c;
  color: #FFF;
  letter-spacing: 0.3px;
  padding: 13px 36px;
  font-size: 18px;
  font-weight: 500;
}

