.title {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: ~colors.black;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding: 20px 16px 10px 16px;
}

.description {
  opacity: 0.5;
  font-size: 15px;
  line-height: 20px;
  color: ~colors.black_90;
  padding: 0px 30px 20px 16px; 
}

.container {
  margin: 16px 0 16px 0px;
  background: linear-gradient(45deg, rgb(238,223,253) 95%, rgb(223,221,253) 100%);
  border-radius: 5px;
  border: 1px solid rgb(236,236,236);
  box-shadow: 0 0 12px 0 rgba(148, 150, 159, 0.15);
  opacity: 0.7;
}

.action {
  height: 40px;
  text-align: center;
  color: ~colors.black_90;
  font-size: 15px;
  line-height: 40px;
  font-weight: 500;
  border-top: 2px dashed ~colors.white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1px 0 1px;
  cursor: pointer;
}