.SellersContainer {
    background: #ffffff;
    width: 417px;
    padding: 24px;
    border-radius: 4px;
}

.sellerListItemContainer {
    border: solid 1px #d4d5d9;
    border-radius: 4px;
    padding: 10px 16px;
    display: flex;
    margin-bottom: 10px;
}

.sellerListItemContainer:last-child {
    margin-bottom: 1px;
}

.productInfo img{
    width: 60px;
    height: 80px;
    margin-right: 16px;
}

.productInfo {
    display: flex;
    text-align: left;
    border-bottom: 1.5px solid #eaeaec;
    padding-bottom: 16px;
    margin-bottom: 15px;
    color: #3e4152;
}

.info {
    max-width: 275px;
}

.selectSellerTitle {
    text-align: left;
    margin-bottom: 16px;
    color: #3e4152;
    font-weight: 500;
}

.priceContainer {
    margin-top: 5px;
}

.price {
    font-weight: 500;
    color: #3e4152;
    font-size: 14px;
    margin-bottom: 4px;
}
.deliveryInfo {
    font-size: 14px;
    color: #535766;
    margin-top: 4px;
}

.sellerList {
    padding: 0;
    max-height: 242px;
    overflow: scroll;
}

.sellersInfoContainer {
    text-align: left;
    flex-grow: 1;
    max-width: 205px;
}

.addToBagCTA {
    border-radius: 4px;
    background-color: #ff3f6c;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    width: 128px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.sellerInput {
    margin: auto;
}

.sellerInput:checked:after {
    background-color: #ffa500;
}

.productStrike {
    text-decoration: line-through;
    color: #7e818c;
    margin-left: 5px;
}

.discount {
    color: #ff905a;
    margin-left: 5px;
}

.brand {
    font-weight: 500;
    font-size: 16px;
    color: #3e4152;
    margin-bottom: 4px;
}

.productName {
    margin-bottom: 8px;
    color: #3e4152;
}

.modalclose {
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
    opacity: 0.7;
    composes: remove from '../../../resources/sprites.css';
  }
