@import 'slick';

.base {
  box-sizing: border-box;
  /* Dots clearence*/
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0 auto;
}
.border{
  border: solid 1px ~colors.black_10;
}
.borderTop{
  border-top: solid 1px ~colors.black_10;
}
.borderBottom{
  border-bottom: solid 1px ~colors.black_10;
}
.borderRight{
  border-right: solid 1px ~colors.black_10;
}
.borderLeft{
  border-left: solid 1px ~colors.black_10;
}

.slide {
  width: 100%;
}

.arrowContainer {
  height: 100%;
}

.arrow {
  margin: 0 auto;
}

:global(.slick-slide) {
  height: auto !important; /* override slick-slide : https://github.com/akiran/react-slick/issues/27; */
}
:global(.slick-prev) {
  left: -75px !important;
}
:global(.slick-next) {
  right: -75px !important;
}

@media screen and (max-width: 1150px) {
  :global(.slick-prev){
      position: relative;
      display: none !important;
  }
  :global(.slick-next){
      position: relative;
      display: none !important;
  }
}
