.discount {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: ~colors.orange_new;
    display: inline-block;
  }
  
  .selling-price {
    margin: 0px 0px 10px 0px;
  }
  
  .price {
    font-weight: 500;
    font-weight: 500;
    line-height: 1;
    color: ~colors.ultra_dark;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .mrp {
    height: 22px;
    opacity: 0.8;
    line-height: 1.2;
    color: #94969f;
    margin-right: 5px;
  }
  .mrp-verbiage {
    min-width: 270px;
    position: absolute;
    border: 1px solid #e3e3e3;
    z-index: 1;
    background: white;
    padding: 8px;
    box-shadow: 0 0 12px #d3d3d3;
    transition: .2s;
    opacity: 0;
    transform: scale(0.001);
    color: #282C3F;
    font-size: 14px;
  }
  .mrp-verbiage div:first-child, .mrp-verbiage div:nth-child(5), .mrp-verbiage div:nth-child(7) {
    margin: 8px 0;
  }
  .mrp-verbiage .mrp-verbiage-amt {
    float: right;
    font-weight: 500;
    margin-left: 20px;
  }
  .mrp-verbiage hr {
    border: 1px solid #e3e3e3;
  }
  .mrp-verbiage:before {
    position: absolute;
    top: 1%;
    left: 20%;
    margin: -.25em;
    width: .5em;
    height: .5em;
    box-shadow: 10px 10px 12px #d3d3d3;
    transform: rotate(-135deg);
    background: linear-gradient(-45deg, white 50%, transparent 50%);
    content: '';
  }
  .price:focus, .price:active, .mrp-verbiage:focus, .mrp-verbiage:active {
    outline: none;
  }
  .price:focus + .mrp-verbiage, .price:active + .mrp-verbiage, .mrp-verbiage:focus, .mrp-verbiage:active {
    transform: scale(1);
    opacity: 1;
  }