.filters {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-bottom: solid 1px #e9e9ed;
  position: relative;
  border-right: 1px solid #EDEBEF;
}

.filters  .label {
  display: block;
  width: 95%;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 17px;
  color: #282c3f;
}

.searchBox {

}

.filters:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.header {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 18px 0;
  clear: both;
  color: #282c3f;
  display: block;
}
