.base {
  width: 100%;

  .indexContainer {
    :global {
      .slick-prev, .slick-next {
        display: none !important;
      }
    }
    > div {
      margin: 0 auto;
      &.stretch {
        max-width: 100%;
      }
    }
  }
}
