.base{
  border-bottom: 1px solid #e9edec;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
}
.noLine{
  border-bottom: none !important;
}
.light{
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: none !important;
}
.base:last-child {
  border: none;
}
.base:first-child {
  border-bottom: 1px solid #e9edec;
}
.link {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color:  ~colors.black_90;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.underline{
  padding-top: 0;
  padding-bottom: 0;
}
.underline:hover{
  text-decoration: underline;
}
.arrow {
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 11px;
  zoom: 1.3;
}
.pad{
  padding-right: 33px;
}
.list {
  list-style: none;
  padding-left: 2.5em;
  max-height: 0;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s;
}
.noStyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
