.options-container {
  position: absolute;
  z-index: 6;
  margin: -41% 70%;
}

.options-btn {
  margin-top: 12px;
  margin-left: 52px;
  box-sizing: content-box;
  background-color: transparent;
  z-index: 1;
  position: absolute;
}

.options-img {
  height: 48px;
  width: 48px;
  background-image: url('https://constant.myntassets.com/web/assets/img/4817ac8b-6d8f-4d9f-a65d-0a13a043ae351554282172148-group-2-3x.png');
  background-repeat: round;
}

.close-img {
  height: 48px;
  width: 48px;
  background-image: url('https://constant.myntassets.com/web/assets/img/6f801d61-828f-4de3-b5fd-8e3d132134e81554282219999-ic-close-split-screen-3x.png');
  background-repeat: round;
}

.floating-btn-container {
  width: 110px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: relative;
  top: 12px;
  right: 26px;
}
.visible {
  visibility: visible;
  opacity: 1;
}

.floating-action-btn {
  width: 100%;
  background-color: white;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  height: 36px;
  border: 0.5px solid #eaeaec;
}

.floating-btn-top-radius {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.floating-btn-bottom-radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -0.5px;
}

.splitscreen-exit-btn {
  position: relative;
  bottom: 40px;
  left: 37%;
  z-index: 6;
  background: #282c3f;
  color: #ffffff;

  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 2px 1px #94969f;
}

.img-popup {
  color: #ffffff;
  background-color: #282c3f;
  z-index: 99;
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: block;
  margin-left: calc(-70vw);
  padding: 20px 0 20px 16px;
  font-size: 14px;
  font-weight: 700;
}

.splitScreen-container {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .options-container {
    margin: -48% 66%;
  }
}
