.container {
  list-style: none;
  text-align: center;
  border-top: 1px solid #EDEBEF;
  padding-top: 24px;
  padding-bottom: 60px;
  color: #282c3f;

  .paginationMeta {
    color: #535766;
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    cursor: default;
    font-weight: 400;
  }

  .arrowRight {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-bottom: 1px;
    margin-right: 2px;
  }

  .arrowLeft {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
    margin-bottom: 1px;
    margin-left: 2px;
  }

  li {
    display: inline-block;
    margin-right: 9px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 2px;
  }

  .disabled {
    pointer-events: none;
    opacity: .6;
  }

  .number {
    background-color: #fff;
    border: 1px solid transparent;

    &:hover {
       border: 1px solid #EDEBEF;
     }

    a {
      color: #282c3f;
    }

  }

  .dots {
    margin-left: 5px;
    margin-right: 5px;
  }

  .active {
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.4px;
    border-radius: 2px;
    background-color: #282c3f;


    a {
      color: #fff;
    }
  }

  .prev {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-right: 64px;
    padding: 10px 22px;
    &:hover {
      border-color: #282c3f;
    }
  }

  .next {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-left: 64px;
    padding: 10px 22px;
    &:hover {
       border-color: #282c3f;
    }
  }
}
