.base {
  margin: 0 auto;
  max-width: 1600px;
}

.base ul {
  padding-left: 0;
}

.base h4 {
  padding-left: 0;
}

.rightContainer {
  padding-left: 0px;
}

.leftContainer {
  min-width: 252px;
  max-width: 252px;
  flex-grow: 0 !important;
}

.leftContainer li{
  font-size: 14px;
  margin-bottom: 7px;
}

.leftContainer li:last-child {
  margin-bottom: 0;
}

.leftContainer ul {
  margin: 0;
}

.searchProductsContainer {
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 20px;
}

:global {
  .fadeInOutAnimation-enter {
    opacity: 0.01;
  }

  .fadeInOutAnimation-enter.fadeInOutAnimation-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fadeInOutAnimation-leave {
    opacity: 1;
  }

  .fadeInOutAnimation-leave.fadeInOutAnimation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
