.PageNotFoundContainer {
  padding-top: 80px;
  padding-bottom: 140px;
}

.searchBox {
  display: inline-block;
  width: 700px;
  margin-top: 30px;
}

.inputContainer {

}

.inputBox {
  border: 1px solid #ccc;
  padding: 10px 5px;
  width: 70%;
  outline: 0;
}

.searchBtn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  color: ~colors.blue_90;
  font-weight: 500;
  font-size: 16px;
}

.infoBig {
  font-size: 32px;
  color: ~colors.ultra_dark;
  margin-bottom: 10px;
  margin-top: 20px;
}

.popularSearch {
  margin: 20px 10px;
  font-size: 15px;
  color: ~colors.black_70;
}

.popularSearch a {
  font-size: 13px;
  color: ~colors.black_50;
}

.infoSmall {
  font-size: 14px;
  margin-bottom: 25px;
  color: #94969f;
  margin-top: 10px;
}

.productSections {
  color: ~colors.blue_90;
  font-weight: 500;
}

.productSections:after {
  content: ' | ';
  color: ~colors.black_40;
}

.productSections:last-child:after {
  content: '';
}

.productSectionContainer {
  margin: 20px 0px;
}

.searchTerm {
  color: ~colors.blue_90;
  font-weight: 500;
}

.notFoundImage {
  display: inline-block;
  margin: 30px 0;
  min-height: 53px;
  width: 200px;

}

@media all and (max-width: 500px) {
  .PageNotFoundContainer {
    padding: 50px 0;
  }
  .infoBig{
    font-size: 23px;
  }
  .searchBox {
    width: 100%;
    margin-top: 15px;
  }
  .inputBox {
    width: 50%;
    font-size: 13px;
    height: 39px;
    box-sizing: border-box;
  }

  .searchBtn {
    padding: 8px 20px;
    height: 39px;
    display: inline-block;
    box-sizing: border-box;
  }

  .notFoundImage {
    width: 150px;
    min-height: 40px;
  }
  .popularSearch{
    font-size: 13px;
    line-height: 24px;
  }
}
