.sitemapContainer {
  padding: 24px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin-bottom: 0;
}

.sitemapLinks {
  max-width: 980px;
  width: 100%;
}

.sitemapLinksSection {
  display: flex;
  flex-wrap: wrap;
}

.sectionLink {
  color: #535766;
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-decoration: underline;
  padding: 32px 0 16px;
}

.subSectionLinkContainer {
  display: flex;
}

.subSectionLink {
  font-size: 14px;
  color: #535766;
  display: block;
  text-decoration: underline;
  padding-bottom: 12px;
}

.subSectionLinkDivider {
  border-right: solid 1px #535766;
  margin: 0 8px;
  height: 16px;
}

.subSectionLink:last-child {
  padding-bottom: 0px;
}

@media all and (max-width: 700px) {
  .sitemapLinksSection {
      flex-direction: column;
  }
  .sectionLink {
    font-size: 14px;
  }
  .subSectionLink {
    font-size: 12px;
  }
  .subSectionLinkDivider {
    display: none;
  }
  .heading {
    display: none;
  }
}