.base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  margin: 0 -10px 0 3px;
  width:100%;
  justify-content: space-between;
}

.showmore {
  padding: 12px 8px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #ff3f6c;
  background: #fff;
  color: #ff3f6c;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  width: 320px;
  margin: 60px auto 80px;
}

.showMoreContainer {
  box-sizing: border-box;
}

.similarItemContainer {
  width: 100%;
}

.similarGrid {
  margin: 0px;
  justify-content: space-between;
  > li {
    margin: 0 0 30px 0;
    width: 210px;
  }
  .loyalty { 
    max-width: 173px;
  }
}
.liDummy {
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 30px 10px;
}

.noSimilarContainer {
  width: 50% !important;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 110px auto 0 auto !important;
  > div {
    background-color: rgb(255,255,255,1) !important;
  }
}
.noSimilartext {
  letter-spacing: 0.5px;
  color: #282c3f;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
    text-align: center;
    margin-top: 35px;
}