.sizeDisplayDiv {
  display: none;
  padding: 24px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 417px;
}

.showSizeDisplayDiv {
  display: block;
  text-align: left;
}


.sizeDisplayHeader {
  color: #282c3f;
  font-weight: 500;
  text-align: left;
}

.sizeDisplayDiv .sizeSelectLabel {
  font-size: 16px;
}

.sizeDisplayRemoveMark {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
  opacity: 0.7;
  composes: remove from '../../../resources/sprites.css';
}

.sizeDisplayDiv .sizeButtonsContaier {
  width: 100%;
  text-align: left;
  height: auto;
}

.sizeDisplayDiv .sizeButton {

  margin: 5px;
  outline: none;
  font-size: 16px;
  color: #696e79;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 400;
  border: solid 1px #d4d5d9;
  background-color: #ffffff;
}


.sizeDisplayDiv .sizeButtonSelected {
  background: black;
  color: ~colors.white;
}

.sizeDisplayDiv .sizeButton:hover {
  border: solid 1px #ff3f6c !important;
  color: #ff3f6c !important;
}

.sizeOptionsContainer {
  overflow-x: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 12;
}

.backdrop {
  background: rgba(41, 48, 63, 0.58);
  position: fixed;
  top: 0;
  left: -4%;
  width: 104%;
  height: 100%;
  z-index: 10;
}

.heading{
  font-size: 14px;
  color: ~colors.dark;
  margin-bottom: 12px;
  position: fixed;
}

.sizeSelectDisplayDiv {
  height: 165px;
  overflow-x: scroll;
  background: #fff;
  position: fixed;
  bottom: -165px;
  left: 0;
  padding: 15px;
  z-index: 11;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 4px;
  visibility: hidden;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}

.active {
  visibility: visible;
  bottom: 0px !important;
}

.sizeSelectOptionsContainer {
  display: none;
}

.sizeSelectOptionsContainerActive {
  display: block;
}

.sizeSelectLabel {
  font-size: 14px;
}

.sizeButtonsContaier {
  width: ~"calc(100% - 8px)";
  padding: 4px;
  height: 88px;
  overflow: auto;
  text-align: left;
}

.sizeButton {
  border-radius: 22px;
  margin: 5px 6px;
  min-width: 44px;
  height: 44px;
  background-color: ~colors.white;
  border: solid 1px ~colors.dark;
  outline: none;
  font-size: 14px;
  color: ~colors.black_80;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  font-weight: 600;
}


.sizeButtonSelected {
  border: solid 2px ~colors.green_light;
  color: ~colors.green_light;
  font-weight: 600;
}

.sizeSelectDisplayDiv .sizeButton:first-child {
  margin-left: 0px;
}

.doneBtn {
  outline: none;
  width: 100%;
  height: 46px;
  background-color: #14cda8;
  position: fixed;
  bottom: -200px;
  left: 0px;
  z-index: 12;
  text-align: center;
  border: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}

.doneBtn div {
  color: ~colors.white;
  font-weight: 600;
  font-size: 14px;
}

.doneBtn:hover {
  cursor: pointer;
}

.doneBtn:disabled {
  opacity: 0.5;
}

.sizeItems {
  position: absolute;
  top: 48px;
}

.productInfo {
  display: flex;
  text-align: left;
  border-bottom: 1.5px solid #eaeaec;
  padding-bottom: 16px;
  margin-bottom: 15px;
  color: #3e4152;
}

.productInfo img{
  width: 60px;
  height: 80px;
  margin-right: 16px;
}

.done {
  border-radius: 4px;
  background-color: #ff3f6c;
  padding: 12px 0;
  color: #ffffff;
  margin: 20px 0 0 0;
  cursor: pointer;
  text-align: center;
}

.sizeMoreSellers {
  font-weight: 500;
  color: #ff3f6c;
  cursor: pointer;
}

.upArrow {
  vertical-align: middle;
  transform: scale(.8);
  margin-left: 4px;
  composes: arrowUpBold from '../../../resources/sprites.css';
  cursor: pointer;
}


.downArrow {
  vertical-align: middle;
  transform: scale(.8);
  margin-left: 4px;
  composes: arrowDownBold from '../../../resources/sprites.css';
  cursor: pointer;
}

.big {
  min-height: 48px;
  min-width: 60px;
  border-radius: 50px;
  height: auto;
  width: auto;
  padding: 0 10px;
}

.disbaled {
  background-color: blue;
}

.selected {
  border: solid 1px #ff3f6c !important;
  color: #ff3f6c !important;
}

.price {
  font-size: 12px;
}

.name {
  margin-bottom: 8px;
}
.sellerInfoContainer {
  margin-top: 16px;
}

.moreSellerContainer {
  margin-top: 4px;
}

:global { 

  .index-mobile .sizeselect-sizeDisplayDiv {
    bottom: 89px;
    margin-bottom: -89px;
    box-sizing: content-box;
  }
  .index-mobile .sizeselect-showSizeDisplayDiv {
    margin-bottom: 0px;
  }
}

