.backdropStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    z-index: 10;
    }

.modalStyle {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: 449px;
    height: 130px;
    margin: -85px 0 0 -250px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.title {
    font-size: 16px;

    font-weight: 500;
    letter-spacing: 0.4px;
    color: #282c3f;
    margin-left: 5px;
}

.descrip {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #7e808c;
}

.pinContainer {
    border-radius: 4px;

    font-weight: 500;
    letter-spacing: 0.4px;
    color: #282c3f;
    border: solid 1px #d4d5d9;
    padding: 10px;
    font-size: 16px;
    min-width: 160px;
    width: 205px;
    background-color: #f4f4f5;
}

.check {
    width: 74px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #ffffff;

    margin-left: 10px;
    border-radius: 2.4px;
    background-color: #ff3e6c;
}

.form {
    margin-left: 5px;
    margin-top: 10px;
}

.validtyNotification {

    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #ff5a5a;
    margin-top: 10px;
    margin-left: 5px;
}

.disable {
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 10px;
    content: '';
    height: 20px;
    width: 3px;
    background-color: #333333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
