.sortBy {
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: 255px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d4d5d9;
}

.sortBy span {
  text-transform: capitalize;
  font-weight: 500;
  color: #282c3f;
}

.list {
  width: 255px;
  background-color: #ffffff;
  position: absolute;
  top: 33px;
  left: -1px;
  margin: 0;
  padding: 16px 0;
  z-index: 2;
  display: none;
  border: solid 1px #d4d5d9;
  border-top: none;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
}

.sortBy:hover .list {
  display: block;
}

.sortBy:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
}

.list label{
  display: block;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  padding: 10px 20px;
}

.list li:hover {
  background-color: #f4f4f5;
}

.list label.selected {
  background-color: #f4f4f5;
  font-weight: 500;
}

.label input {
  visibility: hidden;
  display: none;
}

.downArrow {
  margin-left: 5px;
  margin-top: 5px;
  float: right;
  composes: downArrow from '../../../../resources/sprites.css';
}

