.nav-container {
  height: 55px;
  display: grid;
  grid-template-columns: 80px auto 80px;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: 2px -2px 5px 3px #a9abb3;
  color: #696e73;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
}

.back-btn {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}

.close-button {
  color: #ff3e6c;
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
}
