.hide-container {
  display: none;
}

.container {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
}

.content {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  box-shadow: 0px 0px 5px ~colors.light;
}

.close-icon {
  composes: modalclose from '../../../../resources/sprites.css';
}

.previous-icon {
  composes: modalnext from '../../../../resources/sprites.css';
  transform: rotate(180deg)
}

.next-icon {
  composes: modalnext from '../../../../resources/sprites.css';
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0px;
  overflow-y: scroll;
  cursor: all-scroll;
  cursor: -webkit-image-set(url('https://constant.myntassets.com/web/assets/img/665c9045-044d-4f7e-8079-b5d3bb272e341536989011282-pan-2x.png') 2x), ns-resize;
}

.image-container::-webkit-scrollbar {
  width: 0px
}

.primary-image {
  width: 980px;
  height: 1306px;
}

.thumbnail-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
}

.thumbnail {
  border: 1px solid ~colors.light;
  width: 30px;
  height: 40px;
}

.thumbnail-button {
  outline: 0px;
  margin-bottom: 5px;
  border: 0px;
  padding: 0px;
  background-color: ~colors.transparent;
}

.selected-thumbnail {
  composes: thumbnail;
  border: 1px solid ~colors.dark_pink_10;
}

.footer {
  background-color: ~colors.white;
  position: absolute;
  min-height: 58px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.pricing {
  display: inline-block;
  margin-right: 10px;
  padding-top: 15px;
}

.size {
  display: inline-block;
}

.selling-price {
  font-weight: 500;
}

.discount {
  display: inline-block;
  margin: 0 15px;
}

.discount-text {
  color: ~colors.red;
  margin-left: 10px;
}

.button {
  border-radius: 5px;
  outline: 0px;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 11px;
}

.add-to-bag {
  composes: button;
  margin-left: 20px;
  padding: 10px 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: ~colors.green;
  border: 1px solid ~colors.green;
  color: ~colors.white;
  margin-right: 20px;
}

.icon {
  outline: 0px;
  background-color: ~colors.white;
  padding: 10px 15px;
  font-size: 20px;
  color: ~colors.black_90;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid ~colors.light;
}

.icon:hover {
  background-color: ~colors.black_5;
}

.close{
  composes: icon;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 10px 7px 10px;
}

.next {
  composes: icon;
  padding: 10px 17px 8px 17px;
  position: absolute;
  top: 45%;
  right: 10px;
}

.previous {
  composes: icon;
  padding: 10px 17px 8px 16px;
  position: absolute;
  top: 45%;
  left: 10px;
}
