.container {
  padding: 22px 20px;
  color: #3e4152;
}

.myntraLogo {
  width: 68px;
  height: 46px;
  background-position: -574px 0;
  transform: scale(0.75);
  transform-origin: bottom left;
}

.scaleImage {
  position: absolute;
  right: 0;
  width: 75px;
  height: 64px;
  background-position: -65px -36px;
  top: 77px;
  transform: scale(2);
  transform-origin: bottom right;
}

.divider {
  position: relative;
  height: 1px;
  border-top: 0.5px solid ~colors.black_10;
  width: 90%;
  margin: 10px 0 10px;
}

.title {
  font-size: 32px;
  letter-spacing: 0.9px;
  font-weight: 600;
  line-height: 1.6;
}

.subTitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.intro {
  font-size: 16px;
  margin-bottom: 20px;
}

.mainHighlight {
  background: ~colors.melon;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  box-shadow: 5px 0 0 ~colors.melon, -5px 0 0 ~colors.melon;
}

.subBlock {
  margin: 36px 0;
}

.blockHeading {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn {
  padding: 14px;
  background: #ff517b;
  color: white;
  text-align: center;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
}

.mainGif {
  text-align: center;
}