.container {
  margin: 20px 0 0 0 ;
  > p {

  }
}

.info {
  color: ~colors.ultra_dark;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
  .title {
    color: ~colors.medium;
  }
  .desc {
    margin: 5px 0px;
    display: inline-block;
    width: 90%;
    vertical-align: top;
    a {
      color: ~colors.medium;
      font-size: 12px;
    }
  }
}
.dot {
  width:4px;
  height: 4px;
  display: inline-block;
  border-radius: 4px;
  background-color: ~colors.ultra_dark;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: -3px;
}

.taxInfo {
  composes: info;
}

a.link {
  color: ~colors.new_link;
  font-weight: 500;
}

@media all and (max-width: 600px) {
  .taxInfo {
    display: none;
  }
}
