.loaderDiv {
  min-height: 290px;
  position: relative;
}

.changeLink {
  display: inline-block;
  width: 328px;
  padding: 15px 0;
  border: 1px solid ~colors.dark_3;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 600;
  color: ~colors.dark_new;
  margin: 8px 0 0 0;
}

.gameLink {
  padding: 15px 0;
  border: 1px solid ~colors.dark_3;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 600;
  color: ~colors.dark_new;
  display: inline-block;
  width: 160px;
  margin: 8px 4px 0 4px;
}

.changeLink:hover {
  cursor: pointer;
}

.spinner {
  height: 16px;
  width: 16px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid ~colors.melon;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 8;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.mainContainer {
  text-align: center;
}

.subContainer {
  margin: 0 auto;
  padding: 0px 0 16px 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: ~colors.dark_white;
}

.heading {
  font-weight: 600;
  padding: 2px 0 5px 0;
}

.text {
  /* width: 328px; */
  margin: 16px 16px 0 16px;
  /* display: inline-block; */
  text-align: left;

  font-size: 14px;
  line-height: 1.43;
  color: ~colors.dark_2;
  i {
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

.couponsText {
  composes: text;
  margin-top: 6px;
}

.slotContainer {
  /* width: 100px; */
  height: 105px;
  position: relative;
  /* background-color: #f9a5c9; */
}

.slotInfo {
  background-color: ~colors.white;
  padding-bottom: 16px;
  margin-top: 16px;
}

.couponsCreativeImage img{
  width: 100%;
  display: block;
  margin-top: 16px;
}

.saleImage img{
  width: 100%;
  display: block;
}

.quickCashContainer {
  background-color: ~colors.white;
  padding-bottom: 16px;
}
.quickcash {
  margin-top: 16px;
  height: 80px;
  position: relative;
}
.quickcash img{
  width: 360px;
  height: 78px;
}

.slot {
  width: 320px;
  left: 50%;
  bottom: 0;
  margin-left: -160px;
  position: absolute;
  height: 90px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slot .image {
  width:99px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}

.slot img {
  height:auto;
  padding-top: 10px;
  width: 50px;
  border: none;
}

.slot .selected {
  position: absolute;
  left: 119px;
  top: 18px;
  width: 170px;
  vertical-align: middle;
  text-align: left;
}

.slot .selected .date {

  font-size: 16px;
  color: ~colors.ultra_dark;
  margin-top: 12px;

}

.slot .selected .time {

  font-size: 16px;
  font-weight: 600;
  color: ~colors.ultra_dark;
}

.slotTitle {

  font-size: 10px;
  font-weight: 600;
  color: ~colors.ultra_dark;
}

.errorContainer {
  composes: subContainer;
  text-align: center;
  padding: 70px 20px 70px 20px;
  margin: 0 auto;
}
.quickcashTitle {
  font-size: 15px;

  color: ~colors.dark_new2;
  margin-top: 3px;
}

.couponsTitle {
  text-align: left;
  padding-top: 16px;
  width: 100%;
  padding-left: 16px;
  display: inline-block;
  font-size: 20px;

  color: ~colors.ultra_dark;
  font-weight: 600;
  box-sizing: border-box;
}

.userLP {

  font-size: 32px;
  font-weight: 600;
  display: inline-block;
}

.lpDesc {
  width: 200px;
  text-align: left;
  position: absolute;
  left: 58px;
  top: 6px
}
.lpDescloggedout {
  width: 200px;
  text-align: left;
  position: absolute;
  left: 58px;
  top: 30px
}

.noDisplay {
  display: none;
}
.rupee {
  display: inline;
}

.couponsContainer {
  background-color: ~colors.white;
  padding-bottom: 16px;
  margin-top: 16px;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  {
    .mainContainer {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .gameLink {
    width: 140px;
  }
  .changeLink {
    width: 290px;
  }
}

@media screen and (min-width: 600px) {
  .subContainer {
    max-width: 360px;
  }
  .mainContainer {
    background-color: ~colors.sky_blue2;
  }
}
