.container {
  margin: 16px 0 16px 0px;
  box-shadow: 0 0 12px 0 rgba(148,150,159,0.15);
  background: linear-gradient(45deg, rgb(255,230,236) 50%, rgb(252,217,226) 100%);
  border-radius: 4px;
}

.container img {
  width: 100%;
  border-radius: 4px;
}