.joinGroupBaseContainer {
  background-image: -webkit-linear-gradient(145deg, rgba(255,218,227,1) 40%, #FFEEDF 50%);
  position: relative;
  min-height: 600px;
}

.baseContainer {
  outline: none;
}

.mainContainer {
  background: ~colors.white;
  padding: 60px 32px 60px 32px;
  position: absolute;
  top: ~"calc(50% - 250px)";
  margin: 0 12px 0 12px;
}

.mainInfoHeading {
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  color: ~colors.black;
}

.description {
  color: ~colors.black_90;
  font-size: 18px;
  padding: 20px 0 20px 0;
}

.description span {
  font-weight: 500;
}

.action {
  width: 98%;
  border-radius: 3px;
  background-color: ~colors.white;
  border: 1px solid ~colors.black_30;
  margin: 30px 0 0px 0;
  text-align: center;
}

.action:hover {
  cursor: pointer;
}

.action button {
  color: ~colors.melon;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 16px 0 16px 0;
  background: ~colors.white;
  border: none;
  outline: none;
}

.noThankslink {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: ~colors.melon;
  font-weight: 500;
  margin: 0 0 32px 0;
}

.noThankslink:hover {
  cursor: pointer;
}

.next {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: ~colors.melon;
  margin: 32px 0 0px 0;

}

.whatIsMfgLink {
  margin: 20px 0 0 0;
}

.next:hover {
  cursor: pointer;
}

.errorDiv {
  min-height: 150px;
  position: relative;
}

.errorDiv span {
  position: absolute;
  top: ~"calc(50% - 20px)";
  left: ~"calc(50% - 150px)";
  color: ~colors.red;
}

.loaderDiv {
  min-height: 400px;
  position: relative;
}

.spinner {
  height: 16px;
  width: 16px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid ~colors.melon;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 8;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


/*Desktop */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1),
  screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px),
  screen
  and (min-device-width: 1200px),
  screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .baseContainer {
      background: #feedf6;
      background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
      background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
      background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
      min-height: 600px;
      padding: 80px 0;
      margin-top: -5px !important;
    }
    .joinGroupBaseContainer {
      max-width: 400px;
      margin: auto;

      min-height: 600px;
      background-image: none;
    }
    .loaderDiv, .errorDiv {
      min-height: 350px;
    }
}

@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .baseContainer {
      margin-top: -85px !important;
    }
  }
