.container {
  display: block;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width:100%;
  position: fixed;
  top:0;
  left: 0;
  bottom:0;
  right:0;
  z-index:10;
}
.slotsNotAvailable {
  font-size: 18px;
  color: #ff3f6c;
  margin-top: 30%;
}

.inner {
  position: relative;
  margin:0 auto;
  top:20%;
  height:470px;
  background: #fff;
  width:395px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  padding-top: 75px;
  box-sizing: border-box;
}

.close {
  position: absolute;
  height: 13px;
  width: 13px;
  top: 20px;
  right: 20px;
  background-position: -436px 0;
  cursor: pointer;
}

.current {
  color: #3e4152;
}

.current .title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 6px;
}

.current p {
  font-size: 16px;
  padding: 5px 0 5px;
  margin: 0;
  line-height: 22px;
}

.current p:nth-child(3) {
  padding-top: 15px;
}

.current .cinner {
  margin: 0 auto;
  max-width: 307px;
}

.slot {
  margin: 20px auto;
  width: 307px;
  height: 90px;
  background: url(https://constant.myntassets.com/web/assets/img/adctrl_bg.png) no-repeat;
  background-size: 100%;
}

.slot .image {
  width:99px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}

.slot img {
  height:auto;
  padding-top: 10px;
  width: 50px;
  border: none;
}

.slot .selected {
  display: inline-block;
  width: 207px;
  vertical-align: middle;
}

.slot .selected .date {
  font-size: 12px;
  color: #535766;
  letter-spacing: 1.3px;

}

.slot .selected .time {
  font-size: 18px;
  font-weight: 600;
  color: #282c3f;
  margin-top: 6px;
}

.current .moreslots {
  color: #526cd0;
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
}

.moreslots span {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.current .confirm {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  border-top: solid 1px #d5d6d9;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #14cda8;
}

.slots .title {
  font-size: 12px;
  color: #535766;
}

.slots .date {
  font-size: 14px;
  font-weight: 600;
  color: #3e4152;
  padding: 5px 0 10px;
  letter-spacing: 1.3px;
}

.slots .disabled span {
  color: #ff5722;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding-bottom: 2px;
}

.slots .selected {
  border-color: #14cda8;
  font-weight: 600;

}

.slotitems {
  max-height: 252px;
  overflow-y: scroll;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: solid 1px #d5d6d9;
  width: 100%;
}
.actions .cancel, .actions .confirm {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding:18px 0;
  width: 60%;
  font-size: 15px;
  font-weight: 600;
  color: #14cda8;
  cursor: pointer;
}

.actions .cancel {
    width: 40%;
    border-right:solid 1px #d5d6d9;
    color: #696e79;
}





@media all and (max-width: 480px) {
  .inner {
    display: block;
    padding-top:35px;
    font-size: 13px;
    width: 80%;
    height: 370px;
  }
  .current .title {
    font-size: 14px;
  }

  .current p {
    font-size: 12px;
    padding: 8px 0 0;
    line-height: 16px;
  }

  .current p:nth-child(3) {
    padding-top: 5px;
  }

  .current .cinner {
    width: 80%;
    padding-top: 10px;
  }
  .slot {
    width: 200px;
    max-width: 100%;
    margin: 20px auto;
    margin-bottom: 7px;
  }
  .slot .image {
    width: 55px;
    margin-top: -5px;
  }

  .slot img {
    width: 40px;
    height: auto;
    margin-left: -19px;
  }

  .slot .selected {
    width: 120px;
  }

  .slot .selected .date {
    font-size: 9px;
    letter-spacing: 1px;
  }

  .slot .selected .time {
    font-size: 11px;
  }

  .current .moreslots {
    font-size: 12px;
    padding-top: 5px;
  }

  .current .confirm {
    font-size: 12px;
    padding: 15px 0;
  }

  .slots .title {
    font-size: 12px;
  }

  .slots .date {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0 10px;
    letter-spacing: 1px;
  }

  .slots .item {
    font-size: 10px;
    width: 120px;
    padding: 11px 0;
    margin: 10px auto 0;

  }

  .slots .disabled {
    padding: 8px 0 9px;
  }

  .slots .selected {
    padding:10px 0 11px;
  }

  .slots .disabled span {
    font-size: 10px;
    padding-bottom: 2px;
  }

  .slotitems {
    max-height: 220px;
    overflow-y: scroll;
  }

  .actions .cancel, .actions .confirm {
    padding: 15px 0;
    width: 60%;
    font-size: 12px;
  }

  .actions .cancel {
      width: 40%;
  }

}


