.loyalty-points-block {
  display: inline-block;
}

/* Only give gradient to specific */
.sne-colour-gradient {
  background-image: linear-gradient(to right, #f9f9ff, #dee8ff);
}

.coinicon {
  max-height: 100%;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin-right: 4px;
  composes: mfuGoldCoinLarge from '../../resources/sprites.css';
}

.loyalty-points-msg {
  opacity: 0.9;
  text-align: left;
  padding: 0 12px 0 4px;
  color: #3e4152;
  line-height: 1.3;
  font-size: 14px;
}

.bannerImg {
  width: 54px;
  vertical-align: middle;
  margin-right: 8px;
}

.button-arrow{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 2px;
  border: solid #ff3e6c;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  margin-bottom: 1px;
  margin-right: 2px;
}

.loyalty-points-nonLoggedIn {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 14px;
  text-align: left;
  line-height: 1.3;
  padding: 0 8px;
  color: #3e4152;
  font-weight: 500;
  width: 300px;
}

.loyalty-points-value {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #3e4152;
}

.scratch-cards {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  color: #3e4152;
  padding: 0 8px;
  margin-right: 16px;
}

.scratch-cards > div + div {
  margin-top: 4px;
}

.bold-text {
  font-weight: 500;
}

.exchange-more-btn {
  /* border: none; */
  border-radius: 4px;
  border: solid 1px #c9dafd;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
	letter-spacing: 0.3px;
  text-align: center;
  height: 27px;
  line-height: 1.25em;
  color: #ff3f6c;
  background: none;
  padding: 1px 5px 0px 8px;
}

.extra-button-padding {
  padding-left: 4px;
  padding-right: 4px;
}


.mobile-loyalty-points-block {
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: ~colors.gold;
}

.mobile-coinicon {
  max-height: 100%;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  composes: mfuGoldCoinSmall from '../../resources/sprites.css';
}

.mobile-loyalty-points-msg {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 12px;
  text-align: left;
  padding-left: 4px;
  color: ~colors.ultra_dark;
}

.mobile-loyalty-points-nonLoggedIn {
  display: inline-block;
  opacity: 0.9;
  vertical-align: middle;
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  width: 150px;
  margin-right: 18px;
  padding-left: 5px;
  color: ~colors.ultra_dark;
  font-weight: 500;
}

.mobile-loyalty-points-value {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
}

.mobile-exchange-more-btn {
  position: absolute;
  right: 15px;
  margin-top: 5px;
  border-radius: 15px;
  border: 1px solid #535766;
  font-size: 10px;
  font-weight: 600;
	letter-spacing: 0.3px;
  text-align: center;
  line-height: 1.25em;
  padding: 4px 8px 3px 8px;
  background-color: ~colors.gold;
  color: ~colors.ultra_dark;
}

.mobile-extra-button-padding {
  padding-left: 4px;
  padding-right: 4px;
}
.rs {
  font-style: normal;
  font-size: 14px;
  letter-spacing: -3px;
}

.loyalty-points-info {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.loyalty-points-description {
  font-size: 12px;
  color: #535766;
  text-align: left;
}

.coin-image {
  padding: 0 1px;
  vertical-align: middle;
}