.product-code-and-supplier {
}

.productSellerName  {
  color: ~colors.ultra_dark;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.styleId {
  color: ~colors.ultra_dark;
  font-weight: 500;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.met-values {
  padding-top: 4px;
}

.product-code {
  font-size: 12px;
  margin-bottom: 6px;
  padding: 4px;
}

.product-code-separator {
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.supplier {
  color: ~colors.ultra_dark;
  font-size: 16px;
  padding: 4px 0px;
  margin-bottom: 6px;
}

.partner-name {
  color: ~colors.ultra_dark;
}

.viewmore-link {
  color: ~colors.ultra_dark;
  font-size: 14px;
  padding: 4px 0px;
  margin-bottom: 6px;
  font-weight: 500;
  cursor: pointer;
}

.manufacturer {
  color: ~colors.ultra_dark;
  font-size: 13px;
  padding: 4px 0;
  margin-bottom: 6px;
}

.mobileCodeSupplier {
  padding: 20px 20px;
  font-size: 13px;
  display: none;
}

.mobileCodeSupplier p:first-child {
  color: ~colors.black_90;
}


.mobileCodeSupplier p {
  color: ~colors.black_60;
  margin: 5px 0px;
}

.contactSellerContainer {
  display: inline-block;
}

.supplierContactTootip {
  position: absolute;
  top: 25px;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
  max-width: 490px;
  width: auto;
  transform: translateX(-50%);
  display: block;
  border-radius: 2px;
  padding: 12px 0px;
  font-size: 12px;
  background: ~colors.white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
  box-sizing: border-box;
  cursor: default;

  h4 {
    font-size: 14px;
    margin: 0px 0 12px 0;
    padding: 0 20px 15px 20px;
    color: ~colors.dark;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid ~colors.bberry_10;
    word-wrap: break-word;
  }

  .button {
    float: left;
    width: 49%;
    font-size: 12px;
    padding: 2px;
    text-transform: uppercase;
    font-weight: 500;
    color: ~colors.black_50;
    cursor: pointer;
  }

  span.button {
    border-right: 1px solid ~colors.bberry_10;
  }
  a.button {
    color: ~colors.new_link;
  }
}

.triangle-with-shadow {
  width: 60px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -30px;
  transform: rotate(180deg);
  overflow: hidden;
  box-shadow: 0 -16px 10px -17px rgba(0, 0, 0, 0.2);
}

.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
  top: -5px;
  left: 25px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.halfCardBackdrop {
  background: rgba(41,48,63,.58);
  position: fixed;
  top: 0;
  left: -4%;
  width: 104%;
  height: 100%;
  z-index: 10;
}

.contactSellerHalfCard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  background: ~colors.white;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  h4 {
    margin: 0;
    padding: 22px;
    border-bottom: 1px solid ~colors.bberry_10;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: ~colors.dark;
    text-align: left;
    word-wrap: break-word;
  }

  .button {
    float: left;
    width: 49%;
    font-size: 14px;
    padding: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 17px 0;
    color: ~colors.black_50;
  }

  span.button {
    border-right: 1px solid ~colors.bberry_10;
  }
  a.button {
    color: ~colors.green;
  }
}

.desktopCodeSupplier {
  margin-top: 15px;
  .productSellerName {
    display: inline-block;
  }
}

@media all and (max-width: 600px) {
  .desktopCodeSupplier {
    display: none;
  }
  .mobileCodeSupplier {
    display: block;
  }
}

@media all and (min-width: 980px) {
  .supplier::after {
    display: inline;
  }
}
