.container {
  max-width : 960px;
  margin: 0 auto;
  color: ~colors.black_90;
  ul, li {
    padding: 0;
    margin: 0;
  }
}

.header {
  padding: 20px 22px;
  border-bottom: 1px solid ~colors.bberry_10;

  h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: ~colors.black_90;
  }

  .additionInfoLinks {
    position: absolute;
    top: 21px;
    right: 70px;
    > .terms, .faqs {
        font-size: 12px;
        font-weight: 500;
        color: ~colors.blue_100;
        cursor: pointer;
    }
    .terms {
      margin-left: 10px;
      border-left: 1px solid ~colors.bberry_10;
      padding-left: 10px;
    }
  }
}

.disclaimer {
  padding: 12px 22px;
  border-bottom: 1px solid ~colors.bberry_10;
  font-size: 12px;
  color: ~colors.black_80;
}

.arrowRightBold {
  float: right;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 12px;
  composes: arrowRightBold from '../../resources/sprites.css';

  &.show {
    display: inline-block;
  }
}

.showEmiPlans {
  position: relative;
  top: 1px;
  left: -10px;
  composes: arrowLeftBold from '../../resources/sprites.css';
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 324px;

  > ul {
    flex: 0 0 auto;
  }

  .tabsNav {
    border-right: 1px solid ~colors.bberry_10;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      padding: 12px 28px 12px 22px;
      font-size: 13px;
      font-weight: 400;
      color: ~colors.black_60;
      cursor: pointer;
      border-bottom: 1px solid ~colors.bberry_10;
      width: 160px;
      position: relative;
      word-wrap: break-word;

      &.active {
         font-weight: 500;
         color: ~colors.ultra_dark;
      }
    }
  }

  .tabsContent {
    flex-grow: 1;

    .tab {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

.emiTable {
  border-collapse: collapse;
  margin: 0;
  width: 100%;

  th {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: ~colors.black_50;
    padding: 12px 5px;
    border-bottom: 1px solid ~colors.bberry_10;
  }

  td {
    padding: 7px 5px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: ~colors.black_90;
  }
}

.mobileTable {
  margin: 15px 0 5px;

  th {
    border-right: 1px solid ~colors.bberry_10;
    padding: 5px 5px;

    &:last-child {
      border-right: none;
    }
  }

  tr {
    border-bottom: 1px solid ~colors.bberry_10;
    &:last-child {
      border-bottom: none;
    }

    td {
      border-right: 1px solid ~colors.bberry_10;
      &:last-child {
         border-right: none;
      }
    }
  }
}

.noResults {
  color: ~colors.red;
  margin: 100px 0;
  text-align: center;
}

.termsDetails {
  font-size: 12px;
  font-weight: 400;

  ul > li {
    margin-bottom: 15px;
    list-style-type: decimal;
    margin-left: 11px;
  }
}

.desktopTerms{
  padding: 20px 22px 20px 38px;
  height: 377px;
  overflow-y: auto;
  h5 {
    margin: 0;
  }
}

