@import 'normalize';


body {
  width:100%;
  overflow-x:hidden;
  font-family: "Whitney", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mountRoot iframe {
  display: block;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.base {
  color: inherit;
}

@media all and (min-width: 980px) {
  .base {
    margin-top: 50px;
  }
}

:global(.eors-pr-timer){
  z-index: 1;
}
