.button {
  composes: gototop from '../../../../resources/sprites.css';
  right: 30px;
  margin-top: -25px;
  top: 95%;
  position: fixed;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
}

.isVisible {
  opacity: 1;
  visibility: visible;
  z-index:10;
}
