.groupStatusContainer {
  padding: 0 0 5px 0;
}

.groupStatusMembersContainer {
  background: rgb(255, 242, 250);
  border: 1px solid rgb(245, 229, 247);
  margin: 16px 0 0 0;
  border-radius: 3px;
}

.statusText {
  font-size: 16px;
  color: #F8B1B8;
  text-align: left;
  font-weight: 500;
  line-height: 19px;
  padding: 15px 0 3px 20px;
}

.minGroupSizeInfo {
  text-align: left;
  padding: 0 0 10px 20px;
  font-size: 14px;
  color: ~colors.black;
  line-height: 22px;
}

.groupSizeInfo {
  font-size: 24px;
  font-weight: 500;
  padding: 20px 5% 32px 5%;
}

.groupSizeInfo span {
  font-size: 18px;
  font-weight: normal;
}

.bold {
  font-weight: 500;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .groupStatusMembersContainer {
      box-shadow: none;
    }
}

/* for firefox */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    .groupStatusMembersContainer {
      box-shadow: none;
    }
}

/* for large desktops */
@media screen
  and (min-device-width: 1200px) {
    .groupStatusMembersContainer {
      box-shadow: none;
    }
}
