.tabsNav {
  li {
    padding: 12px 0 !important;
    font-size: 14px;
    font-weight: 500;
    color: ~colors.black;
    cursor: pointer;
    border-bottom: 1px solid ~colors.bberry_10;
    border-right: 1px solid ~colors.bberry_10;
  }
  .bankName {
    padding: 0 40px 0 22px;
    position: relative;
  }
}

.arrowIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}

.arrowDownBold {
  float: right;
  composes: arrowDownBold from '../../../resources/sprites.css';
}

.arrowRightBold {
  float: right;
  composes: arrowRightBold from '../../../resources/sprites.css';
}

.terms {
  font-size: 14px;
  font-weight: 500;
  color: ~colors.black_90;
  display: block;
  padding: 0 22px;
  margin: 20px 0;
}

.faqs {
  color: ~colors.blue_100;
  float: right;
}
