.container {
  margin: 0 8px 0px 8px;
  height: 80px;
}

.subcontainer {
  position: relative;
  padding: 21.5px 12px 21.5px 12px;
}

.highlight {
  border: solid 1px ~colors.mynt;
  border-radius: 3px;
  background-color: ~colors.white;
  margin: 0 8px 0px 8px;
  height: 80px;
}

.highlight:hover {
  cursor: pointer;
}

.rank {
  position: absolute;
  top: 30px;
  left: 12px;
  font-size: 14px;
  font-weight: 500;
  color: ~colors.black_60;
  word-wrap: break-word;
  max-width: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  position: absolute;
  top: 23px;
  left: 100px;
  width: 123px;
  font-size: 16px;
  font-weight: 500;
  color: ~colors.black_80;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  position: absolute;
  top: 23px;
  left: 53px;
  width: 35px;
  height: 35px;
}

.icon img {
  width: 35px;
  height: 35px;
}

.members {
  position: absolute;
  top: 42px;
  left: 100px;
  font-size: 13px;
  font-style: italic;
  color: ~colors.black_60;
}

.totalShoppedAmount {
  position: absolute;
  top: 23px;
  right: 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  color: ~colors.black_90;
}

.totalSavedAmount {
  position: absolute;
  top: 42px;
  right: 10px;
  font-size: 13px;
  text-align: right;
  color: ~colors.black_90;
}

.borderDiv {
  position: absolute;
  top: 79px;
  left: 43px;
  right: 10px;
  border-bottom: 1px solid ~colors.black_20;
}

/*Desktop */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .name {
      width: 200px;
    }
}

/* for firefox */
@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    .name {
      width: 200px;
    }
}

/* for large desktops */
@media screen
  and (min-device-width: 1200px) {
    .name {
      width: 200px;
    }
}
