.ratingBarContainer {
  margin-left: 46px;
  height: 18px;

  .flexRow {
    display: flex;
    flex-direction: row;
  }

  .rating {
    display: flex;
    font-size: 14px;
    color: #a9abb3;

    .ratingLevel {
      width: 7px;
    }
  }

  progress {
    border: none;
    margin-top: 6px;
    width: 120px;
    height: 4px;
    background: #f5f5f6;
  }

  progress::-webkit-progress-bar {
    background: #f5f5f6;
  }

  // Chrome, Safari
  progress[data-rating="5"]::-webkit-progress-value {
      background: #14958f;
  }

  progress[data-rating="4"]::-webkit-progress-value {
    background: #14958f;
  }

  progress[data-rating="3"]::-webkit-progress-value {
    background: #72bfbc;
  }

  progress[data-rating="2"]::-webkit-progress-value {
    background: #fcb301;
  }

  progress[data-rating="1"]::-webkit-progress-value {
    background: #f16565;
  }

  // Firefox
  progress[data-rating="5"]::-moz-progress-bar {
    background: #14958f;
  }

  progress[data-rating="4"]::-moz-progress-bar {
    background: #14958f;
  }

  progress[data-rating="3"]::-moz-progress-bar {
    background: #72bfbc;
  }

  progress[data-rating="2"]::-moz-progress-bar {
    background: #fcb301;
  }

  progress[data-rating="1"]::-moz-progress-bar {
    background: #f16565;
  }

  // Other browsers
  progress[data-rating="5"] {
    color: #14958f;
  }

  progress[data-rating="4"] {
    color: #14958f;
  }

  progress[data-rating="3"] {
    color: #72bfbc;
  }

  progress[data-rating="2"] {
    color: #fcb301;
  }

  progress[data-rating="1"] {
    color: #f16565;
  }

  .count {
    font-size: 12px;
    color: #282c3f;
    margin-left: 9px;
  }
}

.grayStarIcon {
  composes: productRatingsGrayIcon from '../../../resources/sprites.css';
  margin: 2px 3px;
  transform: scale(0.8);
}
