.dropdownFilterContainer {
  position: relative;
  font-size: 14px;
  padding-right: 18px;

  .active {
    color: #ff3f6c;
    cursor: pointer;

    span > .starIcon {
      background-position: -288px -95px;
    }
  }
  
  .dropdown {
    opacity: 0;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    top: 100%;
    width: 148px;
    padding: 13px 15px;
    box-sizing: border-box;
    right: 0;
    transition: top 0.3s, opacity 0.1s;
    
    &.open {
      z-index: 1;
      transition: top 0.3s, opacity 0.1s;
      opacity: 1;
      top: 140%;
      color: #ff3f6c;
      cursor: pointer;
    }
  }

  .heading {
    color: #a9abb3;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: -5px;
  }

  .item {
    font-weight: 600;
    color: #535766;
    margin-top: 12px;
    cursor: pointer;

    &.active {
      color: #ff3f6c;
    }
  }

  .divider {
    margin: 15px 0;
    height: 1px;
    background-color: #eaeaec;
  }

  .arrowIcon {
    transform: rotate(90deg);
    position: absolute;
    right: 6px;
    top: 6px;

    &.active {
      transform: rotate(-90deg);
      top: 3px;
    }
  }
}

.arrowIcon {
  composes: reviewFilterDropdownArrow from '../../../resources/sprites.css';
  transform: scale(1.3);
}

.starIcon {
  composes: startIconDefault from '../../../resources/sprites.css';
  transform: scale(2);
  margin:  0 3px 3px 2px;
}
